<div bsModal #childModal="bs-modal" class="login-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Log Into Your Account</h3>
                <p>Download any of our thousands of releases from your account.</p>
                <form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">
                    <div class="form-group">
                        <input ngModel type="text" name="username" id="loginUsername" placeholder="Username" class="form-control input-lg" />
                        <input ngModel type="password" name="password" id="loginPassword" placeholder="Password" class="form-control input-lg" />
                    </div>
                    <div>
                        <label class="cursor-pointer">
                            <input type="checkbox" name="isChecked" [(ngModel)]="isChecked">
                            Keep Me Signed In
                        </label>
                    </div>
                    <p><a (click)="openForgotPasswordModal()">Forgot your password?</a></p>
                    <button type="submit" class="button button-gold-border">Log In</button>
                </form>
            </div>
            <div class="modal-overlay"></div>
        </div>
    </div>
</div>

<div bsModal #forgotPasswordModal="bs-modal" class="forgot-password-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Forgot Your Password?</h3>
                <p>Enter the email account you have on file for this account. We'll send you a link to help you reset your password.</p>
                <form (ngSubmit)="submitPasswordForm(forgotPasswordForm.value)" #forgotPasswordForm="ngForm">
                    <div class="form-group">
                        <input ngModel type="email" name="email" id="email" placeholder="Email Address" class="form-control input-lg" />
                    </div>
                    <button type="submit" class="button button-gold-border">Send Reset Link</button>
                </form>
            </div>
            <div class="modal-overlay"></div>
        </div>
    </div>
</div>

<div bsModal #renewAccountModal="bs-modal" class="renew-account-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Log Into Your Account</h3>
                <p>Simply login to renew your membership.</p>
                <form (ngSubmit)="submitRenewForm(renewAccountForm.value)" #renewAccountForm="ngForm">
                    <div class="form-group">
                        <input ngModel type="text" name="username" id="username" placeholder="Username" class="form-control input-lg" />
                        <input ngModel type="password" name="password" id="reset_email" placeholder="Password" class="form-control input-lg" />
                    </div>
                    <p><a (click)="openForgotPasswordModal()">Forgot your password?</a></p>
                    <button type="submit" class="button button-gold-border">Log In</button>
                </form>
            </div>
            <div class="modal-overlay"></div>
        </div>
    </div>
</div>
