<section class="account">
    <div class="main">
        <div class="container">
            <h2>My Account</h2>

            <div class="account-column col-md-2">
                <div class="account-row row">
                    <div class="account-image col-sm-12">
                        <img *ngIf="account?.image" src="{{ account?.image }}/150" />
                        <div ng2FileDrop [class.over]="hasDropZoneOver" (fileOver)="fileOver($event)" [uploader]="uploader" class="my-drop-zone">
                            <div *ngIf="hasDropZoneOver">Drop your image here!</div>
                        </div>
                        <div class="col-sm-12 no-padding-side">
                            <button class="manage-profile-btn button-gold" (click)="goToProfile()">Manage Profile</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="account-column col-md-5">
                <div class="account-row row">
                    <div class="account-info col-sm-12">
                        <h2>{{ account?.djname }}</h2>
                        <p class="name">{{ account?.name }}</p>
                        <p class="email">{{ account?.email }}</p>
                        <p class="address">{{ account?.city }}, {{ account?.state }}</p>
                        <button class="edit-account button-gold" (click)="openAccountModal()">Edit Account</button>
                    </div>
                </div>
                <div class="account-row payment-row row">
                    <div class="account-info col-sm-12" *ngIf="account.payment_type == 'Stripe'">
                        <h2>Payment</h2>
                        <p class="payment-card">{{ account?.card_brand | uppercase }} **** **** **** {{ account?.card_last_four }}</p>
                        <p class="payment-expiration">Expires {{ account?.card_exp }}</p>

                        <button class="edit-payment button-gold" (click)="openPaymentModal()">Edit Payment Info</button>
                    </div>
                    <div class="account-info col-sm-12" *ngIf="account.payment_type == 'Paypal'">
                        <h2>Payment</h2>
                        <p class="payment-card">Your account is paid through a Paypal subscription. Please visit your Paypal account to modify your
                            payment information.</p>
                    </div>
                </div>
            </div>
            <div class="misc-column col-md-5">
                <div class="dropbox-row">
                    <h2>crateQ Desktop Downloader</h2>
                    <p>Your LNRP account works with crateQ's desktop downloader. You can search, preview, queue and download
                        tracks directly on the software app. For more information visit www.crateQ.com/LNRP</p>
                    <button class="button button-gold" (click)="openCrateQDowload()">Download crateQ</button>
                </div>
                <div class="dropbox-row" *ngIf="dropboxConnected">
                    <h2>Dropbox</h2>
                    <p>Your account has been successfully linked to a Dropbox account.</p>
                    <p class="name" *ngIf="account.dropbox_info">{{ account?.dropbox_info.name.display_name }}</p>
                    <p class="email" *ngIf="account.dropbox_info">{{ account?.dropbox_info.email }}</p>
                    <button class="button button-gold" (click)="unlinkDropboxAccount()">Unlink My Account</button>
                </div>
                <div class="dropbox-row" *ngIf="!dropboxConnected">
                    <h2>Dropbox</h2>
                    <p>Got a dropbox account? Click the button below to link your Dropbox account to LNRP. With a linked Dropbox
                        account, you'll be able to download all our Zips and MP3s straight to your Dropbox account.</p>
                    <button class="button button-gold" (click)="openDropboxLink()">Link My Account</button>
                </div>
                <!-- <div class="advertisement" *ngIf="display.advertisement">
                    <h6>You might be interested in:</h6>
                    <img src="assets/img/advertisement-placeholder.png" />
                    <img src="assets/img/advertisement-placeholder.png" />
                </div>
                <div class="social-box">
                    <div class="social-text">
                        <p>Connect on Social Media</p>
                        <div class="social-icons">
                            <a href="https://twitter.com/lnrecordpool" target="_blank" class="social-icon twitter">Twitter</a>
                            <a href="https://www.instagram.com/latenightrecordpool/" target="_blank" class="social-icon instagram">Instagram</a>
                            <a href="https://www.facebook.com/Late-Night-Record-Pool-100690459982566/" target="_blank" class="social-icon facebook">Facebook</a>
                        </div>
                    </div>
                    <div class="overlay"></div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<div bsModal #accountModal="bs-modal" class="account-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Edit Your Account</h3>
                <form (ngSubmit)="onSubmit(accountForm.value)" #accountForm="ngForm">
                    <div class="col-lg-12">
                        <p class="upload-instruction">(You can drag images onto your user image to upload a new one)</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="account_name">Name</label>
                            <input ngModel type="text" name="account_name" id="account_name" placeholder="Name" class="form-control input-sm" [(ngModel)]="account.name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="account_email">Email</label>
                            <input ngModel type="text" name="account_email" id="account_email" placeholder="Email" class="form-control input-sm" [(ngModel)]="account.email"
                            />
                        </div>
                        <div class="form-group">
                            <label for="account_djname">DJ Name</label>
                            <input ngModel type="text" name="account_djname" id="account_djname" placeholder="DJ Name" class="form-control input-sm"
                                [(ngModel)]="account.djname" />
                        </div>
                        <div class="form-group">
                            <label for="account_address">Address</label>
                            <input ngModel type="text" name="account_address" id="account_address" placeholder="Address" class="form-control input-sm"
                                [(ngModel)]="account.address" />
                        </div>
                        <div class="form-group">
                            <label for="account_city">City</label>
                            <input ngModel type="text" name="account_city" id="account_city" placeholder="City" class="form-control input-sm" [(ngModel)]="account.city"
                            />
                        </div>
                        <div class="form-group">
                            <label for="account_state">State</label>
                            <input ngModel type="text" name="account_state" id="account_state" placeholder="State" class="form-control input-sm" [(ngModel)]="account.state"
                            />
                        </div>
                        <div class="form-group">
                            <label for="account_zip">Zip Code</label>
                            <input ngModel type="text" name="account_zip" id="account_zip" placeholder="Zip Code" class="form-control input-sm" [(ngModel)]="account.zip"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="account_phone">Phone Number</label>
                            <input ngModel type="text" name="account_phone" id="account_phone" placeholder="Phone Number" class="form-control input-sm"
                                [(ngModel)]="account.phone" />
                        </div>
                        <div class="form-group">
                            <label for="account_facebook">Facebook</label>
                            <input ngModel type="text" name="account_facebook" id="account_facebook" placeholder="Facebook" class="form-control input-sm"
                                [(ngModel)]="account.facebook" />
                        </div>
                        <div class="form-group">
                            <label for="account_twitter">Twitter</label>
                            <input ngModel type="text" name="account_twitter" id="account_twitter" placeholder="Twitter" class="form-control input-sm"
                                [(ngModel)]="account.twitter" />
                        </div>
                        <div class="form-group">
                            <label for="account_youtube">Youtube</label>
                            <input ngModel type="text" name="account_youtube" id="account_youtube" placeholder="Youtube" class="form-control input-sm"
                                [(ngModel)]="account.youtube" />
                        </div>
                        <div class="form-group">
                            <label for="account_soundcloud">Soundcloud</label>
                            <input ngModel type="text" name="account_soundcloud" id="account_soundcloud" placeholder="Soundcloud" class="form-control input-sm"
                                [(ngModel)]="account.soundcloud" />
                        </div>
                        <div class="form-group">
                            <label for="account_instagram">Instagram</label>
                            <input ngModel type="text" name="account_instagram" id="account_instagram" placeholder="Instagram" class="form-control input-sm"
                                [(ngModel)]="account.instagram" />
                        </div>
                        <div class="form-group">
                            <label for="account_password">Password</label>
                            <input ngModel type="text" name="account_password" id="account_password" placeholder="Enter a new password" class="form-control input-sm"
                                [(ngModel)]="account.password" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="button button-gold-border">Save Changes</button>
                    </div>
                </form>
            </div>
            <div class="modal-overlay"></div>
        </div>
    </div>
</div>

<div bsModal #paymentModal="bs-modal" class="payment-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Change Your Payment Information</h3>
                <p>Fill out the form below to change your payment information</p>
                <form (ngSubmit)="updateCard(paymentForm)" #paymentForm="ngForm">
                    <div class="form-group">
                        <label for="cardNumber">Card Number</label>
                        <input ngModel type="text" name="cardNumber" id="cardNumber" placeholder="####-####-####-####" class="form-control input-md"
                        />
                    </div>
                    <div class="form-group col-lg-6 no-padding-left">
                        <label for="cardExpMonth">Expiration Month</label>
                        <select ngModel id="cardExpMonth" name="cardExpMonth" class="form-control input-md">
                            <option value="01">Jan</option>
                            <option value="02">Feb</option>
                            <option value="03">Mar</option>
                            <option value="04">Apr</option>
                            <option value="05">May</option>
                            <option value="06">Jun</option>
                            <option value="07">Jul</option>
                            <option value="08">Aug</option>
                            <option value="09">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6 no-padding-right">
                        <label for="cardExpYear">Expiration Year</label>
                        <select ngModel name="cardExpYear" id="cardExpYear" class="form-control input-md">
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                            <option>2026</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6 no-padding-left">
                        <label for="cardCVV">CVV Code</label>
                        <input ngModel type="text" name="cardCVV" id="cardCVV" placeholder="111" class="form-control input-md" />
                    </div>
                    <div class="form-group col-lg-6 no-padding-right">
                        <label for="cardZip">Zip Code</label>
                        <input ngModel type="text" name="cardZip" id="cardZip" placeholder="66532" class="form-control input-md" />
                    </div>
                    <button type="submit" class="button button-gold-border">Save Changes</button>
                </form>
            </div>
            <div class="modal-overlay"></div>
        </div>
    </div>
</div>