<section>
  <div class='modal-body profile-welcome-modal'>
    <div class='contents'>
      <h3>Welcome!</h3>
      <div class="welcome-contents">
        Welcome to the Late Night family, we'd like to get to know you a little more. Please fill out the optional information so we can further curate our content to meet your expectations.
      </div>
    </div>
    <div class='button-group'>
      <button class='button button-gold-border' (click)='onAgree()'>OK</button>
    </div>
  </div>
  <div class='modal-overlay'></div>
</section>