@import 'mixins';
@import 'buttons';
@import 'fonts';

section {
    &.account {
        background-color: #181C27;

        color: white;

        font-family: 'Roboto', sans-serif;

        padding: 10px 0 40px;

        h2 {
            font-family: 'Roboto Slab', serif;
        }

        .account-column {
            .account-row {
                min-height: 230px;
                display: flex;
                .account-image {
                    margin-top: 20px;
                    margin-right: 20px;

                    position: relative;

                    width: 150px;
                    height: 150px;

                    padding: 0;

                    img {
                        border-style: solid;
                        border-width: 2px;
                        border-color: #FDD54B;
                        @include roundedCorners(10px);
                        width: 100%;
                        height: 100%;

                        z-index: 50;
                    }

                    > div {
                        &.my-drop-zone {
                            position: absolute;

                            top: 0;
                            bottom: 0;

                            width: 100%;
                            height: 100%;

                            z-index: 55;

                            div {
                                color: black;

                                width: 100%;

                                text-align: center;

                                margin-top: 60px;
                            }

                            &.over {
                                background-color: rgba(147, 147, 147, .8);
                            }
                        }
                    }
                }

                .upload-instruction {
                    font-size: 11px;
                    color: white;
                }

                .account-info {
                    width: calc(100% - 180px);
                }

                .edit-account {
                    font-size: 14px;

                    margin-top: 25px;
                    padding: 10px 45px;
                }

                .manage-profile-btn {
                    font-size: 14px;
                    margin-top: 20px;
                    padding: 10px 26px;
                }
            }

            .payment-row {
                .payment-card {
                    margin-top: 25px;
                }

                // .payment-expiration {

                // }

                .edit-payment {
                    font-size: 14px;

                    margin-top: 25px;
                    padding: 10px 45px;
                }
            }
        }

        .misc-column {

            .dropbox-row {
                min-height: 230px;

                button {
                    font-size: 14px;
                    margin-top: 15px;
                    padding: 10px 45px;
                }
            }

            .advertisement {
                h6 {
                    text-align: center;

                    margin: 25px 0 15px;
                }
            }

            .social-box {
                display: block;
                float: left;

                position: relative;

                width: 100%;

                border-style: solid;
                border-width: 6px 2px 0;
                border-color: #D6AA3B #4D4535 #000;

                background-color: #25282F;

                margin: 25px 0;

                .social-text {
                    text-align: center;

                    position: relative;

                    z-index: 10;

                    margin-top: 10px;

                    .social-icons {
                        width: 240px;
                        margin: 25px auto 35px;
                        padding-left: 30px;
                        padding-bottom: 40px;

                        a,
                        a:visited,
                        a:hover,
                        a:link {
                            display: block;
                            float: left;

                            height: 50px;
                            width: 50px;

                            margin-right: 20px;

                            text-indent: -9999px;

                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: contain;

                            &.social-icon.twitter {
                                background-image: url('assets/img/icon-twitter-yellow.svg');
                            }

                            &.social-icon.instagram {
                                background-image: url('assets/img/icon-instagram-yellow.svg');
                            }

                            &.social-icon.facebook {
                                background-image: url('assets/img/icon-facebook-yellow.svg');
                            }
                        }
                    }
                }

                .overlay {
                    position: absolute;

                    z-index: 5;

                    width: 100%;
                    height: 100%;

                    top: 0;
                    left: 0;

                    opacity: .15;

                    background-image: url('assets/img/bg-diagonal-grey.png');
                }
            }
        }
    }
}

.modal {
    z-index: 2000;

    &.account-modal,
    &.payment-modal {
        color: white;

        font-family: 'Roboto', sans-serif;

        .modal-dialog {
            width: 600px;
            height: 685px;

            .modal-content {
                position: relative;

                height: 100%;
                width: 100%;

                border-style: solid;
                border-color: #FFD887;
                border-width: 5px 0 0;

                @include linearGradientAngle(135deg, #3D4444, #172A42);
                @include roundedCorners(0);

                .modal-body {
                    position: absolute;

                    top: 0;
                    left: 0;

                    padding: 30px 20px 0;

                    z-index: 10;

                    text-align: center;

                    width: 100%;

                    h3 {
                        font-family: 'Roboto Slab', serif;

                        margin-top: 0;
                    }

                    label {
                        width: 100%;

                        text-align: left;
                    }

                    button {
                        &.button {
                            text-align: center;

                            border-style: solid;
                            border-width: 3px;

                            padding-top: 8px;
                            padding-bottom: 8px;
                            padding-left: 0;
                            padding-right: 0;

                            width: 100%;

                            margin: 15px auto 0;
                        }

                        &.button-gold-border {
                            color: #FFD887;

                            border-style: solid;
                            border-color: #FFD887;
                            border-width: 1px;

                            background: transparent;

                            @include roundedCorners(30px);
                            @include transition(background-color .3s);

                            &:hover {
                                background-color: rgba(144,113,46,0.75);
                            }
                        }
                    }
                }
            }
        }
    }

    &.payment-modal {
        .modal-dialog {
            height: 420px;
        }
    }

    &.dropbox-link-modal {
        .modal-dialog {
            width: 55%;
            height: 400px;

            .modal-content {
                @include roundedCorners(0);

                .modal-body {
                    padding: 0;

                    iframe {
                        border: none;

                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
