@import 'mixins';
@import 'buttons';
@import 'fonts';

section {
    &.advanced-search {
        color: white;

        font-family: 'Roboto', sans-serif;

        .section-toggle-switch {
            padding-top: 15px;
            line-height: 30px;
            span {
                padding-left: 10px;
            }
        }

        .year-range-selector {
            padding-bottom: 10px;

            .year-range-dash {
                padding-left: 10px;
                padding-right: 10px;
            }
            
            .year-select-style {
                display: inline;
            }
            .year-select-style select {
                padding: 5px 8px;
                border: 2px solid #B7AB92;
                border-radius: 30px;
                -webkit-box-shadow: none;
                color: #B7AB92;
                box-shadow: none;
                background: transparent;
                background-image: none;
                -webkit-appearance: none;
                cursor: pointer;
            }
            .year-select-style select:focus {
                outline: none;
            }
            .year-select-style select:hover {
                color: white;
                border-color: #E9BD61;
                background-color: #90712E;
            }
            .year-select-chosen select{
                color: white;
                border-color: #E9BD61;
                background-color: #90712E;
            }
        }

        .item-group {
            display: block;
            float: left;

            width: 100%;

            .list-item {
                display: block;
                float: left;

                color: #B7AB92;

                border-style: solid;
                border-color: #B7AB92;
                border-width: 3px;

                padding: 3px 10px;

                margin-bottom: 10px;
                margin-right: 10px;

                @include roundedCorners(30px);

                cursor: pointer;

                &:hover,
                &.selected {
                    color: white;

                    border-color: #E9BD61;

                    background-color: #90712E;
                }
            }
        }

        .item-text {
            display: block;
            float: left;
        }

        .item-remove {
            display: block;
            float: left;

            height: 12px;
            width: 12px;

            background-image: url('assets/img/icon-close.png');
            background-repeat: no-repeat;
            background-position: center center;

            @include backgroundSize(contain);

            margin-top: 4px;
            margin-left: 7px;

            cursor: pointer;
        }

        .clear-all {
            display: block;
            float: left;

            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        div {
            &.header {
                position: relative;

                background-image: url('assets/img/bg-triangle-dark.png');

                div {
                    &.container {
                        position: relative;

                        z-index: 10;

                        text-align: center;

                        padding: 10px 0 25px;

                        h1 {
                            font-family: 'Roboto Slab', serif;
                            font-size: 30px;

                            letter-spacing: 1px;
                        }

                        h3 {
                            font-size: 14px;
                        }
                    }

                    &.overlay {
                        position: absolute;

                        top: 0;
                        left: 0;

                        z-index: 5;

                        width: 100%;
                        height: 100%;

                        background-image: url('assets/img/bg-diagonal-grey.png');
                    }
                }
            }

            &.search-params {
                padding: 10px 0 50px;

                h1 {
                    display: block;
                    float: left;

                    font-family: 'Roboto Slab', serif;
                    font-size: 28px;

                    margin-bottom: 10px;

                    width: 100%;
                }

                div {
                    &[class^="section"] {
                        float: left;
                        width: 100%;
                    }

                    &.section-search {
                        .input-group {
                            width: 75%;

                            margin-bottom: 15px;

                            input {
                                color: white;

                                border: none;

                                height: 45px;

                                font-size: 15px;

                                background-color: rgba(40, 117, 156, .5);

                                @include placeholder-color(#60646E);
                                @include roundedCorners(30px 0 0 30px);
                            }

                            span {
                                color: white;

                                border: none;

                                font-size: 15px;

                                cursor: pointer;

                                background-color: #1E6081;

                                @include roundedCorners(0 30px 30px 0);
                            }
                        }
                    }

                    &.section-letter {
                        .letter-items {
                            .list-item {
                                padding: 3px 0;
                                width: 32px;
                                text-align: center;
                            }
                        }
                    }

                    &.section-misc {
                        h1 {
                            display: block;
                            float: left;

                            width: inherit;
                        }

                        .checkbox {
                            display: block;
                            float: left;

                            width: 30px;
                            height: 25px;

                            margin: 20px 30px 0 10px;

                            background-image: url('assets/img/form-checkbox.png');
                            background-repeat: no-repeat;
                            background-position: center center;

                            @include backgroundSize(cover);

                            cursor: pointer;

                            &.active {
                                background-image: url('assets/img/form-checkbox-active.png');
                            }
                        }
                    }
                }
            }

            &.genre-params {
                position: relative;

                padding: 10px 0 50px;

                background-image: url('assets/img/bg-triangle-dark.png');

                div {
                    &.container {
                        position: relative;

                        z-index: 10;

                        h1 {
                            font-family: 'Roboto Slab', serif;
                            font-size: 28px;
                        }

                        .genre-column {
                            padding-right: 0;

                            height: 430px;

                            overflow: scroll;
                            overflow-x: hidden;
                            overflow-y: scroll;

                            .genre-items {
                                .genre-item {
                                    display: block;
                                    float: left;

                                    width: 100%;

                                    padding: 10px 20px;

                                    &.selected {
                                        background-color: #24476D;
                                    }

                                    .genre-link {
                                        display: block;
                                        float: left;

                                        position: absolute;

                                        cursor: pointer;

                                        width: 100%;
                                        height: 100%;

                                        top: 0;
                                        left: 0;

                                        z-index: 20;

                                        color: white;

                                        font-family: 'Roboto', sans-serif;

                                        font-size: 19px;

                                        padding-top: 17px;
                                        padding-left: 66px;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }

                        .subgenre-column {
                            padding-left: 0;
                            padding-right: 0;

                            height: 430px;

                            overflow: hidden;

                            .subgenre-items {
                                .subgenre-container {
                                    display: block;
                                    float: left;

                                    width: 100%;
                                    height: 430px;

                                    padding: 10px;

                                    border-style: solid;
                                    border-color: #24476D;
                                    border-width: 0 0 0 6px;

                                    @include linearGradientAngle(90deg, rgba(39, 53, 51, 1), rgba(29, 45, 62, .3));

                                    .subgenre-item {
                                        display: block;
                                        float: left;

                                        width: 33%;

                                        font-size: 15px;

                                        margin: 2px 0;

                                        cursor: pointer;

                                        &.parent-genre {
                                            color: #FAAC46;

                                            text-transform: uppercase;
                                        }

                                        &.selected {
                                            .item-text {
                                                padding: 3px 10px;

                                                color: white;

                                                border-style: solid;
                                                border-color: #E9BD61;
                                                border-width: 3px;

                                                background-color: #90712E;

                                                @include roundedCorners(30px);
                                            }
                                        }

                                        .item-text {
                                            padding: 6px 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.overlay {
                        position: absolute;

                        top: 0;
                        left: 0;

                        z-index: 5;

                        width: 100%;
                        height: 100%;

                        background-image: url('assets/img/bg-diagonal-grey.png');
                    }
                }
            }

            &.label-params {
                position: relative;

                padding: 10px 0 50px;

                div {
                    &.container {
                        position: relative;

                        z-index: 10;

                        h1 {
                            display: block;
                            float: left;

                            font-family: 'Roboto Slab', serif;
                            font-size: 28px;

                            margin-bottom: 10px;

                            width: 100%;
                        }

                        .labels-container {
                            .label-item {
                                font-size: 15px;

                                margin: 2px 0;

                                cursor: pointer;

                                &.selected {
                                    .label-text {
                                        padding: 3px 10px;

                                        color: white;

                                        border-style: solid;
                                        border-color: #E9BD61;
                                        border-width: 3px;

                                        background-color: #90712E;

                                        @include roundedCorners(30px);
                                    }
                                }

                                .label-text {
                                    padding: 6px 13px;
                                }
                            }
                        }
                    }
                }
            }

            &.search-button {
                height: 85px;

                text-align: center;

                background-image: url('assets/img/bg-triangle-blue.png');

                button {
                    position: relative;

                    top: -25px;

                    z-index: 20;

                    border: none;

                    font-family: 'Roboto Slab', serif;
                    font-size: 20px;

                    padding: 15px 100px;

                    @include linearGradientAngle(#FFD887, #E9BD61, 270);

                    // @include linearGradientAngle(#23767E, #1C6890, 270);
                }
            }
        }
    }
}
