@import 'mixins';
@import 'buttons';
@import 'fonts';

.modal {
    z-index: 2000;

    &.login-modal,
    &.forgot-password-modal,
    &.renew-account-modal {
        color: white;

        font-family: 'Roboto', sans-serif;

        .modal-dialog {
            width: 400px;
            height: 420px;

            .modal-content {
                position: relative;

                height: 100%;
                width: 100%;

                border-style: solid;
                border-color: #FFD887;
                border-width: 5px 0 0;

                @include linearGradientAngle(135deg, #3D4444, #172A42);
                @include roundedCorners(0);

                .modal-body {
                    position: absolute;

                    width: 100%;

                    top: 0;
                    left: 0;

                    padding: 30px 50px 0;

                    z-index: 10;

                    text-align: center;

                    h3 {
                        font-family: 'Roboto Slab', serif;
                    }

                    div {
                        input {
                            &[name="username"] {
                                margin-top: 40px;

                                @include roundedCorners(6px 6px 0 0);
                            }

                            &[name="password"] {
                                @include roundedCorners(0 0 6px 6px);

                                margin-bottom: 35px;
                            }

                            &[id="reset_email"] {
                                @include roundedCorners(0 0 6px 6px);

                                margin-bottom: 35px;
                            }
                        }

                        label {
                            color: #F3D269;
                            input[name="isChecked"] {
                                margin-right: 10px;
                            }
                        }
                    }

                    p {
                        a {
                            cursor: pointer;
                        }
                    }

                    button {
                        &.button {
                            text-align: center;

                            border-style: solid;
                            border-width: 3px;

                            padding-top: 8px;
                            padding-bottom: 8px;
                            padding-left: 0;
                            padding-right: 0;

                            width: 100%;

                            margin: 0 auto;
                        }

                        &.button-gold-border {
                            color: #FFD887;

                            border-style: solid;
                            border-color: #FFD887;
                            border-width: 1px;

                            background: transparent;

                            @include roundedCorners(30px);
                            @include transition(background-color .3s);

                            &:hover {
                                background-color: rgba(144,113,46,0.75);
                            }
                        }
                    }
                }

                .modal-overlay {
                    position: absolute;

                    z-index: 5;

                    width: 100%;
                    height: 100%;

                    top: 0;
                    left: 0;

                    opacity: .15;

                    background-image: url('assets/img/bg-diagonal-grey.png');
                }
            }
        }
    }
}
