@import 'mixins';

button {
    &.button-gold {
        background-color: rgba(212, 173, 90, .95);

        font-family: 'Roboto', sans-serif;
        font-size: 18px;

        text-align: center;

        padding: 10px 90px;

        color: white;

        border-style: solid;
        border-color: rgba(233, 189, 97, .95);
        border-width: 3px;

        @include roundedCorners(30px);
        @include transition(background-color .3s);

        &:hover {
            background-color: rgba(212, 173, 90, .65);
        }
    }
}
