@import 'mixins';
@import 'buttons';
@import 'fonts';

section {
    &.contact-form {
        color: white;

        .header {
            height: 135px;

            text-align: center;

            @include linearGradient(#24262C, #171D2E);

            font-family: 'Roboto Slab', serif;

            margin-bottom: 45px;
        }

        form {
            label {
                font-family: 'Roboto Slab', serif;
            }

            .form-group {
                input[type="text"],
                textarea,
                select {
                    background-color: #393948;

                    border-style: solid;
                    border-width: 2px;
                    border-color: #0E0F11;

                    color: white;
                }

                &.has-error {
                    input[type="text"],
                    textarea,
                    select {
                        border-color: #A94442;
                    }
                }
            }

            .sub-questions {
                > .form-group {
                    > label {
                        margin: 15px 0 0;
                    }
                }
            }

            button {
                &.disabled {
                    cursor: not-allowed;
                }
            }
        }

        re-captcha {
            div {
                div {
                    margin: 0 auto;
                }
            }
        }
    }
}
