@import 'mixins';
@import 'buttons';
@import 'fonts';

section {
    &.faq {
        color: white;
        overflow: hidden;

        .header {
            height: 75px;

            text-align: center;

            @include linearGradient(#24262C, #171D2E);
        }
    }
}
