@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

@font-face {
  font-family: "Bebas Neue Regular";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/BebasNeueRegular.woff') format('woff');
}

@font-face {
  font-family: "Bebas Neue Regular";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/BebasNeue.woff') format('woff');
}

@font-face {
  font-family: "Bebas Neue Book";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/BebasNeueBook.woff') format('woff');
}

@font-face {
  font-family: "Bebas Neue Thin";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/BebasNeueThin.woff') format('woff');
}

@font-face {
  font-family: "Bebas Neue Light";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/BebasNeueLight.woff') format('woff');
}

@font-face {
  font-family: "Bebas Neue Bold";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/BebasNeueBold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./assets/fonts/RobotoCondensedRegular.eot');
    src: url('./assets/fonts/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('./assets/fonts/RobotoCondensedRegular.woff2') format('woff2'),
         url('./assets/fonts/RobotoCondensedRegular.woff') format('woff'),
         url('./assets/fonts/RobotoCondensedRegular.ttf') format('truetype'),
         url('./assets/fonts/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./assets/fonts/RobotoSlabRegular.eot');
    src: url('./assets/fonts/RobotoSlabRegular.eot') format('embedded-opentype'),
         url('./assets/fonts/RobotoSlabRegular.woff2') format('woff2'),
         url('./assets/fonts/RobotoSlabRegular.woff') format('woff'),
         url('./assets/fonts/RobotoSlabRegular.ttf') format('truetype'),
         url('./assets/fonts/RobotoSlabRegular.svg#RobotoSlabRegular') format('svg');
}

@font-face {
  font-family: "Segoe UI";
  src:
      local("Segoe UI Semilight"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Segoe UI";
  src:
      local("Segoe UI"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}
