@import 'mixins';
@import 'fonts';

footer {
    width: 100%;

    section {
        &.footer-top-section {
            .footer-logo-img {
            	display: block;
            	float: left;

            	background: url('assets/img/logo-medium.png') no-repeat;
            	background-position: left center;
                @include backgroundSize(contain);

            	width: 263px;
            	height: 145px;

                text-indent: -9999px;

                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 0;
            }

            .footer-search-container {
                display: block;
                float: left;

                margin-left: 0;
                margin-right: 0;
                margin-top: 30px;
                margin-bottom: 10px;

                padding-left: 0;
                padding-right: 0;
                padding-top: 33px;
                padding-bottom: 0;

                form {
                    float: left;

                    .footer-search-box {
                        display: block;
                        float: left;
    
                        background-color: #1A1A1A;
    
                        width: 690px;
                        height: 46px;
    
                        font-family: 'Roboto', sans-serif;
    
                        margin-left: 0;
                        margin-right: 0;
                        margin-top: 0;
                        margin-bottom: 0;
    
                        padding-left: 12px;
                        padding-right: 20px;
                        padding-top: 10px;
                        padding-bottom: 10px;
    
                        color: #FFF;
                        border: none;
    
                        @include placeholder-color(#737d88);
                    }
    
                    .footer-search-btn {
                        display: block;
                        float: left;
    
                        background-image: url('assets/img/icon-search.svg');
                        background-color: #0687ac;
                        background-position: top left;
                        background-repeat: no-repeat;
    
                        border: none;
    
                        width: 46px;
                        height: 46px;
    
                        text-indent: -9999px;
    
                        margin-left: 0;
                        margin-right: 0;
                        margin-top: 0;
                        margin-bottom: 0;
    
                        padding-left: 0;
                        padding-right: 0;
                        padding-top: 0;
                        padding-bottom: 0;
    
                        cursor: pointer;
                    }

                    input:-webkit-autofill,
                    textarea:-webkit-autofill, 
                    select:-webkit-autofill {
                        background-color: #1A1A1A !important;
                        box-shadow: 0 0 0px 1000px #1A1A1A inset;
                        -webkit-box-shadow: 0 0 0px 1000px #1A1A1A inset;
                        -webkit-text-fill-color: white !important;
                        transition: background-color 5000s ease-in-out 0s;
                        caret-color: white !important;
                    }
                }

                .footer-adv-search-link {
                    display: block;
                    float: left;

                    background: url('assets/img/header-advanced-search.svg');
                    background-position: top left;
                    background-repeat: no-repeat;

                    width: 120px;
                    height: 46px;

                    padding-left: 12px;
                    padding-right: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    margin-left: 5px;
                    margin-right: 0;
                    margin-top: 0;
                    margin-bottom: 0;

                    color: #68cff6;

                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 14px;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;

                    cursor: pointer;
                }
            }
        }

        &.footer-main-section {
            float: left;
            width: 100%;

            margin-top: 40px;
            margin-bottom: 0;

            h4 {
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 10px;

                margin-left: 0;
                margin-right: 0;
                margin-top: 20px;
                margin-bottom: 25px;

                color: #7F7F7F;

                font-weight: normal;

                border-style: solid;
                border-color: #7F7F7F;
                border-width: 0 0 1px 0;
            }

            .button-gold-background {
                display: block;

                font-size: 18px;

                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;

                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 30px;

                text-align: center;

                background-color: #765A20;

                border-style: solid;
                border-color: black;
                border-width: 0;

                color: white;

                @include roundedCorners(30px);

                &:hover {
                    text-decoration: none;
                }
            }

            ul {
                list-style: none;

                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 0;

                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 0;

                &.footer-genres {
                    height: 300px;
                    width: 100%;

                    display: flex;
                    flex-flow: column wrap;
                    align-content: flex-start;
                }

                li {
                    a,
                    a:visited,
                    a:hover,
                    a:link {
                        display: block;

                        cursor: pointer;

                        font-size: 16px;

                        color: white;

                        padding-left: 0;
                        padding-right: 0;
                        padding-top: 3px;
                        padding-bottom: 3px;

                        margin-left: 0;
                        margin-right: 0;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }

                    &.footer-genre-item {
                        flex: 0 0 auto;
                        width: 33%;
                    }
                }
            }
        }

        &.footer-social-section {
            margin-left: 0;
            margin-right: 0;
            margin-top: 35px;
            margin-bottom: 35px;

            a,
            a:visited,
            a:hover,
            a:link {
                display: block;
                float: left;

                height: 50px;
                width: 50px;

                margin-right: 20px;

                text-indent: -9999px;

                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;

                &.social-icon.twitter {
                    background-image: url('assets/img/icon-twitter-bronze.svg');
                }

                &.social-icon.instagram {
                    background-image: url('assets/img/icon-instagram-bronze.svg');
                }

                &.social-icon.facebook {
                    background-image: url('assets/img/icon-facebook-bronze.svg');
                }
            }
        }

        &.footer-copyright-section {
            p {
                color: #7F7F7F;

                font-size: 80%;
            }
        }
    }

    .footer-mobile {
        width: 100%;
        padding: 50px 10px 25px;
        background-color: #000000;

        .footer-top-section {
            display: flex;
            align-items: center;

            .footer-logo-img {
                width: calc(100% - 180px);
            }

            .social-icon {
                height: 40px;
                width: 40px;
                text-indent: -9999px;
                float: left;
                margin-left: 20px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;

                &.twitter {
                    background-image: url('assets/img/icon-twitter-bronze.svg');
                }

                &.instagram {
                    background-image: url('assets/img/icon-instagram-bronze.svg');
                }

                &.facebook {
                    background-image: url('assets/img/icon-facebook-bronze.svg');
                }

            }
        }

        .footer-main-section {
            float: none;
            margin-top: 20px;
            margin-bottom: 85px;

            ul {
                li {
                    a:hover,
                    a:focus {
                        text-decoration: underline;
                    }
                }
            }
        }

        .footer-copyright-section {
            max-width: 270px;

            .copyright {
                font-size: 12px;
                line-height: 21px;
                letter-spacing: 1.2px;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    footer {
        section {
            &.footer-top-section {
                .footer-search-container {
                    .footer-search-box {
                        width: 85%;
                    }
                }
            }
        }
    }
}
