@import 'mixins';
@import 'buttons';
@import 'fonts';

section[id^="front"] {
    color: white;

    h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 32px;

        text-align: center;

        color: white;
    }

    h6 {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;

        line-height: 20px;

        text-align: center;

        color: white;
    }
}

section {
    .title-mobile {
        color: #F3D269;
        font-size: 44px;
        line-height: 49px;
        text-align: center;
        font-family: 'Bebas Neue Regular';
        letter-spacing: 1.2px;
    }

    .detail-mobile {
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 50px;
    }
}

#front-hero {
    width: 100%;
    height: 570px;

    overflow: hidden;

    position: relative;

    .container {

        height: 100%;
        
        .masthead {
            background-image: url('assets/img/bg-frontpage-hero-masthead.jpg');
            background-repeat: no-repeat;
            background-position: top left;
            background-size: cover;

            position: relative;

            padding: 0;

            height: 100%;

            z-index: 30;

            h1 {
                display: block;
                float: left;

                width: 100%;

                line-height: 40px;

                margin: 150px 0 125px 0;

                padding: 0 20% 0 25px;

                text-align: left;

                border-style: solid;
                border-color: #E4C05F;
                border-width: 0 0 0 10px;
            }

            h6 {
                font-size: 18px;

                text-align: left;

                padding-left: 35px;

                line-height: 24px;
            }
        }

        .options {
            position: relative;

            z-index: 30;

            text-align: center;

            button {
                margin: 225px 0 15px;
            }

            p {
                width: 100%;

                a,
                a:link,
                a:hover,
                a:visited {
                    font-size: 18px;

                    text-decoration: underline;

                    color: #D4AD5A;
                }

                a:hover {
                    text-decoration: none;
                }
            }
        }

        &.hero-mobile {
            padding: 105px 35px;
            background-image: url('assets/img/bg-front-hero-mobile.png'), linear-gradient(#040820, #565771);
            background-size: cover;
            background-position: 15%;
            
            display: flex;
            flex-direction: column;
            align-items: center;

            .hero-buttons {
                max-width: 345px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                .start-button {
                    font-size: 20px;
                    line-height: 24px;
                    width: 100%;
                    height: 56px;
                    background-color: #90712E;
                    border-radius: 25px;
                    border: none;
                    outline: none;
                    opacity: 0.7;
                }

                .radio-button {
                    font-size: 13px;
                    line-height: 15px;
                    width: 78%;
                    height: 46px;
                    margin-top: 24px;
                    background-color: #233E51;
                    border-radius: 23px;
                    border: none;
                    outline: none;
                    opacity: 0.7;
                }
            }
        }
    }

    .releases-container {
        width: 120%;
        height: 100%;

        position: absolute;

        top: 0;
        left: -10%;

        .releases-cover-blue {
            // background-color: #27538F;
            @include radialGradient(#1a3861, #3065b0);
            //background-blend-mode: screen, screen;
            //-webkit-background-blend-mode: screen, screen;

            position: absolute;

            //z-index: 5;

            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            opacity: 0;
        }

        .releases-cover-diagonal {
            background-image: url('assets/img/bg-diagonal-grey.png');

            position: absolute;

            z-index: 20;

            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            opacity: .2;
        }

        .release-image {
            float: left;
            display: block;

            width: 190px;
            height: 190px;

            position: relative;

            opacity: .65;

            img {
                display: block;

                height: 100%;
                width: 100%;

                position: absolute;

                top: 0;
                left: 0;

                &.overlay {
                    z-index: 15;

                    opacity: .85;
                }
            }

            div {
                &.release {
                    display: block;

                    position: absolute;;

                    z-index: 10;

                    width: 100%;
                    height: 100%;

                    top: 0;
                    left: 0;

                    background-color: #27538F;

                    //@include backgroundBlendMode(luminosity, soft-light);
                    @include backgroundSize(cover);

                    &.bottom {
                        z-index: 9;
                    }
                }
            }
        }
    }
}

#front-whats-hot {
    width: 100%;
    height: 540px;

    position: relative;

    overflow: hidden;

    @include linearGradient(#192732, #141926);

    .content {
        text-align: center;

        h1 {
            padding: 0 70px;
            margin-top: 70px;
        }

        h6 {
            margin-top: 25px;
        }

        button {
            margin-top: 210px;
        }
    }

    .releases-container {
        position: absolute;

        left: -3%;
        top: 270px;

        width: 120%;
        height: 140px;

        overflow: hidden;

        .release-image {
            display: block;
            float: left;

            width: 140px;
            height: 140px;

            position: relative;

            img {
                width: 100%;
                height: 100%;

                position: absolute;

                top: 0;
                left: 0;
            }
        }
    }

    .top-download {
        a,
        a:visited,
        a:hover,
        a:link {
            display: block;

            width: 100%;

            color: #D4AD5A;

            text-align: center;
            text-decoration: underline;

            margin-top: 10px;
        }

        .top-download-play {
            width: 350px;
            height: 350px;

            margin: 130px auto 0;

            position: relative;

            img {
                position: absolute;

                width: 100%;
                height: 100%;

                z-index: 30;
            }

            a,
            a:visited,
            a:hover,
            a:link {
                width: 100%;
                height: 100%;

                position: absolute;

                z-index: 35;

                opacity: 0;

                top: 0;
                left: 0;

                text-indent: -9999px;

                background-image: url('assets/img/overlay-top-download-play.png');
                background-repeat: no-repeat;
                background-position: top left;
            }

            a:hover {
                opacity: 1;
            }
        }
    }
}

#front-new {
    width: 100%;
    height: 450px;

    position: relative;

    overflow: hidden;

    //background-image: url('http://crate.latenightrecordpool.dev:8081/api/images/bg/front-new');

    .container {
        position: relative;

        z-index: 25;

        .content {
            text-align: center;

            h1 {
                color: #F3D269;

                margin: 65px 0 20px;
            }

            h6 {
                padding: 0 90px;
            }

            button {
                margin: 50px 0 15px;
            }

            p {
                color: white;

                a,
                a:link,
                a:visited,
                a:hover {
                    color: white;

                    text-decoration: underline;
                }
            }
        }
    }

    .releases-container {
        position: absolute;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;

        .overlay {
            position: relative;

            z-index: 10;

            height: 100%;
            width: 100%;

            opacity: .75;

            @include linearGradient(#20496E, #1F2849);
        }
    }
}

#front-genres {
    width: 100%;
    height: 570px;

    background-color: #141926;

    .container {
        h1 {
            margin: 50px 0 10px;
        }

        h6 {
            margin: 0 0 40px;
        }

        .genres-container {
            .genre-item {
                display: block;
                float: left;

                width: 167px;
                height: 167px;

                padding-top: 135px;

                background-image: url('assets/img/sprite-genre-boxes.jpg');
                background-repeat: no-repeat;

                color: #CFCFE4;

                text-align: center;
                text-transform: uppercase;

                letter-spacing: 4px;

                font-family: 'Roboto', sans-serif;

                cursor: pointer;

                @include transition(all .5s);

                &.alternative {
                    background-position: 0px 0px;
                }

                &.hip-hop {
                    background-position: -167px 0px;
                }

                &.rock {
                    background-position: -334px 0px;
                }

                &.rap {
                    background-position: -501px 0px;
                }

                &.edm {
                    background-position: -668px 0px;
                }

                &.dj-edits {
                    background-position: -835px 0px;
                }

                &.seasonal {
                    background-position: -1002px 0px;
                }

                &.reggae {
                    background-position: 0px -167px;
                }

                &.indie {
                    background-position: -167px -167px;
                }

                &.remix {
                    background-position: -334px -167px;
                }

                &.pop {
                    background-position: -501px -167px;
                }

                &.r-and-b {
                    background-position: -668px -167px;
                }

                &.country {
                    background-position: -835px -167px;
                }

                &.disco {
                    background-position: -1169px 0px;
                }

                &.soul {
                    background-position: -1169px -167px;
                }

                &.various {
                    background-position: -1002px -167px;
                }

                &:hover {
                    text-decoration: none;

                    opacity: .75;
                }
            }
        }

        .much-more {
            color: #F3D269;

            font-family: 'Roboto', sans-serif;

            margin: 25px 0 0;

            text-align: center;

            font-size: 110%;

            a,
            a:link,
            a:visited,
            a:hover {
                color: #F3D269;
                text-decoration: underline;
            }
        }
    }

    &.genres-mobile {
        .container {
            padding: 105px 15px 10px;
            background-image: url('assets/img/bg-front-genres-mobile.png');
            background-repeat: no-repeat;

            .genres-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: auto;
                margin: 0;
                margin-top: -10px;

                .genre-item {
                    width: 128px;
                    height: 126px;
                    padding: 10px;
                    background-size: contain !important;
                    background-repeat: no-repeat !important;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    font-size: 10px;
                    line-height: 11px;
                }
            }
        }
    }
}

#front-features {
    width: 100%;
    height: 560px;

    position: relative;

    @include linearGradient(#23375F, #476452);

    .container {
        position: relative;

        z-index: 15;

        text-align: center;

        h1 {
            margin: 50px 0 10px;
        }

        h6 {
            margin: 15px 0 10px;
        }

        .features-container {
            .feature-item {
                display: block;
                float: left;

                width: 185px;
                height: 200px;

                background-repeat: no-repeat;
                background-position: top left;

                margin: 0 5px;

                text-align: center;

                position: relative;

                span {
                    color: white;

                    letter-spacing: 4px;

                    font-family: 'Roboto', sans-serif;

                    position: absolute;

                    padding-top: 160px;

                    width: 100%;
                    height: 100%;

                    top: 0;
                    left: 0;

                    z-index: 10;
                }

                .bg {
                    position: absolute;

                    height: 100%;
                    width: 60%;

                    top: 0;
                    left: 0;

                    z-index: 5;

                    margin: 0 20%;

                    background-repeat: no-repeat;
                    background-position: center center;

                    &.curated {
                        background-image: url('assets/img/features-curated.svg');
                        height: 86%;
                        margin-top: 4%;
                    }

                    &.variety {
                        background-image: url('assets/img/features-variety.svg');
                        height: 50%;
                        margin-top: 22%;
                    }

                    &.downloads {
                        background-image: url('assets/img/features-downloads.svg');
                        height: 40%;
                        margin-top: 26%;
                    }

                    &.releases {
                        background-image: url('assets/img/features-releases.svg');
                        margin-top: 4%;
                    }

                    &.selection {
                        background-image: url('assets/img/features-selection.svg');
                        height: 46%;
                        margin-top: 25%;
                    }

                    &.search {
                        background-image: url('assets/img/features-search.svg');
                        height: 45%;
                        margin-top: 28%;
                    }

                    &.dropbox {
                        background-image: url('assets/img/features-dropbox.svg');
                        height: 45%;
                        margin-top: 28%;
                    }
                }
            }
        }

        button {
            margin: 75px 0 0;
        }
    }

    .background-overlay {
        position: absolute;

        z-index: 5;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;

        opacity: .3;

        background-image: url('assets/img/bg-diagonal-grey.png');
    }
}

#front-features-mobile {
    background: #00050c;
    opacity: 0.8;
    position: relative;

    .container {
        padding: 120px 35px 45px;

        .features-container {
            width: calc(100% - 22px);
            margin-left: auto;
            margin-right: auto;
            padding-left: 22px;

            > div {
                margin-bottom: 50px;
            }

            > div:first-child {
                .image-container {
                    margin-left: -9px;
                }
            }

            .image-container {
                width: 30%;

                .feature-image {
                    display: block;
                    height: 58px;
                    width: auto;
                }
            }

            .label-container {
                width: 70%;
                display: flex;

                .feature-label {
                    font-size: 18px;
                    line-height: 22px;
                    text-align: left;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .opacity-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('assets/img/bg-front-features-mobile.png');
        background-repeat: no-repeat;
        background-position: 25% bottom;
        opacity: 0.2;
    }
}

#front-quality {
    .container {
        padding: 100px 12px 60px;

        .front-quality-image {
            margin-top: 20px;
        }

        .quality-description {
            padding: 0 30px;

            .detail-mobile {
                margin-bottom: 30px;
            }

            .other-link {
                color: #ffe897;
                font-weight: 500;
            }
        }
    }
}

#front-testimonials {
    width: 100%;
    height: 0px;

    display: none;
}

#front-signup-blue {
    width: 100%;
    height: 100px;

    padding: 32px 0 0;

    background-image: url('assets/img/bg-triangle-blue.png');
    background-position: -30% -1%;

    font-size: 23px;

    text-align: center;

    a,
    a:visited,
    a:link,
    a:hover {
        color: white;

        text-decoration: underline;
    }

    &.blue-mobile {
        padding: 0;
        height: 135px;
        display: flex;
        justify-content: center;
        align-items: center;

        .detail-mobile {
            font-family: 'Roboto Condensed', sans-serif;
            font-style: italic;
            font-weight: 300;
            font-size: 17px;
            letter-spacing: 1px;
            margin: 0;
        }
    }
}

#front-plans {
    width: 100%;
    background: #001D41 url('assets/img/bg-front-plans-mobile.png');
    background-size: 150%;
    background-position: 40% -5%;

    .plans-info {
        padding: 95px 30px 50px;
    }

    .plans-detail {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;

        .plan-item {
            width: 100%;
            height: 177px;
            display: flex;

            > div {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            .plan-info {
                width: 45%;
                height: 100%;
                padding: 35px;
                align-items: flex-start;

                .plan-label {
                    font-size: 30px;
                    line-height: 35px;
                    margin: 0;

                    &.small {
                        font-size: 14px;
                        line-height: 30px;
                        letter-spacing: 0.5px;
                    }
                }
            }

            .plan-detail {
                width: 55%;
                height: 100%;
                padding: 22px;

                .plan-name {
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    margin-bottom: 10px;

                    .plan-value {
                        font-size: 40px;
                        line-height: 1;
                        color: #FFE897;
                        font-family: 'Bebas Neue Regular';
                        margin: 0;
                        margin-right: 10px;
                    }

                    .plan-unit {
                        font-size: 15px;
                        line-height: 1;
                        margin: 0;
                    }
                }

                .plan-description {
                    font-size: 11px;
                    line-height: 14px;
                    text-align: center;
                }

                .plan-button {
                    color: #7A5813;
                    font-size: 15px;
                    line-height: 18px;
                    width: 100%;
                    max-width: 200px;
                    height: 35px;
                    border-radius: 20px;
                    background-color: #F3D269;
                }
            }

            &.monthly {
                .plan-info {
                    background-image: linear-gradient(to bottom right, #af9140, #7b6a48);
                }

                .plan-detail {
                    background-color: #6F5315;

                    .plan-button {
                        color: #F3D269;
                        border: 4px solid #E9BD61;
                        background-color: #6F5315;
                    }
                }
            }

            &.quarterly {
                .plan-info {
                    background-color: #2D3A5B;
                }

                .plan-detail {
                    background-color: #475C86;

                    .plan-name {
                        .plan-unit {
                            font-size: 11px;
                            line-height: 1.5;
                        }
                    }

                    .plan-button {
                        border: none;
                    }
                }
            }

            &.yearly {
                .plan-info {
                    background-color: #354162;
                }
                .plan-detail {
                    position: relative;
                    background-color: #526790;

                    .plan-name {
                        padding-left: 30px;

                        .plan-unit {
                            font-size: 13px;
                        }
                    }

                    .plan-button {
                        border: none;
                    }

                    .pricing-badge {
                        color: #A7791D;
                        font-size: 11px;
                        line-height: 14px;
                        font-weight: 500;
                        text-align: center;

                        width: 82px;
                        height: 82px;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        position: absolute;
                        left: -41px;
                        top: 10px;

                        background-image: url('assets/img/pricing-badge.png');
                        background-size: contain;
                    }
                }
            }
        }
    }
}

#front-contactus {
    .container {
        padding: 95px 32px 90px;
        background-image: url('assets/img/bg-front-contactus-mobile.png');
        background-size: cover;
        background-position: 40% top;
        background-repeat: no-repeat;

        .alert {
            &.alert-danger {
                padding: 0;
                border: none;

                p {
                    padding: 0 15px;

                    &:first-child {
                        padding-top: 15px;
                    }

                    &:last-child {
                        padding-bottom: 15px;
                    }
                }
            }
        }

        .detail-mobile {
            margin-top: 0;
            margin-bottom: 30px;
        }

        .form-group {
            label {
                color: #E9BD61;
                font-size: 19px;
                font-weight: 300;
                line-height: 22px;
            }

            input {
                height: 36px;
            }

            .form-control {
                color: white;
                background-color: black;
                border: none;
            }

            .send-button {
                font-size: 20px;
                line-height: 24px;
                color: white;
                padding: 9px 35px;
                margin-top: 40px;
                border: 4px solid #E9BD61;
                border-radius: 25px;
                background-color: #6F5315;
            }

            &.has-error {
                .form-control {
                    border: 2px solid #A94442;
                }
            }
        }
    }
}

#front-currently-playing {
    width: 100%;
    height: 590px;

    background-color: #141926;

    position: relative;

    .container {
        position: relative;

        z-index: 15;

        text-align: center;

        h1 {
            margin: 50px 0 10px;
        }

        h6 {
            margin: 15px 0 10px;
        }

        .currently-playing-release {
            font-family: 'Roboto', sans-serif;

            a,
            a:visited,
            a:hover,
            a:link {
                display: block;

                width: 100%;

                color: #D4AD5A;

                text-decoration: underline;
            }

            .currently-playing-info {
                width: 250px;

                margin: 5px auto;

                p {
                    width: 100%;
                    float: left;

                    margin: 0;

                    text-align: left;

                    &.artist {
                        font-size: 18px;

                        margin-top: 10px;
                    }

                    &.title {
                        font-size: 18px;
                    }

                    &.label {
                        font-size: 12px;
                    }

                    &.versions {
                        font-size: 18px;

                        margin-top: 20px;
                    }
                }
            }

            .currently-playing {
                width: 250px;
                height: 250px;

                margin: 30px auto 0;

                position: relative;

                img {
                    position: absolute;

                    width: 100%;
                    height: 100%;

                    top: 0;
                    left: 0;

                    z-index: 30;
                }

                a,
                a:visited,
                a:hover,
                a:link {
                    width: 100%;
                    height: 100%;

                    position: absolute;

                    z-index: 35;

                    opacity: 0;

                    top: 0;
                    left: 0;

                    text-indent: -9999px;

                    background-image: url('assets/img/overlay-top-download-play.png');
                    background-repeat: no-repeat;
                    background-position: top left;
                    @include backgroundSize(contain);
                }

                a:hover {
                    opacity: 1;
                }
            }
        }

        .all-currently-playing {
            h4 {
                margin-top: 25px;
                margin-left: -15px;

                text-align: left;
            }

            .other-currently-playing-release {
                height: 28px;
                overflow: hidden;
                margin-bottom: 5px;

                a,
                a:visited,
                a:link,
                a:hover {
                    &.play-head {
                        display: block;
                        float: left;

                        height: 25px;
                        width: 25px;

                        margin-right: 10px;

                        background-image: url('assets/img/overlay-currently-playing-play.png');
                        background-repeat: no-repeat;
                        @include backgroundSize(contain);
                    }

                    &.release-link {
                        display: block;
                        // float: left;

                        font-size: 17px;

                        color: white;

                        text-align: left;
                    }
                }

                a:hover {
                    &.release-link {
                        color: #D4AD5A;
                    }
                }
            }
        }
    }
}

#front-labels {
    width: 100%;

    .container {
        h1 {
            margin: 50px 0 10px;
        }

        h6 {
            margin: 15px 0 10px;
        }

        .labels-box {
            margin: 30px 0 0;

            text-indent: -9999px;

            a,
            a:link,
            a:visited,
            a:hover {
                display: block;
                float: left;

                margin-right: 15px;

                height: 90px;
                width: 80px;

                background-image: url('assets/img/sprite-labels.png');
                background-repeat: no-repeat;

                cursor: pointer;

                opacity: .8;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    opacity: 1;
                }

                &.atlantic {
                    background-position: 0 0;
                }

                &.spinnin {
                    background-position: -98px 0;
                }

                &.ultra {
                    background-position: -203px 0;
                }

                &.republic {
                    background-position: -305px 0;
                }

                &.rca {
                    background-position: -410px 0;
                }

                &.universal {
                    background-position: -520px 0;
                }

                &.sony {
                    background-position: -616px 0;
                }

                &.capitol {
                    background-position: -715px 0;
                    width: 89px;
                }

                &.interscope {
                    background-position: -822px 0;
                }

                &.jive {
                    background-position: -926px 0;
                }

                &.def-jam {
                    background-position: -1030px 0;
                }

                &.columbia {
                    background-position: -1135px 0;
                }
            }
        }

        p {
            text-align: center;

            a,
            a:visited,
            a:link,
            a:hover {
                color: #677DC7;

                font-size: 15px;

                text-decoration: underline;
            }
        }
    }

    &.labels-mobile {
        position: relative;
        .container {
            padding: 90px 32px 100px;
            background-color: #000000;

            .labels-box {
                margin-top: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .label-item {
                    width: 70px;
                    height: 70px;
                    margin: 15px 20px;
                    background-size: contain;
                    background-position: center;
                    opacity: 1.0;
                }
            }
        }
    }
}

#front-newsletter {
    width: 100%;
    height: 210px;

    background-image: url('assets/img/bg-triangle-deep.png');

    .container {
        .text {
            margin: 50px 0 0;

            p {
                font-size: 18px;

                text-align: center;
            }
        }

        .social-icons {
            width: 210px;

            margin: 15px auto 0;

            a,
            a:visited,
            a:hover,
            a:link {
                display: block;
                float: left;

                height: 50px;
                width: 50px;

                margin-right: 20px;

                text-indent: -9999px;

                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;

                &.social-icon.twitter {
                    background-image: url('assets/img/icon-twitter-blue.svg');
                }

                &.social-icon.instagram {
                    background-image: url('assets/img/icon-instagram-blue.svg');
                }

                &.social-icon.facebook {
                    background-image: url('assets/img/icon-facebook-blue.svg');
                }
            }
        }
    }
}

#front-signup-gold {
    width: 100%;
    height: 100px;

    padding: 32px 0 0;

    background-image: url('assets/img/bg-triangle-gold.png');
    background-position: -30% -1%;

    font-size: 23px;

    text-align: center;

    a,
    a:visited,
    a:link,
    a:hover {
        color: white;

        text-decoration: underline;
    }
}

@media screen and (max-width: 1199px) {
    #front-hero {
        .container {
            .masthead {
                background: transparent;
            }
        }
    }

    #front-whats-hot {
        .container {
            .top-download {
                h1 {
                    padding: 0 15%;
                }

                .top-download-play {
                    margin-top: 40px;
                }
            }
        }
    }

    #front-genres {
        height: auto;

        .container {
            .genres-container {
                width: 90%;
                margin-left: 5%;
            }

            .much-more {
                margin-bottom: 25px;
            }
        }
    }

    #front-features {
        height: auto;

        .container {
            button {
                margin: 25px 0;
            }
        }
    }

    #front-currently-playing {
        height: auto;

        padding-bottom: 25px;

        .all-currently-playing {
            width: 80%;
            margin-left: 10%;

            h4 {
                text-align: center;
            }

            .other-currently-playing-release {
                width: 100%;
                float: left;

                .release-link {
                    width: 85%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    #front-labels {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    #front-hero {
        height: auto;
    }
}

@media only screen and (min-width: 370px) and (max-width: 413px) {
    #front-genres {
        &.genres-mobile {
            .container {
                .genres-container {
                    .genre-item {
                        width: 115px;
                        height: 113px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 370px) {
    #front-genres {
        &.genres-mobile {
            .container {
                .genres-container {
                    .genre-item {
                        width: 95px;
                        height: 94px;
                        padding: 5px;
                    }
                }
            }
        }
    }
}
