@import 'mixins';
@import 'variables';
@import 'fonts';

a,
a:link,
a:visited,
a:hover {
    &.button {
        text-align: center;

        border-style: solid;
        border-width: 3px;

        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        padding-right: 20px;

        margin-left: 14px;
    }

    &.button-gold-border {
        color: #FFD887;

        border-style: solid;
        border-color: #FFD887;
        border-width: 1px;

        @include roundedCorners(30px);
        @include transition(background-color .3s);
    }
}

a:hover {
    text-decoration: none;

    &.button-gold-border {
        background-color: rgba(144,113,46,0.75);
    }
}

.genre-items {
    float: left;

    width: 100%;

    .genre-item {
        display: block;
        float: left;

        position: relative;

        .icon {
            display: block;
            float: left;

            width: 45px;
            height: 45px;

            position: relative;

            z-index: 15;

            background-image: url('assets/img/sprite-header-genre.png');
            background-repeat: no-repeat;
            background-position: -62px -168px;

            &.remix {
                background-position: -112px -4px;
            }

            &.rap {
                background-position: -113px -112px;
            }

            &.edm {
                background-position: -7px -7px;
            }

            &.pop {
                background-position: -58px -5px;
            }

            &.rb {
                background-position: -111px -57px;
            }

            &.hip-hop {
                background-position: -59px -59px;
            }

            &.djedits {
                background-position: -166px -3px;
            }

            &.reggaedancehall {
                background-position: -6px -168px;
            }

            &.country {
                background-position: -6px -113px;
            }

            &.various {
                background-position: -62px -168px;
            }

            &.rock {
                background-position: -164px -60px;
            }

            &.seasonal {
                background-position: -164px -106px;
            }

            &.latin {
                background-position: -6px -218px;
            }

            &.disco {
                background-position: -111px -168px;
            }

            &.soul {
                background-position: -62px -218px;
            }

            &.funk {
                background-position: -164px -168px;
            }

            &.year-1970 {
                background-position: -62px -260px;
            }

            &.year-1980 {
                background-position: -111px -260px;
            }

            &.year-1990 {
                background-position: -164px -260px;
            }

            &.year-2000 {
                background-position: -111px -218px;
            }

            &.year-2010 {
                background-position: -164px -218px;
            }
        }

        a,
        a:visited,
        a:hover,
        a:link {
            display: block;
            float: left;

            position: absolute;

            cursor: pointer;

            width: 100%;
            height: 100%;

            top: 0;
            left: 0;

            z-index: 20;

            color: white;

            font-family: 'Roboto Condensed', sans-serif;

            font-size: 19px;

            padding-top: 7px;
            padding-left: 50px;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.header-sticky-background-overlay {
    position: fixed;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    z-index: 50;

    background-color: black;

    opacity: .7;
}

// Markup-specific styles
header {
	width: 100%;

    padding: 0;

    position: relative;

    &.container {
        @media (min-width: 1200px) {
            width: calc(1200px - #{$scrollWidth});
        }
    }

    section {
        &.header-logo {
            .header-logo-img {
            	display: block;
            	float: left;

            	background: url('assets/img/logo-medium.png') no-repeat;
            	background-position: left center;
                background-size: contain;

                width: 100%;
                height: 155px;

                text-indent: -9999px;

                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &.header-menu {
            padding-top: 10px;
            div {
                &.header-menu-top {
                    height: 58px;
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 10px;

                    nav {
                        display: flex;
                        justify-content: space-around;

                        a,
                        a:visited,
                        a:hover,
                        a:link {

                        	font-family: 'Roboto Condensed', sans-serif;
                        	font-size: 14px;
                            font-weight: normal;

                        	letter-spacing: 3px;

                            margin-top: 0;
                            margin-bottom: 20px;

                            padding-left: 15px;
                            padding-right: 10px;
                            padding-top: 8px;
                            padding-bottom: 8px;

                        	color: white;

                            text-transform: uppercase;
                            text-decoration: none;

                            @include transition(color .3s);

                            &.account-link {
                                color: #FFD887;

                                margin-left: 5px;
                                margin-right: 5px;
                                margin-bottom: 22px;

                                &:hover {
                                    color: #7F7F7F;
                                }
                            }

                            &.button-gold-border {
                            	color: #FFD887;
                            }
                        }

                        a:hover, a.active {
                            color: #7F7F7F;
                        }

                        a:first-child {
                            padding-left: 0;
                        }

                        a:last-child {
                            padding-right: 0;
                        }
                    }
                }

                &.header-menu-main {
                    background-color: #20232A;

                    height: 78px;

                    nav {
                        .header-menu-main-items {
                            height: 100%;
                            float: left;
                        }

                        .header-search-container {
                            display: block;
                            float: left;

                            margin-left: 0;
                            margin-right: 0;
                            margin-top: 17px;

                            form {
                                float: left;
                            }

                            .header-search-box {
                            	display: block;
                                float: left;

                                background-color: #1A1A1A;

                            	width: 300px;
                            	height: 46px;

                            	font-family: 'Roboto', sans-serif;

                                margin-left: 0;
                                margin-right: 0;
                                margin-top: 0;
                                margin-bottom: 0;

                                padding-left: 12px;
                                padding-right: 20px;
                                padding-top: 10px;
                                padding-bottom: 10px;

                            	color: #FFF;
                                border: none;

                                @include placeholder-color(#737d88);
                            }

                            .header-search-btn {
                            	display: block;
                            	float: left;

                            	background-image: url('assets/img/icon-search.svg');
                                background-color: #0687ac;
                            	background-position: top left;
                                background-repeat: no-repeat;

                                border: none;

                                width: 46px;
                            	height: 46px;

                                text-indent: -9999px;

                                margin-left: 0;
                                margin-right: 0;
                                margin-top: 0;
                                margin-bottom: 0;

                                padding-left: 0;
                                padding-right: 0;
                                padding-top: 0;
                                padding-bottom: 0;

                                cursor: pointer;
                            }

                            .header-adv-search-link {
                            	display: block;
                                float: left;

                            	background: url('assets/img/header-advanced-search.svg');
                            	background-position: top left;
                                background-repeat: no-repeat;

                                width: 120px;
                            	height: 47px;

                                padding-left: 12px;
                                padding-right: 20px;
                                padding-top: 10px;
                                padding-bottom: 10px;

                                margin-left: 5px;
                                margin-right: 0;
                                margin-top: 0;
                                margin-bottom: 0;

                            	color: #68cff6;

                            	font-family: 'Roboto Condensed', sans-serif;
                            	font-size: 14px;
                            	line-height: 1;
                            	text-align: center;
                                text-transform: uppercase;

                                cursor: pointer;
                            }
                        }

                        li {
                        	display: block;
                            float: left;

                        	background: none;
                        	background-position: top left;
                            background-repeat: no-repeat;

                        	border-right: 2px solid #363636;

                            padding-left: 23px;
                            padding-right: 25px;
                            padding-top: 15px;
                            padding-bottom: 15px;

                            margin-left: 0;
                            margin-right: 0;
                            margin-top: 17px;
                            margin-bottom: 10px;

                            color: #959595;

                        	font-family: 'Roboto Condensed', sans-serif;
                        	font-size: 16px;
                        	line-height: 1;
                        	text-align: center;
                            text-transform: uppercase;

                            cursor: pointer;

                            @include transition(color .3s);

                            &:last-child {
                            	border-right: none;
                            }

                            &.selected {
                                margin-top: 0;
                                margin-bottom: 0;
                                margin-right: 2px;

                                padding-top: 32px;
                                padding-bottom: 32px;

                                border-right: none;

                                background-color: #24476D;

                                color: white;

                                position: relative;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }

                        li:hover {
                            text-decoration: none;
                        	color: #FFF;
                        }
                    }
                }
            }
        }

        &.header-popup {
            position: absolute;

            top: 158px;

            z-index: 1500;

            border-top: solid 5px #24476D;

            @include boxShadow(0, 7px, 10px, 0, rgba(0, 0, 0, .7));

            @include linearGradient(#183B47, #14354F);

            .header-popup-close {
                position: absolute;

                z-index: 15;

                top: 10px;
                right: 10px;

                a,
                a:visited,
                a:hover,
                a:link {
                    display: block;

                    color: white;

                    height: 12px;
                    width: 12px;

                    background-image: url('assets/img/icon-close.png');
                    background-repeat: no-repeat;
                    background-position: center center;

                    @include backgroundSize(contain);

                    cursor: pointer;

                    text-decoration: none;
                }
            }

            .header-popup-items {
                height: 280px;

                padding: 0 2%;

                z-index: 10;

                margin-top: 10px;

                .header-popup-item {
                    width: 25%;

                    margin: 5px 0;
                }
            }

            .header-advanced-link {
                display: block;
                float: left;

                background-color: #24476D;

                position: absolute;

                width: 100%;

                top: 295px;
                left: 0;

                a,
                a:visited,
                a:hover,
                a:link {
                    display: block;

                    width: 100%;

                    padding: 20px 0;

                    text-align: center;
                    text-decoration: underline;

                    color: #F3D269;
                }
            }

            .header-genres-overlay {
                position: absolute;

                z-index: 5;

                width: 100%;
                height: 295px;

                top: 0;
                left: 0;

                opacity: .3;

                background-image: url('assets/img/bg-diagonal-grey.png');
            }

            &:after {
                position: absolute;

                content: "";

                bottom: 100%;

                height: 40px;
                width: 40px;

                background-color: #24476D;

                margin-left: -20px;
                margin-bottom: -8px;

                z-index: 50;

                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);

            }

            &.header-popup-genre {
                left: 6%;

                width: 85%;
                height: 300px;

                &:after {
                    left: 29.2%;
                }
            }

            &.header-popup-decade {
                left: 20%;

                width: 55%;
                height: 145px;

                .header-popup-items {
                    .header-popup-item {
                        width: 33.3%
                    }
                }

                .header-advanced-link {
                    top: 140px;
                }

                .header-genres-overlay {
                    height: 140px;
                }

                &:after {
                    left: 35.4%;
                }
            }

            &.header-popup-throwback {
                left: 10%;

                width: 85%;
                height: 250px;

                .header-advanced-link {
                    top: 245px;
                }

                .header-genres-overlay {
                    height: 245px;
                }

                &:after {
                    left: 46.4%;
                }
            }
        }

        &.header-sticky {
            width: 100%;
            height: 75px;

            background-color: black;

            position: fixed;

            top: 0;
            left: 0;

            z-index: 1500;

            transition: all 350ms ease;

            &.header-in {
                transform: translateZ(0);
            }

            &.header-out {
                transform: translateY(-100%);
            }

            .container {
                width: calc(100% - 150px);
                margin-left: initial;
                .header-logo {
                    display: flex;
                    justify-content: center;

                    a,
                    a:link,
                    a:visited,
                    a:hover {
                    	display: block;
                    	float: left;

                    	background: url('assets/img/logo-medium.png') no-repeat;
                    	background-position: left center;
                        background-size: cover;

                    	width: 150px;
                    	height: 75px;

                        text-indent: -9999px;

                        margin-left: 0;
                        margin-right: 0;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }

                .header-menu {
                    padding: 0;
                    nav {
                        padding-top: 20px;
                        display: flex;
                        justify-content: space-around;

                        max-width: 850px;

                        a,
                        a:visited,
                        a:hover,
                        a:link {
                            display: block;
                            float: left;

                        	font-family: 'Roboto Condensed', sans-serif;
                        	font-size: 14px;
                            font-weight: normal;

                        	letter-spacing: 3px;

                            margin: 0;

                            padding-left: 15px;
                            padding-right: 15px;
                            padding-top: 8px;
                            padding-bottom: 8px;

                        	color: white;

                            text-transform: uppercase;
                            text-decoration: none;

                            @include transition(color .3s);

                            &.account-link {
                            	color: #FFD887;

                                &:hover {
                                    color: #7F7F7F !important;
                                }
                            }

                            &.button-gold-border {
                            	color: #FFD887;
                            }
                        }

                        a:hover, a.active {
                            color: #7F7F7F;
                        }

                        a:first-child {
                            margin-left: -15px;

                            padding-left: 0;
                        }

                        a:last-child {
                            margin-right: -15px;

                            padding-right: 0;
                        }
                    }
                }

                @media (max-width: 1199px) {
                    .header-logo {
                        display: block;
                        float: left;
                    }
                }
            }

            .header-menu-buttons {
                position: absolute;

                top: 0;
                right: 0;

                .search-button {
                    display: block;
                    float: left;

                    background-image: url('assets/img/icon-search-black.svg');
                    background-color: #0687AC;
                    background-position: top left;
                    background-repeat: no-repeat;

                    width: 75px;
                    height: 75px;

                    text-indent: -9999px;

                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 0;
                    margin-bottom: 0;

                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 0;
                    padding-bottom: 0;

                    cursor: pointer;
                }

                .menu-button {
                    display: block;
                    float: left;

                    background-image: url('assets/img/icon-hamburger.svg');
                    background-color: #6F7681;
                    background-position: top left;
                    background-repeat: no-repeat;

                    width: 75px;
                    height: 75px;

                    text-indent: -9999px;

                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 0;
                    margin-bottom: 0;

                    padding-left: 0;
                    padding-right: 0;
                    padding-top: 0;
                    padding-bottom: 0;

                    cursor: pointer;
                }
            }

            .header-sticky-search {
                position: relative;

                border-style: solid;
                border-color: #0687AC;
                border-width: 5px 0 0 0;

                @include linearGradient(#173949, #14354F);

                .header-sticky-search-close {
                    position: absolute;

                    z-index: 15;

                    top: 10px;
                    right: 10px;

                    a,
                    a:visited,
                    a:hover,
                    a:link {
                        display: block;

                        color: white;

                        height: 12px;
                        width: 12px;

                        background-image: url('assets/img/icon-close.png');
                        background-repeat: no-repeat;
                        background-position: center center;

                        @include backgroundSize(contain);

                        text-decoration: none;
                    }
                }

                .main {
                    .container {
                        position: relative;

                        z-index: 10;

                        margin-left: auto;

                        .container-title {
                            padding: 40px 0;

                            font-family: 'Roboto Condensed', sans-serif;
                            font-size: 20px;

                            color: white;

                            width: 100%;

                            text-align: center;

                            a,
                            a:link,
                            a:visited,
                            a:hover {
                                color: #F3D269;

                                text-decoration: underline;
                            }
                        }

                        .container-search {
                            padding: 0 5% 40px 18.5%;

                            .text {
                            	display: block;
                                float: left;

                                background-color: #1A1A1A;

                            	width: 600px;
                            	height: 46px;

                            	font-family: 'Roboto', sans-serif;

                                margin-left: 0;
                                margin-right: 0;
                                margin-top: 0;
                                margin-bottom: 0;

                                padding-left: 12px;
                                padding-right: 20px;
                                padding-top: 10px;
                                padding-bottom: 10px;

                            	color: #FFF;
                                border: none;

                                @include placeholder-color(#737d88);
                            }

                            .button {
                            	display: block;
                            	float: left;

                            	background-image: url('assets/img/icon-search.svg');
                                background-color: #0687ac;
                            	background-position: 15px 0;
                                background-repeat: no-repeat;

                                border: none;

                                color: white;

                                width: 150px;
                            	height: 46px;

                                margin-left: 0;
                                margin-right: 0;
                                margin-top: 0;
                                margin-bottom: 0;

                                padding-left: 10px;
                                padding-right: 10px;
                                padding-top: 10px;
                                padding-bottom: 10px;

                                cursor: pointer;

                                font-size: 19px;
                                font-family: 'Roboto Condensed', sans-serif;

                                text-indent: 45px;

                                letter-spacing: 2px;
                            }
                        }

                        .container-menu {
                            nav {
                                ul {
                                    list-style: none;

                                    li {
                                        display: block;
                                        float: left;

                                        width: 25%;

                                        border-style: solid;
                                        border-color: black;
                                        border-width: 0 3px 0 0;

                                        font-size: 18px;

                                        text-align: center;

                                        cursor: pointer;

                                        padding-top: 31px;
                                        padding-bottom: 31px;
                                        padding-left: 0;
                                        padding-right: 0;

                                        &.menu {
                                            color: white;

                                            font-family: 'Roboto', sans-serif;

                                            background-image: url('assets/img/icon-caret-closed.png');
                                            background-repeat: no-repeat;

                                            &.genre {
                                                background-position: 85px 34px;
                                            }

                                            &.decade {
                                                background-position: 80px 34px;
                                            }

                                            &.throwback {
                                                background-position: 65px 34px;

                                                border-width: 0 0 0 0;
                                            }

                                            &.open {
                                                background-color: black;
                                                background-image: url('assets/img/icon-caret-open.png');
                                            }
                                        }

                                        &.link {
                                        	display: block;
                                            float: left;

                                        	background: url('assets/img/header-advanced-search-long.svg');
                                        	background-position: -20px 0;
                                            background-repeat: no-repeat;

                                            @include backgroundSize(cover);

                                            border-width: 0 0 0 0;

                                            padding: 34px 0;

                                        	color: #68cff6;

                                        	line-height: 1;

                                        	text-align: center;

                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    @media (max-width: 767px) {
                        .container {
                            width: 100%;
                        }
                    }

                    .overlay {
                        position: absolute;

                        z-index: 5;

                        width: 100%;
                        height: 100%;

                        top: 0;
                        left: 0;

                        opacity: .15;

                        background-image: url('assets/img/bg-diagonal-grey.png');
                    }
                }

                .items {
                    background-color: black;

                    width: 100%;

                    .container {
                        padding: 0 40px;

                        .item {
                            width: 25%;

                            margin: 10px 0;
                        }
                    }

                    &.decades {
                        .container {
                            padding: 0 300px;

                            .item {
                                width: 33.3%;
                            }
                        }
                    }
                }
            }
        }

        &.header-sticky-slideout {
            position: fixed;

            z-index: 2000;

            width: 350px;
            height: 100%;

            top: 0;
            right: 0;

            overflow-y: auto;

            border-style: solid;
            border-color: #FFD887;
            border-width: 0 0 0 5px;

            @include linearGradientAngle(135deg, #4A4C44, #172A42);

            transition: all 350ms ease;

            &.menu-in {
                transform: translateX(0);
            }

            &.menu-out {
                transform: translateX(100%);
            }

            .slideout-close {
                position: absolute;

                z-index: 15;

                top: 3%;
                right: 5%;

                span {
                    color: white;

                    font-size: 32px;

                    cursor: pointer;
                }
            }

            .slideout-container {
                position: relative;

                z-index: 10;

                padding: 6% 10% 10%;

                .button-gold-border {
                    display: block;

                    padding-left: 0;
                    padding-right: 0;

                    margin: 0 0 15px;

                    width: 205px;

                    font-size: 12px;
                }

                h2 {
                    color: #CFCFCF;

                    border-style: solid;
                    border-color: #A8A8A8;
                    border-width: 0 0 2px 0;

                    padding-bottom: 3px;

                    font-size: 20px;

                    width: 250px;
                }

                ul {
                    list-style: none;

                    padding-left: 0;

                    li {
                        margin-bottom: 5px;

                        a,
                        a:link,
                        a:visited {
                            color: #FEFEFE;

                            font-family: 'Roboto', sans-serif;

                            font-size: 19px;
                        }
                        
                        a:hover, a.active {
                            color: #7F7F7F;
                        }

                        a:hover {
                            text-decoration: underline;
                        }

                        &:last-child {
                            margin-bottom: 30px;
                        }
                    }
                }

                .social-section {
                    margin: 0;

                    a,
                    a:visited,
                    a:hover,
                    a:link {
                        display: block;
                        float: left;

                        height: 50px;
                        width: 50px;

                        margin-right: 20px;

                        text-indent: -9999px;

                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;

                        &.social-icon.twitter {
                            background-image: url('assets/img/icon-twitter-yellow.svg');
                        }

                        &.social-icon.instagram {
                            background-image: url('assets/img/icon-instagram-yellow.svg');
                        }

                        &.social-icon.facebook {
                            background-image: url('assets/img/icon-facebook-yellow.svg');
                        }
                    }
                }
            }

            .overlay {
                position: absolute;

                z-index: 5;

                width: 100%;
                height: 100%;

                top: 0;
                left: 0;

                opacity: .15;

                background-image: url('assets/img/bg-diagonal-grey.png');
            }
        }

        &.header-mobile {
            width: 100%;
            height: 70px;

            background-color: black;

            position: fixed;
            top: 0;
            left: 0;

            z-index: 1500;

            transition: all 350ms ease;

            .header-container {
                width: 100%;

                .header-contents {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    .header-logo {
                        display: flex;
                        align-items: center;
    
                        width: 143px;
                        height: 70px;
    
                        padding: 5px 10px;
        
                        a,
                        a:link,
                        a:visited,
                        a:hover {
                            display: block;
        
                            background: url('assets/img/logo-medium.png') no-repeat;
                            background-position: left center;
                            background-size: cover;
        
                            width: 100%;
                            height: 100%;
        
                            text-indent: -9999px;
        
                            margin: 0;
                        }
                    }
    
                    .header-menu {
                        display: flex;
                        align-items: center;
    
                        .button {
                            font-size: 13px;
                            padding: 10px 27px;
                            margin-right: 17px;
    
                            @media screen and (max-width: 369px) {
                                padding: 10px 20px;
                            }
                        }
    
                        .menu-button {
                            background-image: url('assets/img/icon-hamburger-gold.svg');
                            background-color: transparent;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
        
                            width: 75px;
                            height: 70px;
        
                            text-indent: -9999px;
        
                            margin: 0;
                            padding: 0;
        
                            cursor: pointer;
                        }
                    }
    
                    .header-menu-buttons {
                        .search-button {
                            display: block;
                            float: left;
    
                            background-image: url('assets/img/icon-search-black.svg');
                            background-color: #0687AC;
                            background-position: top left;
                            background-repeat: no-repeat;
    
                            width: 70px;
                            height: 70px;
    
                            text-indent: -9999px;
    
                            margin-left: 0;
                            margin-right: 0;
                            margin-top: 0;
                            margin-bottom: 0;
    
                            padding-left: 0;
                            padding-right: 0;
                            padding-top: 0;
                            padding-bottom: 0;
    
                            cursor: pointer;
                        }
    
                        .menu-button {
                            display: block;
                            float: left;
    
                            background-image: url('assets/img/icon-hamburger.svg');
                            background-color: #6F7681;
                            background-position: top left;
                            background-repeat: no-repeat;
    
                            width: 70px;
                            height: 70px;
    
                            text-indent: -9999px;
    
                            margin-left: 0;
                            margin-right: 0;
                            margin-top: 0;
                            margin-bottom: 0;
    
                            padding-left: 0;
                            padding-right: 0;
                            padding-top: 0;
                            padding-bottom: 0;
    
                            cursor: pointer;
                        }
                    }
                }

                .header-sticky-search {
                    position: relative;
                    border-style: solid;
                    border-color: #0687AC;
                    border-width: 5px 0 0 0;
                    @include linearGradient(#173949, #14354F);

                    .header-sticky-search-close {
                        position: absolute;
                        z-index: 15;
                        top: 10px;
                        right: 10px;

                        a,
                        a:visited,
                        a:hover,
                        a:link {
                            display: block;
                            color: white;
                            height: 12px;
                            width: 12px;
                            background-image: url('assets/img/icon-close.png');
                            background-repeat: no-repeat;
                            background-position: center center;
                            text-decoration: none;
                            @include backgroundSize(contain);
                        }
                    }

                    .main {
                        .container {
                            position: relative;
                            z-index: 10;
                            margin-left: auto;

                            .container-title {
                                padding: 40px 0;
                                margin-left: auto;
                                margin-right: auto;
                                font-family: 'Roboto Condensed', sans-serif;
                                font-size: 20px;
                                color: white;
                                width: 100%;
                                text-align: center;

                                a,
                                a:link,
                                a:visited,
                                a:hover {
                                    color: #F3D269;

                                    text-decoration: underline;
                                }
                            }

                            .container-search {
                                padding: 0 20px 40px 20px;

                                form {
                                    width: 100%;
                                    display: flex;

                                }

                                .text {
                                    display: block;

                                    background-color: #1A1A1A;

                                    width: 100%;
                                    height: 46px;

                                    font-family: 'Roboto', sans-serif;

                                    margin-left: 0;
                                    margin-right: 0;
                                    margin-top: 0;
                                    margin-bottom: 0;

                                    padding-left: 12px;
                                    padding-right: 20px;
                                    padding-top: 10px;
                                    padding-bottom: 10px;

                                    color: #FFF;
                                    border: none;

                                    @include placeholder-color(#737d88);
                                }

                                .button {
                                    display: block;
                                    background-image: url('assets/img/icon-search.svg');
                                    background-color: #0687ac;
                                    background-position: 0;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    border: none;
                                    color: white;
                                    width: 130px;
                                    height: 46px;
                                    margin: 0;
                                    padding: 10px;
                                    font-size: 19px;
                                    font-family: 'Roboto Condensed', sans-serif;
                                    text-indent: 45px;
                                    letter-spacing: 2px;
                                    cursor: pointer;
                                }
                            }
                        }

                        @media (max-width: 767px) {
                            .container {
                                width: 100%;
                            }
                        }

                        .overlay {
                            position: absolute;
                            z-index: 5;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            opacity: .15;
                            background-image: url('assets/img/bg-diagonal-grey.png');
                        }
                    }
                }
            }

            &.header-in {
                transform: translateZ(0);
            }

            &.header-out {
                transform: translateY(-100%);
            }
        }

        &.header-mobile-menu {
            height: 100vh;
            width: 263px;

            position: fixed;
            top: 0;
            right: 0;
            z-index: 2000;

            border-left: 3px solid #FFE897;

            @include linearGradientAngle(135deg, #303539, #202a39);

            transition: all 350ms ease;

            &.menu-in {
                transform: translateX(0);
            }

            &.menu-out {
                transform: translateX(100%);
            }

            .menu-container {
                position: relative;
                z-index: 10;

                .menu-header {
                    display: flex;

                    .menu-logo {
                        width: calc(100% - 75px);
                        padding: 5.5px 17.5px;

                        .menu-label {
                            color: white;
                            font-size: 24px;
                            font-family: Arial,sans-serif;

                            height: calc(70px - 11px);
                            width: 100%;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            border-bottom: 1px solid #707070;
                        }
                    }

                    .menu-close {
                        width: 75px;
                        height: 70px;

                        background-image: url('assets/img/icon-hamburger-white.svg');
                        background-color: #233E51;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

                .menu-contents {
                    padding: 17.5px;

                    .menu-list {
                        list-style-type: none;
                        padding: 0px 10px 21px;
                        border-bottom: 1px solid #707070;

                        li {
                            padding: 7px 0px;
                            a {
                                color: white;
                                font-size: 20px;
                                line-height: 24px;
                                font-weight: 300;

                                &.active {
                                    color: #FFE897;
                                }
                            }
                        }
                    }

                    .menu-social {
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 30px;

                        .social-icon {
                            display: block;

                            height: 42px;
                            width: 42px;

                            text-indent: -9999px;

                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: contain;

                            &.twitter {
                                background-image: url('assets/img/icon-twitter-bronze.svg');
                            }
            
                            &.instagram {
                                background-image: url('assets/img/icon-instagram-bronze.svg');
                            }
            
                            &.facebook {
                                background-image: url('assets/img/icon-facebook-bronze.svg');
                            }            
                        }
                    }
                }
            }

            .overlay {
                position: absolute;

                z-index: 5;

                width: 100%;
                height: 100%;

                top: 0;
                left: 0;

                opacity: .15;

                background-image: url('assets/img/bg-diagonal-grey.png');
            }
        }
    }
}

.header-search-container {
    input:-webkit-autofill,
    textarea:-webkit-autofill, 
    select:-webkit-autofill {
        background-color: #1A1A1A !important;
        box-shadow: 0 0 0px 1000px #1A1A1A inset;
        -webkit-box-shadow: 0 0 0px 1000px #1A1A1A inset;
        -webkit-text-fill-color: white !important;
        transition: background-color 5000s ease-in-out 0s;
        caret-color: white !important;
    }    
}

@media screen and (max-width: 1199px) {
    header {
        section {
            &.header-sticky {
                .container {
                    .header-menu {
                        nav {
                            display: block;

                            a,
                            a:visited,
                            a:hover,
                            a:link {
                                &.account-link {
                                    float: right;

                                    margin-right: 150px;
                                }

                                &.button-gold-border {
                                    float: right;

                                    margin-right: 150px;

                                    padding: 8px 15px;
                                }
                            }

                            a:hover, a.active {
                                color: #7F7F7F;
                            }
                        }
                    }
                }

                .header-sticky-search {
                    .main {
                        .container {
                            .container-search {
                                .text {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
