@import 'mixins';
@import 'buttons';
@import 'toast';
@import 'star-rating';
@import 'fonts';

div,
span,
h1, h2, h3, h4, h5, h6,
p,
a {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;

    my-app {
        display: block;

        width: 100%;

        span {
            &.loading-text {
                display: block;

                width: 100%;

                text-align: center;

                color: white;

                font-size: 28px;

                margin-top: 100px;
            }
        }

        > div {
            &.old-site-bar {
                width: 100%;

                background-color: rgba(212, 173, 90, 0.95);

                text-align: center;

                font-size: 16px;
                padding: 5px 0;

                a {
                    color: #333;

                    &:hover {
                        color: white;

                        text-decoration: none;
                    }
                }
            }
        }

        .return-top {
            width: 45px;
            height: 45px;

            display: none;

            position: fixed;
            bottom: 50px;
            right: 30px;
            z-index: 1999;

            cursor: pointer;

            background-image: url('assets/img/bg-return-to-top.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            &.show-return-top {
                display: block;
            }
        }

        .hidden {
            display: none !important;
        }
    }

    my-app:empty {
        position: relative;

        z-index: 1;
    }

    #loading-text {
        position: fixed;

        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        z-index: -1;

        opacity: 0;

        background-color: black;

        transition: opacity .8s ease-in-out;

        > div.loading-logo {
            margin-top: 30px;

            width: 100%;
            float: left;

            text-align: center;
        }

        h1 {
            width: 100%;

            float: left;

            text-align: center;

            color: white;

            font-family: 'Roboto Slab', serif;
        }

        > div.progress {
            width: 40%;
            margin-left: 30%;
        }
    }

    my-app:empty + #loading-text {
        opacity: 1;
        z-index: 100;
    }

    a,
    a:link,
    a:hover,
    a:link {
        color: #F3D269;

        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.toast-container {
    .toast {
        opacity: 1 !important;
        padding: 15px !important;
        button.toast-close-button {
            right: 5px;
            top: 0;
        }
        .toast-message {
            a {
                color: #F3D269 !important;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

img {
    width: 100%;
}

// cursor style
.cursor-pointer {
    cursor: pointer;
}


// modal dialog style
modal-container {
    &.modal.fade {
        display: -webkit-box !important;
        justify-content: center;
        align-items: center;
    }
}

// Classes that can be used throughout the site.
// Should probably go in its own file?
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding-side {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}

.pb-0, .py-0 {
    padding-bottom: 0 !important;
}
.pt-0, .py-0 {
    padding-top: 0 !important;
}
.pl-0, .px-0 {
    padding-left: 0 !important;
}
.pr-0, .px-0 {
    padding-right: 0 !important;
}


.m-0 {
    margin: 0 !important;
}
.mr-0, .mx-0 {
    margin-right: 0 !important;
}
.ml-0, .mx-0 {
    margin-left: 0 !important;
}
.mt-0, .my-0 {
    margin-top: 0 !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}


.text-white {
    color: white !important;
}
.text-gold {
    color: #F3D269 !important;
}


body.modal-open {
    overflow: auto !important;
    padding-right: 0 !important;
}

/*** custom width ***/
.w-100 {
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}

/*** display style ***/
.display-none {
    display: none !important;
}
.d-flex {
    display: flex;
}
.justify-content-center {
    display: flex;
    justify-content: center;
}
.align-items-center {
    display: flex;
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}

/*** position style ***/
.position-abs {
    position: absolute !important;
}

// Global mobile stuffs
@media screen and (max-width: 1199px) {
    body {
        padding-top: 75px;
        my-app {
            .blog {
                iframe {
                    margin-top: -70px;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    body {
        padding-top: 70px;
    }
}

// Random shit that doesn't work in the shadow DOM
.modal-backdrop {
    z-index: 1984;
}

// new toggle switch element
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

      /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #E9BD61;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}

@import 'header';
@import 'footer';
@import 'player';
@import 'auth';
@import 'frontpage';
@import 'account';
@import 'advanced';
@import 'contact';
@import 'faq';
@import 'password';
@import 'pricing';
@import 'releases';
@import 'renew';
@import 'signup';
@import 'top';
@import 'modals';
@import 'profile';
