// Input placeholder text color
@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
       color: $color;
    }

    &:-moz-placeholder {
       color: $color;
    }

    &::-moz-placeholder {
       color: $color;
    }

    &:-ms-input-placeholder {
       color: $color;
    }
}

// CSS3 Transitions
@mixin transition($transition) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}

// Linear Background Gradient
@mixin linearGradient($top, $bottom) {
    background: #{$top}; /* Old browsers */
    background:    -moz-linear-gradient(top, #{$top} 0%, #{$bottom} 100%); /* FF3.6+ */
    background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%, #{$top}), color-stop(100%, #{$bottom})); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #{$top} 0%, #{$bottom} 100%); /* Chrome10+,Safari5.1+ */
    background:      -o-linear-gradient(top, #{$top} 0%, #{$bottom} 100%); /* Opera 11.10+ */
    background:     -ms-linear-gradient(top, #{$top} 0%, #{$bottom} 100%); /* IE10+ */
    background:         linear-gradient(to bottom, #{$top} 0%, #{$bottom} 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top}', endColorstr='#{$bottom}', GradientType=0 ); /* IE6-9 */
}

// Linear Background Gradient with a given angle
@mixin linearGradientAngle($angle, $top, $bottom) {
    background: #{$top}; /* Old browsers */
    background:    -moz-linear-gradient(#{$angle}, #{$top} 0%, #{$bottom} 100%); /* FF3.6+ */
    background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%, #{$top}), color-stop(100%, #{$bottom})); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(#{$angle}, #{$top} 0%, #{$bottom} 100%); /* Chrome10+,Safari5.1+ */
    background:      -o-linear-gradient(#{$angle}, #{$top} 0%, #{$bottom} 100%); /* Opera 11.10+ */
    background:     -ms-linear-gradient(#{$angle}, #{$top} 0%, #{$bottom} 100%); /* IE10+ */
    background:         linear-gradient(#{$angle}, #{$top} 0%, #{$bottom} 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top}', endColorstr='#{$bottom}', GradientType=0 ); /* IE6-9 */
}

// Radial background gradient
@mixin radialGradient($inner, $outer) {
    background: #{$inner};
    background:    -moz-radial-gradient(center, ellipse cover, #{$inner} 0%, #{$outer} 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #{$inner} 0%, #{$outer} 100%);
    background:         radial-gradient(ellipse at center, #{$inner} 0%, #{$outer} 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$inner}', endColorstr='#{$outer}', GradientType=1 );
}

// Rounded corner borders
@mixin roundedCorners($size) {
    -webkit-border-radius: $size;
       -moz-border-radius: $size;
            border-radius: $size;
}

// Background blend mode
@mixin backgroundBlendMode($mode1, $mode2) {
    -webkit-background-blend-mode: $mode1, $mode2;
            background-blend-mode: $mode1, $mode2;
}

// Background size
@mixin backgroundSize($type) {
    -webkit-background-size: $type;
       -moz-background-size: $type;
         -o-background-size: $type;
            background-size: $type;
}

// CSS Transform
// example: @include transform("origin", 0, 0);
@mixin transform($type, $values...) {
    $n: length($values);
    $i: 1;

    $originVal: ();

    @while $i <= $n {
        $itemVal: (nth($values, $i));

        @if $type == "rotate" or $type == "rotateY" or $type == "rotateX" {
            $originVal: append($originVal, $itemVal + deg);
        } @else {
            $originVal: append($originVal, $itemVal + px);
        }

        $i: $i + 1;
    }

    -webkit-transform: #{$type}unquote("("#{$originVal}")");
       -moz-transform: #{$type}unquote("("#{$originVal}")");
        -ms-transform: #{$type}unquote("("#{$originVal}")");
         -o-transform: #{$type}unquote("("#{$originVal}")");
            transform: #{$type}unquote("("#{$originVal}")");
}

// Box Shadow
// example: @include box-shadow(1px, 2px, 2px, 2px, #000);
@mixin boxShadow($hoff: false, $voff: false, $blur: false, $spread: false, $color: false){
    -webkit-box-shadow: $hoff $voff $blur $spread $color;
       -moz-box-shadow: $hoff $voff $blur $spread $color;
            box-shadow: $hoff $voff $blur $spread $color;
}
