@import 'mixins';
@import 'buttons';
@import 'fonts';

@media (min-width: 768px) {
    .modal-dialog.detail-form {
        width: 765px;
    }
}

.modal-dialog {
    &.detail-form {
        .modal-content {
            section {
                &.modal-detail {
    
                    color: white;
    
                    font-family: 'Roboto', sans-serif;
    
                    .modal-info {
    
                        @include linearGradient(#20232A, #000);
    
                        padding-bottom: 20px;
    
                        .modal-header {
    
                            border-bottom: none;
    
                            position: absolute;
                            right: 0;
    
                            z-index: 9999;
    
                            .modal-close-button {
                                display: block;
    
                                color: white;
    
                                height: 15px;
                                width: 15px;
    
                                background-image: url('assets/img/icon-close.png');
                                background-repeat: no-repeat;
                                background-position: center center;
    
                                @include backgroundSize(contain);
    
                                cursor: pointer;
                            }
                        }
    
                        .modal-container {
    
                            width: 100%;
    
                            > div:last-child {
                                padding-left: 0px !important;
                            }
    
                            .release-image {
                                width: 100%;
                                padding-top: 40px;
                                text-align: center;
                            }
    
                            div {
                                &.title {
                                    padding-top: 40px;
    
                                    margin-bottom: 10px;
    
                                    font-family: 'Roboto Slab', serif;
    
                                    font-size: 24px;
                                }
    
                                &.artist {
                                    font-size: 18px;
    
                                    margin-bottom: 10px;
    
                                    em {
                                        font-style: normal;
                                        font-weight: bold;
                                    }
                                }
    
                                &.genre {
                                    font-size: 12px;
    
                                    color: #CCC;
    
                                    > div {
                                        padding-left: 0;
                                        padding-right: 0;
                                    }
                                }
    
                                &.misc {
                                    display: block;
                                    float: left;
    
                                    width: 100%;
    
                                    margin-bottom: 10px;
    
                                    > div {
                                        display: block;
                                        float: left;
    
                                        margin-right: 15px;
    
                                        font-size: 12px;
    
                                        color: #CCC;
    
                                        strong {
                                            color: white;
                                        }
                                    }
                                }

                                &.ratings {
                                    div {
                                        display: block;
                                        float: left;
    
                                        &.score,
                                        &.votes {
                                            margin-top: 4px;
                                        }
                                    }
    
                                    rating {
                                        display: block;
                                        float: left;
    
                                        margin: 0 7px;
                                    }
                                }

                                &.links {
                                    margin: 20px 0;

                                    span {
                                        width: 30px;
                                        height: 30px;
                                        display: inline-block;

                                        margin-right: 20px;

                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;

                                        cursor: pointer;

                                        &.release-remix {
                                            opacity: 0.7;
                                            background-image: url('assets/img/icon-blender.svg');
                                            margin-right: 10px;

                                            &:hover {
                                                opacity: 1;
                                            }
                                        }

                                        &.release-external {
                                            width: 25px;
                                            height: 25px;
                                            background-image: url('assets/img/icon-external-grey.svg');

                                            &:hover {
                                                background-image: url('assets/img/icon-external-gold.svg');
                                            }
                                        }    
                                    }
                                }

                                &.zip-download,
                                &.zip-dropbox,
                                &.zip-crateq {
                                    display: block;
                                    margin: 20px 0;

                                    button {
                                        @include roundedCorners(30px);

                                        &.unrated {
                                            width: 170px;
    
                                            background-color: transparent;
    
                                            color: #0597C1;
    
                                            border-style: solid;
                                            border-color: #0597C1;
                                            border-width: 2px;
    
                                            padding: 5px 10px;
    
                                            cursor: default;
                                        }

                                        &.rated {
                                            width: 170px;
    
                                            text-align: center;
    
                                            padding-top: 5px;
                                            padding-bottom: 5px;
                                            padding-left: 30px;
                                            padding-right: 30px;
    
                                            color: white;
    
                                            border-style: solid;
                                            border-color: #F3D269;
                                            border-width: 2px;
    
                                            background-color: #B68B2C;
    
                                            @include roundedCorners(30px);
                                            @include transition(background-color .3s);
    
                                            &:hover {
                                                background-color: rgba(144,113,46,0.75);
                                            }
                                        }
                                    }
                                }
    
                                &.version-container {
                                    display: block;
    
                                    .version-item {
                                        display: block;
                                        float: left;
    
                                        width: 100%;
    
                                        margin: 5px 0;
    
                                        .version-play {
                                            display: block;
                                            float: left;
    
                                            position: relative;
    
                                            width: 20px;
                                            height: 20px;
    
                                            margin-right: 5px;
    
                                            a,
                                            a:link,
                                            a:visited,
                                            a:hover {
                                                display: block;
                                                float: left;
    
                                                height: 100%;
                                                width: 100%;
    
                                                position: absolute;
    
                                                top: 0;
                                                left: 0;
    
                                                z-index: 5;
    
                                                width: 100%;
                                                height: 100%;
    
                                                background-image: url('assets/img/icon-version-play.svg');
                                                background-position: center center;
                                                background-repeat: no-repeat;
                                            }
                                        }
    
                                        .version-title {
                                            display: block;
                                            float: left;
                                            max-width: 340px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                        }
    
                                        div[class^=version-d],
                                        div[class^=version-crateq] {
                                            display: block;
                                            float: left;
    
                                            position: relative;
    
                                            width: 15px;
                                            height: 15px;
    
                                            margin-left: 5px;
    
                                            span {
                                                display: block;
                                                float: left;
    
                                                height: 100%;
                                                width: 100%;
    
                                                position: absolute;
    
                                                top: 2px;
                                                left: 0;
    
                                                z-index: 5;
    
                                                width: 100%;
                                                height: 100%;
    
                                                cursor: pointer;
    
                                                background-position: center center;
                                                background-repeat: no-repeat;
                                                background-size: contain;
                                            }
                                        }
                                    }
    
                                    .version-download {
                                        span {
                                            background-image: url('assets/img/icon-version-download-grey.svg');
                                        }
    
                                        span:hover {
                                            background-image: url('assets/img/icon-version-download-gold.svg');
                                        }
                                    }
    
                                    .version-dropbox {
                                        span {
                                            background-image: url('assets/img/icon-dropbox-grey.svg');
                                        }
    
                                        span:hover {
                                            background-image: url('assets/img/icon-dropbox-gold.svg');
                                        }
                                    }
    
                                    .version-crateq {
                                        span {
                                            background-image: url('assets/img/icon-crateq-grey.svg');
                                        }
            
                                        span:hover {
                                            background-image: url('assets/img/icon-crateq-gold.svg');
                                            opacity: 1 !important;
                                        }
            
                                        &.crateq-added {
                                            span {
                                                opacity: 0.7;
                                                background-image: url('assets/img/icon-crateq-gold.svg');
                                            }
                                        }
                                    }
    
                                    .close-link {
                                        display: block;
                                        float: left;
    
                                        width: 100%;
    
                                        a,
                                        a:link,
                                        a:visited,
                                        a:hover {
                                            display: block;
    
                                            width: 100px;
    
                                            padding-left: 20px;
    
                                            height: 15px;
    
                                            color: white;
    
                                            font-size: 12px;
    
                                            margin-top: 10px;
                                            margin-left: 2px;
    
                                            background-image: url("assets/img/icon-close.png");
                                            background-repeat: no-repeat;
                                            background-position: center left;
    
                                            @include backgroundSize(contain);
                                        }
                                    }
                                }
                            }
                        }
                    }
    
                    .artist-info {
                        margin-top: 25px;
    
                        .artist-image {
                            display: block;
                            float: left;
    
                            width: 100%;
    
                            text-align: right;
                        }
    
                        h2 {
                            font-family: 'Roboto Slab', serif;
                            font-size: 20px;
    
                            color: #F3D269;
    
                            margin-top: 0;
                        }
                    }
                    &.crateq-popup {
                        border: 3px solid #F3D269;
                        .modal-info {
                            padding-bottom: 10px;
                            .feature-content {
                                color: #F3D269;
                                font-style: italic;
                                font-weight: 300;

                                line-height: 25px;
                                padding: 5px 15px;
                                > p {
                                    margin-bottom: 0;
                                }
                            }
                            .zip-download {
                                &.crateq-download-buttons {
                                    margin-bottom: 20px;
                                    .rated {
                                        &.btn-mac {
                                            color: white;
                                            width: auto;
                                            border-color: #0597C1;
                                            background-color: #264564;
                                            padding: 5px 20px;
                                            margin-top: 7px;
                                        }    
                                    }
                                }    
                            }
                            .info {
                                text-decoration: underline;
                            }
                            .text-right {
                                margin-right: 10px;
                                input[type=checkbox] {
                                    margin-top: 0;
                                    transform: scale(1.2);
                                    -ms-transform: scale(1.2);    // IE
                                    -moz-transform: scale(1.2);   // firfox
                                    -webkit-transform: scale(1.2);// safari & chrome
                                    -o-transform: scale(1.2);     // opera
                                }
                            }
                        }
                    }
                }
            }
        }    
    }
    &.landing-modal {
        width: 400px;
        .modal-content {

            section {
                position: relative;

                border-style: solid;
                border-color: #FFD887;
                border-width: 5px 0 0;

                @include linearGradientAngle(135deg, #3D4444, #172A42);
                @include roundedCorners(0);

                .modal-body {

                    padding: 30px 50px;

                    z-index: 10;

                    text-align: center;

                    .contents {
                        color: white;
                        min-height: 200px;
                        h3 {
                            font-family: 'Roboto Slab', serif;
                        }
                    }

                    .button-group {
                        .button {
                            text-align: center;

                            border-style: solid;
                            border-width: 3px;

                            padding-top: 8px;
                            padding-bottom: 8px;
                            padding-left: 0;
                            padding-right: 0;

                            width: 100%;

                            margin: 10px 0;
                        }

                        .button-gold-border {
                            color: #FFD887;

                            border-style: solid;
                            border-color: #FFD887;
                            border-width: 2px;

                            background: transparent;

                            @include roundedCorners(30px);
                            @include transition(background-color .3s);

                            &:hover {
                                background-color: rgba(144,113,46,0.75);
                            }
                        }
                    }

                    &.promo-modal-body {
                        padding: 30px 20px 20px;

                        .contents {
                            min-height: 0;
                        }

                        .form-group {
                            display: flex;
                            align-items: center;
                            margin-top: 15px;
                        }

                        .button-group {
                            display: flex;
                            .button {
                                margin: 10px;
                            }
                        }
                    }
                }

                .modal-overlay {
                    position: absolute;

                    z-index: 5;

                    width: 100%;
                    height: 100%;

                    top: 0;
                    left: 0;

                    opacity: .15;

                    background-image: url('assets/img/bg-diagonal-grey.png');
                }
            }
        }
    }
}
