@import 'mixins';
@import 'buttons';
@import 'fonts';

section {
    &.password-reset {
        color: white;

        .header {
            height: 135px;

            text-align: center;

            @include linearGradient(#24262C, #171D2E);

            font-family: 'Roboto Slab', serif;

            margin-bottom: 45px;
        }

        button {
            &.button {
                text-align: center;

                border-style: solid;
                border-width: 3px;

                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 0;
                padding-right: 0;

                width: 100%;

                margin: 0 auto;
            }

            &.button-gold-border {
                color: #FFD887;

                border-style: solid;
                border-color: #FFD887;
                border-width: 1px;

                background: transparent;

                @include roundedCorners(30px);
                @include transition(background-color .3s);

                &:hover {
                    background-color: rgba(144,113,46,0.75);
                }
            }
        }
    }
}
