@import 'mixins';
@import 'variables';

.music-player-instruction {
    position: fixed;
    z-index: 2000;
    bottom: 75px;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: #EDA13E;
    text-align: center;
}

.music-player {
    position: fixed;

    z-index: 9999;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 75px;

    background-color: black;

    border-style: solid;
    border-color: #EDA13E;
    border-width: 4px 0 0;

    color: white;

    .container {
        font-family: 'Roboto', sans-serif;

        padding: 11px 125px 0;

        .play-pause {
            display: block;
            float: left;

            height: 50px;
            width: 50px;

            margin-right: 10px;

            cursor: pointer;

            background-repeat: no-repeat;
            background-position: center center;

            &.playing {
                background-image: url('assets/img/player-pause.svg');
            }

            &.stopped {
                background-image: url('assets/img/player-play.svg');
            }
        }

        .title {
            display: block;
            float: left;

            width: 400px;
            height: 20px;

            overflow: hidden;

            span {
                display: block;
                float: left;
            }

            a,
            a:link,
            a:visited,
            a:hover {
                display: block;
                float: left;

                margin-top: 3px;
                margin-left: 5px;

                width: 15px;
                height: 15px;

                background-image: url('assets/img/icon-external-grey.svg');
                background-repeat: no-repeat;
                background-position: center center;

                cursor: pointer;
            }
        }

        .artist {
            display: block;
            float: left;

            width: 300px;
            height: 20px;

            overflow: hidden;

            text-align: right;
        }

        .trackbar {
            display: block;
            float: left;

            width: 700px;

            position: relative;

            .time-current {
                display: block;
                float: left;

                width: 50px;
            }

            .track-container {
                position: relative;

                display: block;
                float: left;

                width: 600px;
                height: 18px;

                .playhead {
                    position: absolute;

                    top: 3px;

                    z-index: 2006;

                    height: 15px;
                    width: 15px;

                    background-color: white;

                    cursor: grab;

                    @include roundedCorners(50%);
                }

                .track-played {
                    position: absolute;

                    top: 7px;
                    left: 0;

                    z-index: 2005;

                    height: 7px;
                    background-color: #B68B2C;

                    @include roundedCorners(3px);
                }

                .track-full {
                    position: absolute;

                    top: 7px;
                    left: 0;

                    z-index: 2004;

                    width: 100%;
                    height: 7px;

                    background-color: #232525;

                    @include roundedCorners(3px);
                }
            }

            .time-total {
                display: block;
                float: left;

                text-align: center;

                width: 50px;
            }
        }

        .volume {
            position: relative;

            display: block;
            float: left;

            margin-left: 15px;

            width: 120px;

            .mute {
                display: block;
                float: left;

                height: 20px;
                width: 20px;

                cursor: pointer;

                background-repeat: no-repeat;
                background-position: center left;

                &.not-muted {
                    background-image: url('assets/img/player-unmute.svg');
                }

                &.muted {
                    background-image: url('assets/img/player-mute.svg');
                }
            }

            .volume-container {
                display: block;
                float: left;

                position: relative;

                margin-left: 10px;

                width: 80px;

                .volume-control {
                    position: absolute;

                    z-index: 2007;

                    top: -2px;

                    width: 5px;
                    height: 24px;

                    cursor: pointer;

                    background-color: white;
                }

                .volume-current {
                    position: absolute;

                    left: 0;
                    top: 0;

                    z-index: 2006;

                    height: 20px;

                    background-image: url('assets/img/player-volume-actual.png');
                    background-position: center left;
                    background-repeat: no-repeat;
                }

                .volume-total {
                    position: absolute;

                    left: 0;
                    top: 0;

                    z-index: 2005;

                    width: 0;
                    height: 0;

                    border-style: solid;
                    border-width: 10px 80px 10px 0;
                    border-color: transparent #202222 transparent transparent;
                }
            }
        }

        .player-close {
            display: block;
            float: left;

            color: white;

            height: 20px;
            width: 20px;

            background-image: url('assets/img/icon-close.png');
            background-repeat: no-repeat;
            background-position: center center;

            @include backgroundSize(contain);

            text-decoration: none;

            cursor: pointer;
        }
    }

    .wave-container {
        font-family: 'Roboto', sans-serif;
        margin: 0 auto;
        padding: 11px 125px 0;
        max-width: 1170px;

        .play-pause {
            display: block;
            float: left;

            height: 50px;
            width: 50px;

            margin-right: 10px;

            cursor: pointer;

            background-repeat: no-repeat;
            background-position: center center;

            &.playing {
                background-image: url('assets/img/player-pause.svg');
            }

            &.stopped {
                background-image: url('assets/img/player-play.svg');
            }
        }

        .title {
            display: block;
            float: left;

            width: 400px;
            height: 20px;

            overflow: hidden;

            span {
                display: block;
                float: left;
            }

            a,
            a:link,
            a:visited,
            a:hover {
                display: block;
                float: left;

                margin-top: 3px;
                margin-left: 5px;

                width: 15px;
                height: 15px;

                background-image: url('assets/img/icon-external-grey.svg');
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        .artist {
            display: block;
            float: left;

            width: 300px;
            height: 20px;

            overflow: hidden;

            text-align: right;
        }

        .trackbar {
            display: flex;
            float: left;
            align-items: center;
            width: 700px;

            position: relative;

            .time-current {
                display: block;
                float: left;

                width: 50px;
            }

            .waveform-container {
                position: relative;

                display: block;
                float: left;

                width: 600px;
                height: 30px;
                background-size: 600px 30px;

                @include roundedCorners(4px);
                
                .playhead {
                    position: absolute;

                    height: 30px;
                    width: 3px;

                    z-index: 2006;

                    background-color: white;

                    cursor: grab;

                    @include roundedCorners(2px);
                }

                .track-played {
                    position: absolute;

                    left: 0;

                    z-index: 2005;

                    height: 30px;
                    background-color: rgba(0, 0, 0, 0.4);

                    @include roundedCorners(4px);
                }

            }

            .time-total {
                display: block;
                float: left;

                text-align: center;

                width: 50px;
            }
        }

        .volume {
            position: relative;

            display: block;
            float: left;

            margin-left: 15px;

            width: 120px;

            .mute {
                display: block;
                float: left;

                height: 20px;
                width: 20px;

                cursor: pointer;

                background-repeat: no-repeat;
                background-position: center left;

                &.not-muted {
                    background-image: url('assets/img/player-unmute.svg');
                }

                &.muted {
                    background-image: url('assets/img/player-mute.svg');
                }
            }

            .volume-container {
                display: block;
                float: left;

                position: relative;

                margin-left: 10px;

                width: 80px;

                .volume-control {
                    position: absolute;

                    z-index: 2007;

                    top: -2px;

                    width: 5px;
                    height: 24px;

                    cursor: pointer;

                    background-color: white;
                }

                .volume-current {
                    position: absolute;

                    left: 0;
                    top: 0;

                    z-index: 2006;

                    height: 20px;

                    background-image: url('assets/img/player-volume-actual.png');
                    background-position: center left;
                    background-repeat: no-repeat;
                }

                .volume-total {
                    position: absolute;

                    left: 0;
                    top: 0;

                    z-index: 2005;

                    width: 0;
                    height: 0;

                    border-style: solid;
                    border-width: 10px 80px 10px 0;
                    border-color: transparent #202222 transparent transparent;
                }
            }
        }

        .player-close {
            display: block;
            float: left;

            color: white;

            height: 20px;
            width: 20px;

            background-image: url('assets/img/icon-close.png');
            background-repeat: no-repeat;
            background-position: center center;

            @include backgroundSize(contain);

            text-decoration: none;

            cursor: pointer;
        }
    }
}

@media #{$iphone7OrSmaller} {
    .music-player {
        .wave-container {
            .title {
                width: 75%;
            }
            .artist {
                width: 75%;
                text-align: left;
            }
        }
    }
}

@media #{$iphone7Plus} {
    .music-player {
        .wave-container {
            width: 410px;
            .title {
                width: 75%;
            }
            .artist {
                width: 75%;
                text-align: left;
            }
        }
    }
}

@media (min-width: 992px) {
    .music-player {
        .wave-container {
            width: 970px;
        }
    }
}

@media (min-width: 1200px) {
    .music-player {
        .wave-container {
            width: 1170px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .music-player {
        .container {
            padding: 11px 0 0;

            .title {
                width: 75%
            }

            .artist {
                width: 75%;
                text-align: left;
            }

            .trackbar {
                width: 87%;

                .track-container {
                    width: 75%;
                }
            }

            .player-close {
                margin-left: 15px;
                margin-top: -10px;
            }
        }

        .wave-container {
            padding: 11px 0 0;

            .player-close {
                margin-left: 15px;
            }

            .volume {
                padding-top: 5px;
            }
        }
    }
}

@media #{$ipadOrHigher} and (max-width: 991px) {
    .music-player {
        .wave-container {
            width: 750px;

            .title {
                width: 350px;
            }

            .artist {
                width: 250px;
                text-align: right;
            }

            .trackbar {
                width: 520px;
                .waveform-container {
                    width: 450px;
                }
            }

            .volume {
                padding-top: 5px;
            }

            .player-close {
                margin-top: 5px;
            }
        }
    }
}
