@import 'mixins';
@import 'buttons';
@import 'fonts';

section {
    &.pricing {
        font-family: 'Roboto', sans-serif;

        color: white;

        h1 {
            font-family: 'Roboto Slab', serif;
        }

        h3 {
            font-family: 'Roboto Slab', serif;

            font-size: 16px;
        }

        div {
            &.header {
                height: 150px;

                text-align: center;

                @include linearGradient(#24262C, #171D2E);
            }

            &.plans {
                margin: 0 0 40px;

                .container {
                    .plans-container {
                        display: block;
                        float: left;

                        width: 100%;
                        height: 450px;

                        margin: 65px 0 0;

                        .plan {
                            display: block;
                            float: left;

                            position: relative;

                            width: 24%;

                            margin-right: 1%;

                            text-align: center;

                            .content {
                                position: absolute;

                                top: 30px;
                                left: 0;

                                padding: 0;

                                z-index: 15;

                                .most-popular {
                                    display: block;
                                    float: left;

                                    width: 100%;

                                    margin: 5px 0 0;

                                    font-size: 18px;

                                    letter-spacing: 1px;

                                    text-transform: uppercase;
                                }

                                h3 {
                                    display: block;
                                    float: left;

                                    width: 100%;

                                    margin: 60px 0 0;
                                    padding: 0 25%;

                                    font-family: 'Roboto Slab', serif;
                                    font-size: 30px;
                                }

                                .price {
                                    display: block;
                                    float: left;

                                    width: 100%;

                                    margin: 80px 0 0;

                                    font-size: 18px;
                                }

                                .year-container {
                                    display: block;
                                    float: left;

                                    width: 100%;

                                    padding: 20px 0;
                                    margin: 50px 0 0;

                                    background-color: #496396;

                                    .year {
                                        font-size: 16px;
                                    }
                                }

                                button {
                                    padding: 5px 50px;
                                    margin: 20px 0 0;

                                    font-family: 'Roboto', sans-serif;
                                    font-size: 18px;

                                    text-align: center;

                                    &.gold-outline {
                                        background-color: rgba(212, 173, 90, .15);

                                        color: #7A5813;

                                        border-style: solid;
                                        border-color: #7A5813;
                                        border-width: 3px;

                                        @include roundedCorners(30px);
                                        @include transition(background-color .3s);

                                        &:hover {
                                            background-color: rgba(212, 173, 90, .65);
                                        }
                                    }

                                    &.yellow {
                                        background-color: #F9E473;

                                        color: #7A5813;

                                        border-style: solid;
                                        border-color: #F9E473;
                                        border-width: 3px;

                                        @include roundedCorners(30px);
                                        @include transition(background-color .3s);

                                        &:hover {
                                            background-color: rgba(249, 228, 115, .85);
                                        }
                                    }
                                }
                            }

                            .overlay {
                                width: 100%;
                                height: 100%;

                                position: absolute;

                                z-index: 10;

                                top: 0;
                                left: 0;

                                opacity: .65;

                                background-image: url('assets/img/bg-diagonal-grey.png');
                            }

                            .background {
                                width: 100%;
                                height: 420px;

                                position: absolute;

                                z-index: 5;

                                top: 0;
                                left: 0;

                                margin-top: 30px;

                                position: relative;

                                @include linearGradient(#414E75, #2E3C64);
                            }

                            .pricing-badge {
                                position: absolute;

                                z-index: 30;

                                top: -45px;
                                right: -75px;

                                height: 158px;
                                width: 158px;

                                padding: 52px 15px 0;

                                font-family: 'Roboto', sans-serif;
                                font-size: 20px;
                                font-weight: bold;

                                line-height: 21px;
                                text-transform: uppercase;

                                color: #A7791D;

                                background-image: url('assets/img/pricing-badge.png');
                            }

                            &.monthly {
                                background-color: #CFAA33;

                                .content {
                                    top: 0;

                                    .year-container {
                                        background-color: #7A5813;
                                    }
                                }

                                .overlay {
                                    background: none;
                                }

                                .background {
                                    background-image: url('assets/img/bg-triangle-gold.png');
                                    background-position: -28px 28px;

                                    height: 450px;

                                    margin-top: 0;

                                    opacity: .65;
                                }
                            }

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            &.features {
                background-color: #24262C;

                text-align: center;

                padding: 30px 0 60px;

                .container {
                    .features-container {
                        width: 100%;

                        margin: 35px 0;

                        .feature-item {
                            display: block;
                            float: left;

                            width: 30%;

                            margin-right: 2%;

                            text-align: left;

                            h5 {
                                display: block;
                                float: right;

                                width: 75%;

                                font-family: 'Roboto Slab', serif;
                            }

                            p {
                                display: block;
                                float: right;

                                width: 75%;

                                font-size: 11px;
                            }

                            .icon {
                                display: block;
                                float: left;

                                height: 100px;
                                width: 20%;

                                background-repeat: no-repeat;

                                &.curated {
                                    background-image: url('assets/img/features-curated.svg');
                                }

                                &.variety {
                                    background-image: url('assets/img/features-variety.svg');
                                }

                                &.downloads {
                                    background-image: url('assets/img/features-downloads.svg');
                                }

                                &.releases {
                                    background-image: url('assets/img/features-releases.svg');
                                }

                                &.selection {
                                    background-image: url('assets/img/features-selection.svg');
                                }

                                &.search {
                                    background-image: url('assets/img/features-search.svg');
                                }
                            }
                        }
                    }
                }
            }

            &.signup {
                width: 100%;
                height: 100px;

                padding: 32px 0 0;

                background-image: url('assets/img/bg-triangle-blue.png');
                background-position: -30% -1%;

                font-size: 23px;

                text-align: center;

                a,
                a:visited,
                a:link,
                a:hover {
                    color: white;

                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    section {
        &.pricing {
            div {
                &.plans {
                    .container {
                        .plans-container {
                            .plan {
                                .content {
                                    h3 {
                                        padding: 0;

                                        font-size: 25px;
                                    }

                                    button {
                                        font-size: 14px;

                                        padding: 5px 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
