@import 'mixins';

section {
  &.dj-profile {
    padding: 20px;
    color: white;
    background-color: #181c27;

    .header {
      margin-left: -15px;
      margin-right: -15px;
    }

    .contents {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .column {
        max-width: 380px;
        width: 100%;

        &:first-child {
          margin-top: 30px;
        }

        &:last-child {
          margin-top: 15px;
        }

        .form-group {
          margin: 0 0 30px;

          .control-label {
            font-size: 19px;
            line-height: 21px;
            font-weight: 300;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

            small {
              font-size: 70%;
            }

            &.label-error {
              color: #a94442;
            }
          }

          .checkbox {
            margin-top: 10px;
            display: flex;
            align-items: center;

            .chk-button {
              font-size: 18px;
              line-height: 22px;
              padding: 0;
              display: flex;
              align-items: center;

              input[type="checkbox"],
              input[type="radio"] {
                width: 20px;
                height: 20px;
                visibility: hidden;
                margin: 0;
                margin-right: 10px;
                position: unset;

                &:checked {
                  &::before {
                    background-image: url("assets/img/bg-checkbox.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                  }
                }

                &::before {
                  content: "";
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  background-color: white;
                  border-radius: 3px;
                  visibility: visible;
                }
              }
            }
          }

          input[type="text"],
          textarea,
          select {
            background-color: #393948;

            border-style: solid;
            border-width: 2px;
            border-color: #393948;

            color: white;
          }

          &.has-error {
            input[type="text"],
            textarea,
            select {
              border-color: #a94442;
            }
          }

          &.equipment {
            input {
              margin-right: 20px !important;
            }
          }

          &.dj-type {
            margin-top: 100px;
          }

          .sub-questions {
            padding: 10px;

            .form-group {
              margin: 0 0 15px;

              .checkbox {
                margin-top: 5px;

                .chk-button {
                  font-size: 14px;
                  line-height: 19px;

                  input[type="checkbox"],
                  input[type="radio"] {
                    height: 17px;
                    &::before {
                      width: 17px;
                      height: 17px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .btn-done {
      padding: 20px 0;
      text-align: right;
      
      .btn-bg-blue {
        @include roundedCorners(10px);

        width: 127px;

        background-color: #24476D;

        font-size: 20px;
        line-height: 24px;
        color: #04D4F1;

        border-style: solid;
        border-color: #04D4F1;
        border-width: 1px;

        padding: 5px 10px;

        cursor: pointer;
      }

      .btn-opt-out {
        width: auto;
        margin-right: 5px;
      }
    }
  }
}
