@import 'mixins';
@import 'buttons';
@import 'fonts';
@import 'star-rating';

section {
    &.releases {
        .header {
            background-color: #181C26;

            color: white;

            h1 {
                font-family: 'Roboto Slab', serif;
                font-size: 28px;

                margin: 25px 0 20px;
            }

            .sort {
                div.sort-label {
                    display: block;
                    float: right;

                    font-family: 'Roboto', sans-serif;

                    padding-right: 5px;

                    margin-top: 25px;
                }

                ng-select {
                    display: block;
                    float: right;

                    width: 55%;

                    font-family: 'Roboto', sans-serif;

                    margin-top: 22px;

                    .ui-select-container {

                        .ui-select-choices {
                            max-height: 225px;
                        }

                        .ui-select-match {

                            .ui-select-toggle {
                                text-align: center !important;

                                padding: 2px 0;

                                height: 28px;

                                background-color: #264564;

                                border-style: solid;
                                border-color: #0597C1;
                                border-width: 2px;

                                @include roundedCorners(30px);

                                .ui-select-placeholder {
                                    color: white;
                                    float: none;
                                }

                                .ui-select-match-text {
                                    color: white;
                                    width: 100%;
                                }

                                .caret {
                                    color: #092E41;

                                    border-width: 6px 6px 0 6px;
                                }
                            }
                        }

                        input {
                            &.ui-select-search {
                                text-align: center !important;

                                padding: 2px 0;

                                height: 28px;

                                color: white;

                                background-color: #264564;

                                border-style: solid;
                                border-color: #0597C1;
                                border-width: 2px 2px 0 2px;

                                @include roundedCorners(15px 15px 0 0);
                            }
                        }

                        ul {
                            &.ui-select-choices {
                                color: white;

                                background-color: #264564;

                                border-style: solid;
                                border-color: #0597C1;
                                border-width: 0 2px 2px 2px;

                                @include roundedCorners(0 0 15px 15px);

                                li {
                                    div {
                                        &.ui-select-choices-row {
                                            a {
                                                color: white;

                                                text-align: center;
                                            }

                                            &.active {
                                                a {
                                                    background-color: #0597C1;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .release-params {
                background-color: #181C26;

                h3 {
                    font-family: 'Roboto Slab', serif;
                    font-size: 20px;

                    color: white;

                    margin-top: 0;
                }

                .param-items {
                    display: block;
                    float: left;

                    width: 100%;

                    .param-item {
                        display: block;
                        float: left;

                        color: white;

                        border-style: solid;
                        border-color: #E9BD61;
                        border-width: 3px;

                        padding: 3px 10px;

                        margin-bottom: 10px;
                        margin-right: 10px;

                        background-color: #90712E;

                        @include roundedCorners(30px);
                    }
                }

                .item-text {
                    display: block;
                    float: left;
                }

                .item-remove {
                    display: block;
                    float: left;

                    height: 12px;
                    width: 12px;

                    background-image: url('assets/img/icon-close.png');
                    background-repeat: no-repeat;
                    background-position: center center;

                    @include backgroundSize(contain);

                    margin-top: 4px;
                    margin-left: 7px;

                    cursor: pointer;
                }
            }
        }

        .release-message {
            display: block;
            float: left;

            width: 100%;

            text-align: center;

            color: #666;

            font-family: 'Roboto Slab', serif;
            font-size: 16px;

            padding: 20px 0;
        }

        .release-groups {
            background-color: #181C26;

            color: white;

            .release-group-title {
                padding: 0;

                span {
                    float: left;

                    margin-top: 7px;
                    margin-bottom: 5px;

                    font-size: 13px;

                    color: #ada97f;
                }

                h6 {
                    float: left;

                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;

                    margin: 5px 0 10px;

                    color: #E4DEA5;

                    cursor: pointer;
                }
            }
        }

        .release-item {
            position: relative;

            width: 100%;

            float: left;

            padding: 10px 0;

            border-style: solid;
            border-color: black;
            border-width: 0 0 5px 0;

            font-family: 'Roboto', sans-serif;
            font-size: 14px;

            color: white;

            .release-info {
                position: relative;

                z-index: 10;

                padding: 10px 0 0;

                .image {
                    width: 12%;

                    text-align: left;

                    float: left;

                    .image-container {
                        display: block;
                        float: left;

                        height: 100px;
                        width: 100px;

                        position: relative;

                        a,
                        a:link,
                        a:visited,
                        a:hover {
                            display: block;

                            position: relative;

                            height: 100%;
                            width: 100%;

                            top: 0;
                            left: 0;

                            z-index: 20;

                            opacity: 0;

                            text-indent: -9999px;

                            background-image: url('assets/img/overlay-top-download-play.png');
                            background-repeat: no-repeat;
                            background-position: top left;

                            @include backgroundSize(cover);
                        }

                        a:hover {
                            opacity: 1;
                        }

                        img {
                            position: absolute;

                            top: 0;
                            left: 0;

                            z-index: 15;

                            border-style: solid;
                            border-color: rgba(255, 255, 255, .25);
                            border-width: 1px;
                        }
                    }
                }

                .info-container {
                    width: 88%;
                    float: left;

                    .top-row {
                        div {
                            float: left;
    
                            &.title {
                                font-family: 'Roboto Slab', serif;
                                font-size: 19px;
    
                                width: 35%;
                                height: 27px;
    
                                padding-right: 3%;
    
                                overflow: hidden;
                                white-space: nowrap;
    
                                text-overflow: ellipsis;
    
                                cursor: context-menu;
                            }
    
                            &.links {
                                text-align: center;
                                padding-bottom: 11px;

                                span {
                                    display: block;
                                    float: left;

                                    width: 30px;
                                    height: 30px;

                                    margin-right: 20px;

                                    cursor: pointer;
    
                                    background-repeat: no-repeat;
                                    background-position: center center;
    
                                    @include backgroundSize(cover);

                                    &.release-remix {
                                        opacity: 0.7;
                                        background-image: url('assets/img/icon-blender.svg');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        margin-right: 10px;
    
                                        &:hover {
                                            opacity: 1;
                                        }
                                    }

                                    &.certified-instrumental-icon{
                                        opacity: 0.7;
                                        background-image: url('assets/img/features-star.svg');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        margin-right: 10px;
                                    }
    
                                    &.release-popup {
                                        opacity: 0.7;
                                        background-image: url('assets/img/icon-scissors.svg');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;
    
                                        &:hover {
                                            opacity: 1;
                                        }
                                    }

                                    &.release-dropbox {
                                        cursor: default;
    
                                        background-image: url('assets/img/icon-dropbox-grey.svg');
    
                                        &:hover {
                                            cursor: pointer;
    
                                            background-image: url('assets/img/icon-dropbox-gold.svg');
                                        }
                                    }
                                }
                            }
    
                            &.time {
                                width: 10%;
    
                                text-align: center;
                            }
    
                            &.year {
                                width: 10%;
    
                                text-align: center;
                            }
    
                            &.bpm {
                                width: 15%;
    
                                text-align: center;
                            }
                        }
                    }
    
                    .middle-row {
                        width: 100%;
                        margin: 10px 0 15px;
                        display: flex;
                        justify-content: space-between;

                        div {
    
                            &.text {
    
                                span {
                                    &.artist {
                                        .artist-color {
                                            color: #F9E473;
                                            cursor: pointer;
                                            text-decoration: none;
                                        }
    
                                        margin-right: 15px;
                                    }
    
                                    &.updated {
                                        margin-right: 15px;
                                        font-size: 80%;
                                    }
    
                                    &.comments {
                                        font-size: 80%;
                                        color: #CCC;
                                        font-style: italic;
                                    }
                                }
                            }
    
                            &.button {
    
                                padding-right: 10px;
                                text-align: right;
                                min-width: 192px;
    
                                button {
                                    @include roundedCorners(30px);
                                    margin-bottom: 5px;
                                    font-style: normal;    
                                    &.unrated {
                                        width: 170px;
    
                                        background-color: transparent;
    
                                        color: #0597C1;
    
                                        border-style: solid;
                                        border-color: #0597C1;
                                        border-width: 2px;
    
                                        padding: 5px 10px;
    
                                        cursor: default;
                                    }
    
                                    &.rated {
                                        width: 170px;
    
                                        text-align: center;
    
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                        padding-left: 30px;
                                        padding-right: 30px;
    
                                        color: white;
    
                                        border-style: solid;
                                        border-color: #F3D269;
                                        border-width: 2px;
    
                                        background-color: #B68B2C;
    
                                        @include roundedCorners(30px);
                                        @include transition(background-color .3s);
    
                                        &:hover {
                                            background-color: rgba(144,113,46,0.75);
                                        }
    
                                        &.no-dropbox {
                                            border-color: #0597C1;
                                            background-color: #264564;
    
                                            color: white;
                                        }
                                    }
                                }

                                div.ratings {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    font-style: normal;
                                    .score {
                                        display: block;
                                        padding-right: 5px;
                                    }

                                    rating {
                                        top: -2px;
                                    }
        
                                    .votes {
                                        display: block;

                                        font-size: 10px;
        
                                        margin-top: 4px;
                                        margin-left: 3px;
                                    }
                                }
                            }
                        }
                    }
    
                    .bottom-row {
    
                        .version-container {
                            display: block;
                            float: left;
    
                            width: 80%;
                            height: 30px;

                            overflow: hidden;
    
                            .version-items {
                                display: block;
                                float: left;
    
                                max-width: 95%;
    
                                font-style: normal;
    
                                .version-item {
                                    display: block;
                                    float: left;
    
                                    padding: 2px 10px;
    
                                    margin: 0 10px 10px 0;
    
                                    border-style: solid;
                                    border-color: #0597C1;
                                    border-width: 1px;
    
                                    @include roundedCorners(15px);
    
                                    background-color: #264564;
    
                                    cursor: pointer;
    
                                    span {
                                        font-size: 12px;
    
                                        &.play {
                                            color: #0597C1;
                                        }
                                    }
    
                                    &.version-downloaded {
                                        color: #999;
                                    }
                                }
                            }
                        }
    
                        .expand-link {
                            display: block;
                            float: left;
    
                            width: 20%;
    
                            text-align: center;
    
                            font-style: normal;
    
                            a,
                            a:link,
                            a:visited,
                            a:hover {
                                display: block;
    
                                font-size: 11px;
    
                                text-decoration: underline;
    
                                margin-top: 6px;
    
                                &.view-all {
                                    color: #0597C1;
                                }
                            }
                        }
                    }
                }
            }

            .release-info-mini {
                position: relative;

                z-index: 10;

                padding: 10px 0 0;

                .image {
                    text-align: left;

                    float: left;

                    .image-container {
                        display: block;
                        float: left;

                        height: 65px;
                        width: 65px;

                        position: relative;

                        a,
                        a:link,
                        a:visited,
                        a:hover {
                            display: block;

                            position: relative;

                            height: 100%;
                            width: 100%;

                            top: 0;
                            left: 0;

                            z-index: 20;

                            opacity: 0;

                            text-indent: -9999px;

                            background-image: url('assets/img/overlay-top-download-play.png');
                            background-repeat: no-repeat;
                            background-position: top left;

                            @include backgroundSize(cover);
                        }

                        a:hover {
                            opacity: 1;
                        }

                        img {
                            position: absolute;

                            top: 0;
                            left: 0;

                            z-index: 15;

                            border-style: solid;
                            border-color: rgba(255, 255, 255, .25);
                            border-width: 1px;
                        }
                    }
                }

                div {
                    float: left;

                    &.title {
                        font-family: 'Roboto Slab', serif;
                        font-size: 19px;

                        width: 100%;
                    }

                    &.text {
                        width: 100%;

                        span {
                            &.artist {
                                .artist-color {
                                    color: #F9E473;
                                    cursor: pointer;
                                    text-decoration: none;
                                }

                                margin-right: 15px;
                            }
                        }
                    }

                    &.info {
                        width: 100%;

                        margin: 5px 0;

                        div {
                            &.time {
                                width: 30%;

                                text-align: center;
                            }

                            &.year {
                                width: 30%;

                                text-align: center;
                            }

                            &.bpm {
                                width: 40%;

                                text-align: center;
                            }
                        }
                    }

                    &.ratings {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        float: right;
                        .score {
                            padding-right: 5px;
                            display: block;
                            float: left;
                            text-align: right;
                        }

                        rating {
                            display: block;
                            float: left;
                            position: relative;
                            top: -2px;
                        }

                        .votes {
                            display: block;
                            float: left;
                            font-size: 10px;
                            margin-top: 4px;
                            margin-left: 3px;
                            text-align: left;
                        }
                    }

                    &.links {
                        text-align: center;

                        span {
                            display: block;
                            float: left;

                            width: 30px;
                            height: 30px;

                            margin-right: 20px;

                            cursor: pointer;

                            background-repeat: no-repeat;
                            background-position: center center;

                            @include backgroundSize(cover);

                            &.release-remix {
                                opacity: 0.7;
                                background-image: url('assets/img/icon-blender.svg');
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                                margin-right: 10px;

                                &:hover {
                                    opacity: 1;
                                }
                            }

                            &.release-popup {
                                opacity: 0.7;
                                background-image: url('assets/img/icon-scissors.svg');
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;

                                &:hover {
                                    opacity: 1;
                                }
                            }

                            &.certified-instrumental-icon{
                                opacity: 0.7;
                                background-image: url('assets/img/features-star.svg');
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                                margin-right: 10px;
                            }

                            &.release-dropbox {
                                background-image: url('assets/img/icon-dropbox-grey.svg');

                                &:hover {
                                    background-image: url('assets/img/icon-dropbox-gold.svg');
                                }
                            }
                        }
                    }

                    &.button {
                        margin-top: 15px;
                        text-align: right;
                        button {
                            @include roundedCorners(30px);
                            margin-top: 5px;
                            margin-bottom: 5px;
                            font-style: normal;

                            &.unrated {
                                width: 170px;

                                background-color: transparent;

                                color: #0597C1;

                                border-style: solid;
                                border-color: #0597C1;
                                border-width: 2px;

                                padding: 5px 10px;

                                cursor: default;
                            }

                            &.rated {
                                width: 170px;

                                text-align: center;

                                padding-top: 5px;
                                padding-bottom: 5px;
                                padding-left: 30px;
                                padding-right: 30px;

                                color: white;

                                border-style: solid;
                                border-color: #F3D269;
                                border-width: 2px;

                                background-color: #B68B2C;

                                @include roundedCorners(30px);
                                @include transition(background-color .3s);

                                &:hover {
                                    background-color: rgba(144,113,46,0.75);
                                }

                                &.dropbox {
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }

                .bottom-row {
                    width: 100%;
                    margin-top: 10px;
                    float: left;

                    .version-container {
                        display: block;
                        float: left;

                        width: 80%;
                        height: 30px;

                        overflow: hidden;

                        .version-items {
                            display: block;
                            float: left;

                            max-width: 95%;

                            .version-item {
                                display: block;
                                float: left;

                                padding: 2px 10px;

                                margin: 0 10px 10px 0;

                                border-style: solid;
                                border-color: #0597C1;
                                border-width: 1px;

                                @include roundedCorners(15px);

                                background-color: #264564;

                                cursor: pointer;

                                span {
                                    font-size: 12px;

                                    &.play {
                                        color: #0597C1;
                                    }
                                }
                            }
                        }
                    }

                    .expand-link {
                        display: block;
                        float: left;

                        width: 20%;

                        text-align: center;

                        a,
                        a:link,
                        a:visited,
                        a:hover {
                            display: block;

                            font-size: 11px;

                            text-decoration: underline;

                            margin-top: 6px;

                            &.view-all {
                                color: #0597C1;
                            }
                        }
                    }
                }
            }

            .version-links {
                position: relative;

                z-index: 10;

                margin-top: 10px;

                .image-spacer {
                    display: block;
                    float: left;

                    width: 12%;
                }

                .version-container {
                    display: block;
                    float: left;

                    width: 88%;

                    .version-item {
                        display: block;
                        float: left;

                        width: 100%;

                        margin: 5px 0;

                        .version-play {
                            display: block;
                            float: left;

                            position: relative;

                            width: 20px;
                            height: 20px;

                            margin-right: 5px;

                            a,
                            a:link,
                            a:visited,
                            a:hover {
                                display: block;
                                float: left;

                                height: 100%;
                                width: 100%;

                                position: absolute;

                                top: 0;
                                left: 0;

                                z-index: 5;

                                width: 100%;
                                height: 100%;

                                background-image: url('assets/img/icon-version-play.svg');
                                background-position: center center;
                                background-repeat: no-repeat;
                            }
                        }

                        .version-title {
                            display: block;
                            float: left;
                        }

                        div[class^=version-d],
                        div[class^=version-crateq] {
                            display: block;
                            float: left;

                            position: relative;

                            width: 15px;
                            height: 15px;

                            margin-left: 5px;

                            span {
                                display: block;
                                float: left;

                                height: 100%;
                                width: 100%;

                                position: absolute;

                                top: 2px;
                                left: 0;

                                z-index: 5;

                                width: 100%;
                                height: 100%;

                                cursor: pointer;

                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }
                        }

                        .version-download {
                            span {
                                background-image: url('assets/img/icon-version-download-grey.svg');
                            }

                            span:hover {
                                background-image: url('assets/img/icon-version-download-gold.svg');
                            }
                        }

                        .version-dropbox {
                            span {
                                background-image: url('assets/img/icon-dropbox-grey.svg');
                            }

                            span:hover {
                                background-image: url('assets/img/icon-dropbox-gold.svg');
                            }
                        }

                        .version-crateq {
                            span {
                                background-image: url('assets/img/icon-crateq-grey.svg');
                            }

                            span:hover {
                                background-image: url('assets/img/icon-crateq-gold.svg');
                                opacity: 1 !important;
                            }

                            &.crateq-added {
                                span {
                                    opacity: 0.7;
                                    background-image: url('assets/img/icon-crateq-gold.svg');
                                }
                            }
                        }
                        
                        &.version-downloaded {
                            font-style: italic;
                            color: #999;
                        }
                    }

                    .close-link {
                        display: block;
                        float: left;

                        width: 100%;

                        a,
                        a:link,
                        a:visited,
                        a:hover {
                            display: block;

                            width: 100px;

                            padding-left: 20px;

                            height: 15px;

                            color: white;

                            font-size: 12px;
                            font-style: normal;

                            margin-top: 10px;
                            margin-left: 2px;

                            background-image: url('assets/img/icon-close.png');
                            background-repeat: no-repeat;
                            background-position: center left;

                            @include backgroundSize(contain);
                        }
                    }
                }
            }

            &.downloaded {
                font-style: italic;
                color: #999;
            }

            &:nth-child(odd) {
                background-color: #181C26;
            }

            &:nth-child(even) {
                @include linearGradient(#171308, #171612);

                .overlay {
                    position: absolute;

                    top: 0;
                    left: 0;

                    z-index: 5;

                    width: 100%;
                    height: 100%;

                    background-image: url('assets/img/bg-diagonal-grey.png');
                }
            }
        }

        .release-pages {
            display: block;
            float: left;

            background-color: #212B36;

            width: 100%;

            padding: 15px 0 10px;

            .container {
                ul {
                    text-align: center;

                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;

                        font-family: 'Roboto', sans-serif;;
                        font-size: 19px;

                        cursor: pointer;

                        span {
                            color: #E4DEA5;
                        }

                        a:hover {
                            background-color: transparent;
                        }

                        &.current {
                            background-color: transparent;

                            border-style: solid;
                            border-color: #E4DEA5;
                            border-width: 0 0 1px 0;

                            span {
                                position: relative;
                                top: -1px;
                            }
                        }

                        &.pagination-previous {
                            a {
                                color: #E4DEA5;

                                border-width: 0;
                            }

                            &::before {
                                color: #E4DEA5;
                            }
                        }

                        &.pagination-next {
                            a {
                                color: #E4DEA5;

                                border-width: 0;
                            }

                            &::after {
                                color: #E4DEA5;
                            }
                        }

                        &.disabled {
                            cursor: default;

                            span {
                                color: #666;
                            }

                            &::before {
                                color: #666;
                            }

                            &::after {
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal {
    z-index: 2000;

    &.dropbox-modal {
        color: white;

        font-family: 'Roboto', sans-serif;

        .modal-dialog {
            width: 400px;
            height: 375px;

            .modal-content {
                position: relative;

                height: 100%;
                width: 100%;

                border-style: solid;
                border-color: #FFD887;
                border-width: 5px 0 0;

                @include linearGradientAngle(135deg, #3D4444, #172A42);
                @include roundedCorners(0);

                .modal-body {
                    position: absolute;

                    top: 0;
                    left: 0;

                    padding: 30px 50px 0;

                    z-index: 10;

                    text-align: center;

                    img {
                        &.dropbox-logo {
                            width: 100%;

                            margin-bottom: 15px;
                        }
                    }

                    a,
                    a:hover,
                    a:link,
                    a:visited {
                        color: #FFD887;
                    }

                    button {
                        &.button {
                            text-align: center;

                            border-style: solid;
                            border-width: 3px;

                            padding-top: 8px;
                            padding-bottom: 8px;
                            padding-left: 0;
                            padding-right: 0;

                            width: 100%;

                            margin: 15px auto 0;
                        }

                        &.button-gold-border {
                            color: #FFD887;

                            border-style: solid;
                            border-color: #FFD887;
                            border-width: 1px;

                            background: transparent;

                            @include roundedCorners(30px);
                            @include transition(background-color .3s);

                            &:hover {
                                background-color: rgba(144,113,46,0.75);
                            }
                        }
                    }
                }

                .modal-overlay {
                    position: absolute;

                    z-index: 5;

                    width: 100%;
                    height: 100%;

                    top: 0;
                    left: 0;

                    opacity: .15;

                    background-image: url('assets/img/bg-diagonal-grey.png');
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    section {
        &.releases {
            .header {
                h1 {
                    text-align: center;
                    margin-bottom: 0;
                }

                .sort {
                    padding-bottom: 25px;

                    .sort-label {
                        width: 100%;
                        text-align:  center;
                    }

                    ng-select {
                        margin-top: 5px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
