@import 'mixins';
@import 'buttons';
@import 'fonts';

section {
    &.signup {
        color: white;

        font-family: 'Roboto', sans-serif;

        .promo-section {
            .open-modal {
                width: 150px;
                background-color: #24476d;
                color: #04d4f1;
                padding: 5px 10px;
                cursor: pointer;
                border: 2px solid #04d4f1;
                border-radius: 30px;
                margin: 20px;
            }
        }

        form {
            label {
                &.control-label {
                    font-family: 'Roboto Slab', serif;
                }
            }

            .checkbox+.checkbox, .radio+.radio {
                margin-top: 10px;
            }

            .form-group {
                &.paypal-group {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .paypal-subscriptons {
                        display: flex;
                        justify-content: center;

                        .subscription-plan {
                            min-width: 180px;
                        }
                    }
                }

                input[type="text"],
                textarea,
                select,
                #payment_card,
                #payment_expiration,
                #payment_cvv,
                #payment_zip {
                    background-color: #393948;

                    border-style: solid;
                    border-width: 2px;
                    border-color: #0E0F11;

                    color: white;
                }

                &.has-error {
                    input[type="text"],
                    textarea,
                    select {
                        border-color: #A94442;
                    }
                }

                .expiration_month,
                .expiration_year {
                    margin: 5px 0px; }

                @media (min-width: 1200px) {
                    .expiration_month {
                        padding-right: 15px !important;
                    }
                    .expiration_year {
                        padding-left: 15px !important;
                    }
                }
            }

            .sub-questions {
                > .form-group {
                    > label {
                        margin: 15px 0 0;
                    }
                }
            }
        }
    }
}
