@import 'mixins';
@import 'buttons';
@import 'fonts';

section {
    &.signup {
        color: white;

        font-family: 'Roboto', sans-serif;

        .header {
            height: 130px;

            text-align: center;

            @include linearGradient(#24262C, #171D2E);

            h1 {
                font-family: 'Roboto Slab', serif;
            }

            h3 {
                font-family: 'Roboto Slab', serif;

                font-size: 16px;
            }
        }

        .signup-progress {
            .container {
                .signup-progress-bar {
                    width: 896px;
                    height: 57px;

                    margin: 45px auto 65px;

                    background-image: url('assets/img/sprite-signup-progress.png');
                    background-repeat: no-repeat;

                    &.progress-1 {
                        background-position: 0 0;
                    }

                    &.progress-2 {
                        background-position: 0 -57px;
                    }

                    &.progress-3 {
                        background-position: 0 -114px;
                    }

                    &.progress-4 {
                        background-position: 0 -171px;
                    }

                    .signup-title {
                        display: block;
                        float: left;

                        width: 224px;

                        font-size: 17px;
                        font-weight: bold;

                        padding-top: 15px;

                        text-align: center;

                        color: #F3D269;

                        &.title-1 {
                            width: 248px;
                        }

                        &.title-2 {
                            width: 200px;
                        }

                        &.current {
                            color: #7A5813;
                        }

                        &.complete {
                            color: white;
                        }
                    }
                }
            }
        }

        form {
            label {
                &.control-label {
                    font-family: 'Roboto Slab', serif;
                }
            }

            .checkbox+.checkbox, .radio+.radio {
                margin-top: 10px;
            }

            .form-group {
                &.paypal-group {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .paypal-subscriptons {
                        display: flex;
                        justify-content: center;

                        .subscription-plan {
                            min-width: 180px;
                        }
                    }
                }

                input[type="text"],
                textarea,
                select,
                #payment_card,
                #payment_expiration,
                #payment_cvv,
                #payment_zip {
                    background-color: #393948;

                    border-style: solid;
                    border-width: 2px;
                    border-color: #0E0F11;

                    color: white;
                }

                &.has-error {
                    input[type="text"],
                    textarea,
                    select {
                        border-color: #A94442;
                    }
                }
            }

            .sub-questions {
                > .form-group {
                    > label {
                        margin: 15px 0 0;
                    }
                }
            }
        }

        .buttons {
            padding-top: 35px;

            .form-group {
                .promo-code {
                    padding: 10px 25px 10px 10px;
                    background-color: #24476D;
                    border: none;
                }
            }
            button {
                @include roundedCorners(30px);

                &.button-blue-background {
                    width: 170px;

                    background-color: #24476D;

                    color: #04D4F1;

                    border-style: solid;
                    border-color: #04D4F1;
                    border-width: 2px;

                    padding: 5px 10px;

                    cursor: pointer;
                }

                &.button-gold {
                    width: 170px;
                    padding: 5px 10px;

                    font-size: 14px;
                }
            }
        }

        &.signup-mobile {
            .header {
                height: 90px;
                padding-top: 14px;
                border-top: 1px solid #707070;
                background: black;
                
                .container {                    
                    height: 75px;
                    background: #24262C;
                    h1 {
                        font-size: 18px;
                        margin-top: 15px;
                        font-weight: 400;
                        font-family: 'Roboto', sans-serif;
                    }
                    h3 {
                        font-size: 14px;
                        margin-top: 15px;
                        font-weight: 300;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }

            .optional-label {
                font-size: 18px;
                line-height: 22px;
                height: 36px;
                background-color: #24262C;
                text-align: center;
                margin-top: 11px;
                padding: 6px;
            }

            .signup-form {
                form {
                    .container {
                        padding: 25px 30px;

                        &.payment-form {
                            padding: 10px 30px 0;

                            .form-group {
                                .info-label {
                                    margin-bottom: 11px;
                                }
    
                                .checkbox {
                                    margin-bottom: 15px;
    
                                    .chk-button {
                                        input[type=radio] {
                                            margin-right: 20px !important;
    
                                            &::before {
                                                border-radius: 10px !important;
                                            }
                                        }
                                    }
                                }

                                &.paypal-group {
                                    display: block;

                                    .paypal-subscriptons {
                                        flex-wrap: wrap;

                                        .subscription-plan {
                                            min-width: 160px;
                                            width: 50%;
                                        }
                                    }
                                }
                            }
                        }

                        &.dj-form {
                            padding: 15px 30px;

                            .form-group {
                                .checkbox {
                                    padding-left: 3px;

                                    input[type=checkbox] {
                                        position: relative;
                                        margin-right: 20px !important;
                                    }
                                }

                                textarea.form-control {
                                    height: auto;
                                }
                            }
                        }

                        .form-group {
                            margin: 0 0 25px;

                            &.row {
                                margin-right: -12px;
                                margin-left: -12px;
                            }

                            .control-label {
                                font-size: 19px;
                                line-height: 21px;
                                color: #E9BD61;
                                font-weight: 300;
                                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

                                small {
                                    font-size: 70%;
                                }

                                &.label-error {
                                    color: #A94442;
                                }
                            }

                            .form-control {
                                height: 36px;
                                font-size: 18px;
                                line-height: 22px;
                                padding: 0 12px;
                            }

                            .info-label {
                                font-size: 18px;
                                line-height: 24px;
                                font-weight: 200;
                                font-family: 'Segoe UI', sans-serif;
                                margin-bottom: 15px;
                            }

                            .select-group {
                                position: relative;
                                margin-bottom: 11px;

                                .select-arrow {
                                    width: 17.7px;
                                    height: 18.16px;
                                    position: absolute;
                                    right: 10px;
                                    top: 9px;
                                    background-image: url('assets/img/icon-arrow-down.svg');
                                }
                            }

                            .checkbox {
                                margin-top: 10px;

                                .chk-button {
                                    font-size: 18px;
                                    line-height: 22px;
                                    padding: 0;
                                    display: flex;
                                    align-items: center;

                                    input[type=checkbox], input[type=radio] {
                                        width: 20px;
                                        height: 20px;
                                        visibility: hidden;
                                        margin: 0;
                                        margin-right: 10px;

                                        &:checked {
                                            &::before {
                                                background-image: url('assets/img/bg-checkbox.svg');
                                                background-position: center;
                                                background-repeat: no-repeat;
                                            }    
                                        }

                                        &::before {
                                            content: "";
                                            display: inline-block;
                                            width: 20px;
                                            height: 20px;
                                            background-color: white;
                                            border-radius: 3px;
                                            visibility: visible;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .buttons {
                padding: 0;

                .container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .button-blue-background {
                        width: 127px;
                        font-size: 20px;
                        line-height: 24px;
                        border-width: 1px;
                        border-radius: 10px;
                        margin: 0 7px;

                        &.button-back {
                            background-color: #152A41;
                        }
                    }
                }
            }
        }
    }
}
