@import 'mixins';

div {
    &.ratings {
        .rating {
            cursor: pointer;
            outline: none;

            width: 100%;

            &.readonly {
                cursor: default;
            }

            &.disabled {
                cursor: not-allowed;

                .rating-icon {
                    &:before {
                        color: #ECECEC;
                        text-shadow: none;
                    }
                }
            }

            i {
                font-style: normal;

                text-indent: -9999px;
            }
        }

        &.authenticated {
            .rating-icon {
                // background-image: url('assets/img/sprite-ratings-active.svg');
                background-image: url('assets/img/sprite-ratings-active.png');
            }
        }
    }
}

.rating-icon {
    display: block;
    float: left;

    position: relative;

    text-indent: -9999px;
    height: 21px;
    width: 22px;

    // background-image: url('assets/img/sprite-ratings.svg');
    background-image: url('assets/img/sprite-ratings.png');
    background-repeat: no-repeat;
    background-position: 0% 0;

    @include backgroundSize(cover);

    &.half10 {
        background-position: 10% 0;
    }

    &.half20 {
        background-position: 20% 0;
    }

    &.half30 {
        background-position: 30% 0;
    }

    &.half40 {
        background-position: 40% 0;
    }

    &.half50 {
        background-position: 50% 0;
    }

    &.half60 {
        background-position: 60% 0;
    }

    &.half70 {
        background-position: 70% 0;
    }

    &.half80 {
        background-position: 80% 0;
    }

    &.half90 {
        background-position: 90% 0;
    }

    &.half100 {
        // background-position: -200px 0;
        background-position: 100% 0;
    }
}
