@import 'mixins';
@import 'buttons';
@import 'fonts';

section {
    &.top-downloads {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        > div {
            position: relative;

            &.genre-grid {

                padding-bottom: 50px;
                @include linearGradient(#20232A, #181C26);

                h1 {
                    font-family: 'Roboto Slab', serif;
    
                    width: 100%;
    
                    color: white;
    
                    margin: 45px 0 30px;
    
                    text-align: center;
                }
    
                .genres-container {
                    .genre-item {
                        display: block;
                        float: left;
    
                        width: 167px;
                        height: 167px;
    
                        padding-top: 130px;
    
                        background-image: url('assets/img/sprite-genre-boxes.jpg');
                        background-repeat: no-repeat;
    
                        color: #CFCFE4;
    
                        text-align: center;
                        text-transform: uppercase;
    
                        letter-spacing: 4px;
    
                        font-family: 'Roboto', sans-serif;
    
                        @include transition(all .5s);
    
                        &.alternative {
                            background-position: 0px 0px;
                        }
    
                        &.hip-hop {
                            background-position: -167px 0px;
                        }
    
                        &.rock {
                            background-position: -334px 0px;
                        }
    
                        &.rap {
                            background-position: -501px 0px;
                        }
    
                        &.edm {
                            background-position: -668px 0px;
                        }
    
                        &.dj-edits {
                            background-position: -835px 0px;
                        }
    
                        &.seasonal {
                            background-position: -1002px 0px;
                        }
    
                        &.reggae {
                            background-position: 0px -167px;
                        }
    
                        &.indie {
                            background-position: -167px -167px;
                        }
    
                        &.remix {
                            background-position: -334px -167px;
                        }
    
                        &.pop {
                            background-position: -501px -167px;
                        }
    
                        &.r-and-b {
                            background-position: -668px -167px;
                        }
    
                        &.disco {
                            background-position: -1169px 0px;
                        }
    
                        &.soul {
                            background-position: -1169px -167px;
                        }
    
                        &.country {
                            background-position: -835px -167px;
                        }
    
                        &.various {
                            background-position: -1002px -167px;
                        }
    
                        &:hover {
                            text-decoration: none;
    
                            opacity: .75;
                        }
                    }
                    @media screen and (min-width: 768px) and (max-width: 1023px) {
                        width: 95%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
    
                p {
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                    margin-top: 25px;
                    font-size: 18px;
                    text-decoration: underline;
                    color: white;
                }
            }

            .container {
                position: relative;

                z-index: 10;

                color: #7B7B7B;

                .number-icon {
                    display: block;
                    float: right;

                    height: 35px;
                    width: 35px;

                    font-family: 'Roboto Slab', serif;
                    font-size: 25px;

                    text-align: center;

                    color: black;

                    background-color: #304865;

                    @include roundedCorners(30px);
                }

                .release-image {
                    display: block;
                    float: right;

                    height: 150px;
                    width: 150px;

                    position: relative;

                    a,
                    a:link,
                    a:visited,
                    a:hover {
                        display: block;

                        position: relative;

                        height: 100%;
                        width: 100%;

                        top: 0;
                        left: 0;

                        z-index: 20;

                        opacity: 0;

                        text-indent: -9999px;

                        background-image: url('assets/img/overlay-top-download-play.png');
                        background-repeat: no-repeat;
                        background-position: top left;

                        @include backgroundSize(cover);

                        cursor: pointer;
                    }

                    a:hover {
                        opacity: 1;
                    }

                    img {
                        position: absolute;

                        top: 0;
                        left: 0;

                        z-index: 15;

                        border-style: solid;
                        border-color: rgba(255, 255, 255, .25);
                        border-width: 1px;
                    }
                }

                .title {
                    color: white;

                    font-size: 14px;

                }

                .artist {
                    color: #F9E473;
                    cursor: pointer;
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .year {
                    margin-bottom: 10px;
                }

                .versions {
                    a,
                    a:link,
                    a:visited,
                    a:hover {
                        color: #04BFE6;
                    }
                }
            }

            &.featured-row {
                padding: 25px 0;

                .login-container {
                    width: 100%;
                    height: 175px;

                    background-color: #20232A;
                    background-image: url('assets/img/bg-diagonal-grey.png');

                    > * {
                        display: block;
                        float: left;

                        margin-top: 10px;
                    }

                    a,
                    a:link,
                    a:visited,
                    a:hover {
                        width: 100%;

                        color: #04BFE6;

                        text-align: center;

                        font-size: 16px;

                        &.version-link {
                            text-decoration: underline;
                        }

                        &.login-link {
                            font-size: 110%;
                        }
                    }

                    p {
                        width: 100%;

                        padding: 0 15%;

                        color: white;

                        text-align: center;
                    }

                    button {
                        float: none;

                        margin-top: 20px;
                        margin-left: auto;
                        margin-right: auto;

                        text-align: center;

                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 30px;
                        padding-right: 30px;

                        color: white;

                        border-style: solid;
                        border-color: #F3D269;
                        border-width: 2px;

                        background-color: #B68B2C;

                        @include roundedCorners(30px);
                        @include transition(background-color .3s);

                        &:hover {
                            background-color: rgba(144,113,46,0.75);
                        }
                    }
                }

                &:nth-child(2) {
                    @include linearGradient(#20232A, #000);

                    h1 {
                        width: 100%;

                        font-family: 'Roboto Slab', serif;

                        color: white;

                        margin: 10px 0 60px;

                        text-align: center;
                    }

                    .release-image {
                        border-style: solid;
                        border-color: #FDD54B;
                        border-width: 3px;

                        width: 156px;
                        height: 156px;
                    }
                }

                &:nth-child(3) {
                    background-color: #181C26;
                }

                &:nth-child(4) {
                    @include linearGradient(#171308, #171612);

                    .overlay {
                        position: absolute;

                        top: 0;
                        left: 0;

                        z-index: 5;

                        width: 100%;
                        height: 100%;

                        background-image: url('assets/img/bg-diagonal-grey.png');
                    }
                }
            }

            &.release-row {
                color: #7B7B7B;

                padding: 10px 0;

                .first {
                    .number {
                        float: right;

                        font-size: 25px;
                        font-family: 'Roboto Slab', serif;

                        color: white;
                    }

                    .play-head {
                        display: block;
                        float: right;

                        height: 25px;
                        width: 25px;

                        margin-top: 6px;
                        margin-left: 10px;

                        background-image: url('assets/img/overlay-currently-playing-play.png');
                        background-repeat: no-repeat;
                        @include backgroundSize(contain);

                        cursor: pointer;
                    }
                }

                .artist {
                    font-family: 'Roboto Slab', serif;
                    color: #F9E473;
                    cursor: pointer;
                    margin-top: 5px;
                    margin-bottom: 0;
                }

                .title {
                    font-family: 'Roboto Slab', serif;

                    margin-top: 5px;
                }

                .release-label {
                    margin-top: 5px;
                }

                .view-all {
                    a,
                    a:link,
                    a:visited,
                    a:hover {
                        display: block;

                        color: #04BFE6;

                        text-decoration: underline;

                        margin-top: 5px;
                    }
                }

                &:nth-child(odd) {
                    background-color: #181C26;
                }

                &:nth-child(even) {
                    @include linearGradient(#171308, #171612);

                    .overlay {
                        position: absolute;

                        top: 0;
                        left: 0;

                        z-index: 5;

                        width: 100%;
                        height: 100%;

                        background-image: url('assets/img/bg-diagonal-grey.png');
                    }
                }
            }

            &.sign-up {
                text-align: center;

                background-image: url('assets/img/bg-diagonal-black-yellow.png');

                button {
                    width: 250px;

                    float: none;

                    font-size: 18px;

                    margin: 40px 0;

                    text-align: center;

                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 30px;
                    padding-right: 30px;

                    color: white;

                    border-style: solid;
                    border-color: #F3D269;
                    border-width: 2px;

                    background-color: #B68B2C;

                    @include roundedCorners(30px);
                    @include transition(background-color .3s);

                    &:hover {
                        background-color: rgba(144,113,46,0.75);
                    }
                }
            }
        }
    }
}
