/* MEDIAQUERY BREAKPOINT VARIABLES */
$iphoneSE: '(max-width: 374px)';
$iphone7: '(min-width: 375px) and (max-width: 413px)';
$iphone7OrSmaller: '(max-width: 413px)';
$iphone7Plus: '(min-width: 414px) and (max-width: 767px)';
$iphone7PlusOrSmaller: '(max-width: 767px)';
$iphone7PlusOrHigher: '(min-width: 414px)';
$ipad: '(min-width: 768px) and (max-width: 1023px)';
$mobile: '(max-width: 767px)';
$ipadOrHigher: '(min-width: 768px)';
$desktop: '(min-width: 1024px)';
$desktopHD: '(min-width: 1440px)';

$scrollWidth: 15px;
