.features-page-component {

    #front-features .container h1 {
        margin: 40px 0 10px;
    }

    #front-features {
        height: 100%;
    }

    .feature-page-row {
        margin-top: 40px;
        margin-bottom: 45px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 30px;

        .feature-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 150px;

            img {
                width: 100px;
                max-width: 100px;
            }
            .feature-label {
                font-size: 18px;
            }
        }
    }

    .integrations-section {
        display: flex;
        justify-content: right;
        flex-direction: row;
        background: black;
        color: white;
        padding-top: 15px;
        padding-bottom: 30px;

        .integrations-col {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            width: 50%;

            button {
                margin-top: 10px;
                padding: 10px 50px;
            }
        }

    }

    .crateq-section {
        color: white;
        margin-top: 10px;
        margin-bottom: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: grid;
        grid-template-columns: 30% 70%;
        .crateq-col1 {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .release-image {
                text-align: center;
                img {
                    max-width: 80%;
                }
            }
        }
        .crateq-col2 {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .title {
                padding-top: 40px;
                margin-bottom: 10px;
                font-family: 'Roboto Slab', serif;
                font-size: 24px;
            }
                .feature-content {
                    color: #F3D269;
                    font-style: italic;
                    font-weight: 300;
    
                    line-height: 25px;
                    padding: 5px 15px;
                    > p {
                        margin-bottom: 0;
                    }
                }
                .zip-download {
                    &.crateq-download-buttons {
                        margin-bottom: 20px;
                        .rated {
                            &.btn-mac {
                                color: white;
                                width: auto;
                                border-color: #0597C1;
                                background-color: #264564;
                                padding: 5px 20px;
                                margin-top: 7px;
                            }    
                        }
                    }    
                }
                .info {
                    text-decoration: underline;
                }
                .text-right {
                    margin-right: 10px;
                    input[type=checkbox] {
                        margin-top: 0;
                        transform: scale(1.2);
                        -ms-transform: scale(1.2);    // IE
                        -moz-transform: scale(1.2);   // firfox
                        -webkit-transform: scale(1.2);// safari & chrome
                        -o-transform: scale(1.2);     // opera
                    }
                }
        }
    }
}

// some mobile-only styles
@media (min-width: 320px) and (max-width: 480px) {
  
    //CSS
    .features-page-component {
        .feature-page-row {
            grid-template-columns: auto auto;
        }
        .integrations-section {
            flex-direction: column;
            .integrations-col {
                width: 100%;
            }
        }
    }


    .crateq-section {
        display: flex !important;
        flex-direction: column-reverse;
    }
  }