<div class="features-page-component">
  <section id="front-features">
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <h1>Designed for Professional DJs</h1>
          <h6 class="visible-lg">With all of our releases available as quick, high-quality downloads
            <br />as bundled zip files, and a huge variety of searchable and filterable genres,
            <br />we are the best digital record pool on the web.</h6>
          <h6 class="hidden-lg">With all of our releases available as quick, high-quality downloads as bundled zip files, and a huge variety of
            searchable and filterable genres, we are the best digital record pool on the web.</h6>
        </div>
        <div class="col-lg-3"></div>
      </div>

      <div class="feature-page-row">
        <div class="feature-box" *ngFor="let item of features">
          <div class="image-container">
            <img class="feature-image" [src]="item.img" />
          </div>
          <div class="label-container">
            <span class="feature-label">{{item.label}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="background-overlay"></div>
  </section>
  <section>
    <div class="container">
      <div class="integrations-section">
        <div class="integrations-col" *ngIf="dropboxConnected">
          <h2>Dropbox</h2>
          <p>Your account has been successfully linked to a Dropbox account.</p>
          <p class="name" *ngIf="account.dropbox_info">{{ account?.dropbox_info.name.display_name }}</p>
          <p class="email" *ngIf="account.dropbox_info">{{ account?.dropbox_info.email }}</p>
          <button class="button button-gold" (click)="unlinkDropboxAccount()">Unlink My Account</button>
        </div>
        <div class="integrations-col" *ngIf="!dropboxConnected">
          <h2>Dropbox</h2>
          <p>Got a dropbox account? Click the button below to link your Dropbox account to LNRP. With a linked Dropbox account,
            you'll be able to download all our Zips and MP3s straight to your Dropbox account.</p>
          <button class="button button-gold" (click)="openDropboxLink()">Link My Account</button>
        </div>
        <div class="integrations-col">
          <h2>crateQ Desktop Downloader</h2>
          <p>Your LNRP account works with crateQ's desktop downloader. You can search, preview, queue and download tracks directly
            on the software app. For more information visit www.crateQ.com/LNRP</p>
          <button class="button button-gold" (click)="openCrateQDowload()">Download crateQ</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="crateq-section">
        <div class="crateq-col1">
            <div class="release-image">
                <img src="assets/img/bg-crateQ-logo.png" />
            </div>
            <a [href]="'http://www.crateq.com/lnrp'" target="_blank">
              <div class="release-image">
                  <img src="assets/img/features-crateQ.png" />
              </div>
          </a>
        </div>
        <div class="crateq-col2">
          <div class="title">Introducing crateQ</div>
          <div class="content">
              <div>We have integrated our content into a cross-platform desktop app that will not only serve as a
                  "desktop downloader", but one that you can use interactively alongside your DJ software.</div>
              <br />
              <div>When you click on the “Q” icon for any Late Night release, that track will be sent to the
                  crateQ desktop app. Here you can enable auto downloading on the work station/computer crateQ is
                  installed on, or download the tracks when you’re ready to.</div>
              <br />
          </div>
          <div>crateQ features:</div>
          <div class="feature-content">
              <p>* Search, preview, queue, and download</p>
              <p>* Batch download files automatically</p>
              <p>* Drag and drop any downloaded file from crateQ directly into your DJ software of choice</p>
              <p>* Widget mode allows you to float the app on top of your DJ software so no more minimizing and
                  downloading from a web browser</p>
          </div>
          <div class="crateq-download-buttons zip-download">
            <button class="button button-gold" (click)="openCrateQDowload()">Download crateQ</button>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>