<section class="top-downloads">
    <div class="genre-grid">
        <div class="container">
            <h1>Top Downloads By Genres</h1>

            <div class="genres-container row">
                <a routerLink="/top/6" class="genre-item pop">Pop</a>
                <a routerLink="/top/3" class="genre-item hip-hop">Hip Hop</a>
                <a routerLink="/top/10" class="genre-item rock">Rock</a>
                <a routerLink="/top/8" class="genre-item rap">Rap</a>
                <a routerLink="/top/2" class="genre-item edm">EDM</a>
                <a routerLink="/top/1" class="genre-item dj-edits">DJ Edits</a>
                <a routerLink="/top/17" class="genre-item seasonal">Seasonal</a>
                <a routerLink="/top/16" class="genre-item reggae">Reggae</a>
                <a routerLink="/top/9" class="genre-item remix">Remix</a>
                <a routerLink="/top/7" class="genre-item r-and-b">R&amp;B</a>
                <a routerLink="/top/21" class="genre-item disco">Disco</a>
                <a routerLink="/top/22" class="genre-item soul">Soul</a>
                <a routerLink="/top/13" class="genre-item country">Country</a>
                <a routerLink="/top/12" class="genre-item various">Various</a>
            </div>

            <!-- <p routerLink="/advanced" class="much-more">Or search within a genre</p> -->
        </div>
    </div>

    <div class="featured-row" *ngIf="first_row">
        <div class="container">
            <h1>Top Downloads in {{ top_title }}</h1>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="number-icon">{{ first_row[0].number }}</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="release-image top">
                        <a class="play-head" (click)="requestPlayRelease($event, first_row[0])">Play Song</a>
                        <img *ngIf="first_row[0].image" src="{{ first_row[0].image  || ''}}" width="150" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div (click)="artistClick(first_row[0].artist)" class="artist">{{ first_row[0].artist }}</div>
                    <div class="title">{{ first_row[0].title }}</div>
                    <div class="release-label">{{ first_row[0].label }}</div>
                    <div class="genre">
                        <span class="throwback" *ngIf="first_row[0].throwback == 1">Throwback &bull; </span>
                        <span class="genre">{{ first_row[0].genre }}</span>
                    </div>
                    <div class="year">{{ first_row[0].year }}</div>
                    <div class="versions">
                        <a (click)="openDetail(first_row[0].number)">View All Versions</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" *ngIf="isLoggedIn">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="number-icon">{{ first_row[1].number }}</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="release-image top">
                        <a class="play-head" (click)="requestPlayRelease($event, first_row[1])">Play Song</a>
                        <img *ngIf="first_row[1].image" src="{{ first_row[1].image  || ''}}" width="150" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div (click)="artistClick(first_row[1].artist)" class="artist">{{ first_row[1].artist }}</div>
                    <div class="title">{{ first_row[1].title }}</div>
                    <div class="release-label">{{ first_row[1].label }}</div>
                    <div class="genre">
                        <span class="throwback" *ngIf="first_row[1].throwback == 1">Throwback &bull; </span>
                        <span class="genre">{{ first_row[1].genre }}</span>
                    </div>
                    <div class="year">{{ first_row[1].year }}</div>
                    <div class="versions">
                        <a (click)="openDetail(first_row[1].number)">View All Versions</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" *ngIf="!isLoggedIn">
                <div class="col-lg-9">
                    <div class="login-container">
                        <a (click)="openDetail(first_row[0].number)" class="version-link">Listen to All Versions of this release</a>
                        <p>Members gain access to high-quality, full-length sample tracks and downloads</p>
                        <button routerLink="/signup">Sign Up Now</button>
                        <a class="login-link" (click)="triggerLoginModal()">Or Log In</a>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <div class="featured-row" *ngIf="second_row">
        <div class="container">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="number-icon">{{ second_row[0].number }}</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="release-image top">
                        <a class="play-head" (click)="requestPlayRelease($event, second_row[0])">Play Song</a>
                        <img *ngIf="second_row[0].image" src="{{ second_row[0].image  || ''}}" width="150" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div (click)="artistClick(second_row[0].artist)" class="artist">{{ second_row[0].artist }}</div>
                    <div class="title">{{ second_row[0].title }}</div>
                    <div class="release-label">{{ second_row[0].label }}</div>
                    <div class="genre">
                        <span class="throwback" *ngIf="second_row[0].throwback == 1">Throwback &bull; </span>
                        <span class="genre">{{ second_row[0].genre }}</span>
                    </div>
                    <div class="year">{{ second_row[0].year }}</div>
                    <div class="versions">
                        <a (click)="openDetail(second_row[0].number)">View All Versions</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="number-icon">{{ second_row[1].number }}</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="release-image top">
                        <a class="play-head" (click)="requestPlayRelease($event, second_row[1])">Play Song</a>
                        <img *ngIf="second_row[1].image" src="{{ second_row[1].image  || ''}}" width="150" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div (click)="artistClick(second_row[1].artist)" class="artist">{{ second_row[1].artist }}</div>
                    <div class="title">{{ second_row[1].title }}</div>
                    <div class="release-label">{{ second_row[1].label }}</div>
                    <div class="genre">
                        <span class="throwback" *ngIf="second_row[1].throwback == 1">Throwback &bull; </span>
                        <span class="genre">{{ second_row[1].genre }}</span>
                    </div>
                    <div class="year">{{ second_row[1].year }}</div>
                    <div class="versions">
                        <a (click)="openDetail(second_row[1].number)">View All Versions</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <div class="featured-row" *ngIf="third_row">
        <div class="container">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="number-icon">{{ third_row[0].number }}</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="release-image top">
                        <a class="play-head" (click)="requestPlayRelease($event, third_row[0])">Play Song</a>
                        <img *ngIf="third_row[0].image" src="{{ third_row[0].image  || ''}}" width="150" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="title">{{ third_row[0].title }}</div>
                    <div (click)="artistClick(third_row[0].artist)" class="artist">{{ third_row[0].artist }}</div>
                    <div class="release-label">{{ third_row[0].label }}</div>
                    <div class="genre">
                        <span class="throwback" *ngIf="third_row[0].throwback == 1">Throwback &bull; </span>
                        <span class="genre">{{ third_row[0].genre }}</span>
                    </div>
                    <div class="year">{{ third_row[0].year }}</div>
                    <div class="versions">
                        <a (click)="openDetail(third_row[0].number)">View All Versions</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="number-icon">{{ third_row[1].number }}</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="release-image top">
                        <a class="play-head" (click)="requestPlayRelease($event, third_row[1])">Play Song</a>
                        <img *ngIf="third_row[1].image" src="{{ third_row[1].image || '' }}" width="150" />
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div (click)="artistClick(third_row[1].artist)" class="artist">{{ third_row[1].artist }}</div>
                    <div class="title">{{ third_row[1].title }}</div>
                    <div class="release-label">{{ third_row[1].label }}</div>
                    <div class="genre">
                        <span class="throwback" *ngIf="third_row[1].throwback == 1">Throwback &bull; </span>
                        <span class="genre">{{ third_row[1].genre }}</span>
                    </div>
                    <div class="year">{{ third_row[1].year }}</div>
                    <div class="versions">
                        <a (click)="openDetail(third_row[1].number)">View All Versions</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <div class="release-row" *ngFor="let r of releases">
        <div class="container">
            <div class="first col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="play-head" (click)="requestPlayRelease($event, r)"></div>
                <div class="number">{{ r.number }}</div>
            </div>
            <div (click)="artistClick(r.artist)" class="artist col-lg-3 col-md-3 col-sm-3 col-xs-3">{{ r.artist }}</div>
            <div class="title col-lg-2 col-md-2 col-sm-2 col-xs-2">{{ r.title }}</div>
            <div class="release-label col-lg-2 col-md-2 col-sm-2 col-xs-2">{{ r.label }}</div>
            <div class="view-all col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <a (click)="openDetail(r.number)">View All Versions</a>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <div class="sign-up" *ngIf="!isLoggedIn">
        <div class="container">
            <button routerLink="/signup">Sign Up Now</button>
        </div>
    </div>
</section>
