<section class="pricing">
    <div class="header">
        <div class="container">
            <h1>Plans &amp; Pricing</h1>
            <h3>Sign up today for unlimited access to the best DJ resource on the web</h3>
        </div>
    </div>
    <div class="plans">
        <div class="container">
            <div class="plans-container">
                <div class="plan monthly">
                    <div class="content">
                        <div class="most-popular">Most Popular</div>
                        <h3>Monthly Plan</h3>
                        <div class="price">$47 per month</div>
                        <div class="year-container">
                            <div class="year">$565 total per year</div>
                        </div>
                        <button class="gold-outline" routerLink="/signup">Sign Up Now</button>
                    </div>
                    <div class="overlay"></div>
                    <div class="background"></div>
                </div>
                <div class="plan quarterly">
                    <div class="content">
                        <h3>Quarterly Plan</h3>
                        <div class="price">$127 every 3 months</div>
                        <div class="year-container">
                            <div class="year">Save 10% over the monthly plan</div>
                        </div>
                        <button class="yellow" routerLink="/signup">Sign Up Now</button>
                    </div>
                    <div class="overlay"></div>
                    <div class="background"></div>
                </div>
                <div class="plan half">
                    <div class="content">
                        <h3>6 Month Plan</h3>
                        <div class="price">$227 every 6 months</div>
                        <div class="year-container">
                            <div class="year">Save 20% over the monthly plan</div>
                        </div>
                        <button class="yellow" routerLink="/signup">Sign Up Now</button>
                    </div>
                    <div class="overlay"></div>
                    <div class="background"></div>
                </div>
                <div class="plan year">
                    <div class="pricing-badge visible-lg">
                        Best Savings
                    </div>
                    <div class="content">
                        <h3>Yearly Plan</h3>
                        <div class="price">$397 every year</div>
                        <div class="year-container">
                            <div class="year">Save 30% over the monthly plan</div>
                        </div>
                        <button class="yellow" routerLink="/signup">Sign Up Now</button>
                    </div>
                    <div class="overlay"></div>
                    <div class="background"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <h1>Features &amp; Benefits</h1>

            <div class="features-container">
                <div class="feature-item">
                    <div class="icon curated"></div>
                    <h5>Professionally Curated</h5>
                    <p>Our releases contain high quality MP3 downloads with clean, dirty, accapella, and instrumental versions included</p>
                </div>
                <div class="feature-item">
                    <div class="icon variety"></div>
                    <h5>Great Variety</h5>
                    <p>Tons of releases from all over the musical spectrum, from R&amp;B to Reggae to Country</p>
                </div>
                <div class="feature-item">
                    <div class="icon downloads"></div>
                    <h5>ZIP Downloads</h5>
                    <p>Every version for every release is available for download, or you can grab the entire release in on convenient ZIP file</p>
                </div>
                <div class="feature-item">
                    <div class="icon releases"></div>
                    <h5>10,000+ Releases</h5>
                    <p>Our collection of music is huge and keeps growing every day</p>
                </div>
                <div class="feature-item">
                    <div class="icon selection"></div>
                    <h5>Throwbacks</h5>
                    <p>We have the largest collection of Old School Throwback songs of any site out there</p>
                </div>
                <div class="feature-item">
                    <div class="icon search"></div>
                    <h5>Pinpoint Search</h5>
                    <p>Search our extensive library with artist, titles, genres, even labels and BPM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="signup">
        <div class="container">
            <p><a routerLink="/signup">Sign Up</a> for unlimited access to our catalog</p>
        </div>
    </div>
</section>
