<section class="contact-form">
    <div class="header">
        <div class="container">
            <h1>Contact Us</h1>
            <h5>Got a question or a comment? Use this form to reach out to the LNRP staff.</h5>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-danger col-lg-10 col-lg-offset-1 col-md-12" role="alert" *ngIf="showError">
            <p *ngIf="contactForm.controls['name'].errors?.required">A name is required to send the contact form!</p>
            <p *ngIf="contactForm.controls['email'].errors?.required">An email address is required to send the contact form!</p>
            <p *ngIf="contactForm.controls['email'].errors?.pattern">A valid email address is required to send the contact form!</p>
            <p *ngIf="contactForm.controls['message'].errors?.required">A message is required to send the contact form!</p>
            <p *ngIf="!captchaComplete">Please complete the Captcha form</p>
        </div>
        <form [formGroup]="contactForm" (submit)="submitForm($event)">
            <div class="form-group col-lg-5 col-lg-offset-1 col-md-12">
                <label>Purpose</label>
                <select class="form-control" [formControl]="contactForm.controls['purpose']">
                    <option>General</option>
                    <option value="Marketing">Advertising</option>
                    <option value="Membership">Membership Issues</option>
                    <option value="Problem">Report a Problem</option>
                </select>
            </div>
            <div class="form-group col-lg-5 col-md-12" [class.has-error]="!contactForm.controls['name'].valid && contactForm.controls['name'].touched && contactForm.controls['name'].dirty">
                <label>Name*</label>
                <input type="text" class="form-control" required [formControl]="contactForm.controls['name']" />
            </div>
            <div class="form-group col-lg-5 col-lg-offset-1 col-md-12" [class.has-error]="!contactForm.controls['email'].valid && contactForm.controls['email'].touched && contactForm.controls['email'].dirty">
                <label>Email*</label>
                <input type="text" class="form-control" required [formControl]="contactForm.controls['email']" />
            </div>
            <div class="form-group col-lg-5 col-md-12">
                <label>Phone</label>
                <input type="text" class="form-control" [formControl]="contactForm.controls['phone']" />
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <div class="form-group" [class.has-error]="!contactForm.controls['message'].valid && contactForm.controls['message'].touched && contactForm.controls['message'].dirty">
                    <label>Message</label>
                    <textarea class="form-control" rows="5" required [formControl]="contactForm.controls['message']"></textarea>
                </div>
                <div class="form-group">
                    <re-captcha site_key="6LdqeeUSAAAAAKRHy6E03Ywv5P4nqRBkLxaPCpPt" theme="dark"></re-captcha>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="button-gold" [class.disabled]="!contactForm.valid || !captchaComplete" [disabled]="!contactForm.valid || !captchaComplete">Send</button>
                </div>
            </div>
        </form>
    </div>
</section>
