<section class="advanced-search">
    <div class="header">
        <div class="container">
            <h1>Advanced Search</h1>
            <h6>Search our extensive library of {{ release_count | number:'1.0-0' }} releases.</h6>
        </div>
        <div class="overlay"></div>
    </div>
    <div class="search-button">
        <div class="container">
            <button (click)="submitSearch()">Submit Search</button>
        </div>
    </div>
    <div class="search-params">
        <div class="container">
            <div class="column-left col-lg-6">
                <div class="section-search">
                    <h1>Search For:</h1>
                    <h6>Add separate search terms (like "California" or "In Da Club") to help build your search</h6>
                    <div class="input-group">
                        <input type="text" placeholder="Your Search" class="form-control" [(ngModel)]="searchText" (keypress)="addSearch($event)" />
                        <span class="input-group-addon" (click)="addSearch($event)">Add Search Term</span>
                    </div>
                    <div class="search-items item-group">
                        <div class="search-item list-item selected" *ngFor="let s of searches; let i = index">
                            <div class="item-text">{{ s }}</div>
                            <div class="item-remove" (click)="removeSearch(i)"></div>
                        </div>
                    </div>
                    <div class="clear-all" (click)="clearSelected('search')">Clear All</div>
                </div>

                <div *ngIf="searchByYear===false" class="section-decade">
                    <h1>Decade:</h1>
                    <div class="decade-items item-group">
                        <div class="decade-item list-item" [class.selected]="d.selected" (click)="d.selected = !d.selected" *ngFor="let d of decades">
                            {{ d.name }}
                        </div>
                    </div>
                    <div class="clear-all" (click)="clearSelected('decade')">Clear All</div>
                </div>

                <div *ngIf="searchByYear===true" class="section-years">
                    <h1>Years:</h1>
                    <div class="year-range-selector item-group">
                        <div class="year-select-style" [ngClass]="{'year-select-chosen': yearRange.minYear !== null}">
                            <select [(ngModel)]="yearRange.minYear" id="minYear">
                                <option value="" disabled selected hidden>Min Year</option>
                                <option *ngFor="let year of years" [value]="year">{{year}}</option>
                            </select>
                        </div>
                        <span class="year-range-dash">-</span>
                        <div class="year-select-style" [ngClass]="{'year-select-chosen': yearRange.maxYear !== null}">
                            <select [(ngModel)]="yearRange.maxYear" id="maxYear">
                                <option value="" disabled selected hidden>Max Year</option>
                                <option *ngFor="let year of years" [value]="year">{{year}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="clear-all" (click)="clearSelected('years')">Clear All</div>
                </div>

                <div class="section-toggle-switch">
                    <label class="toggle-switch">
                        <input type="checkbox" [formControl]="searchByYearForm">
                        <span class="slider round"></span>
                    </label>
                    <span>Search by Year</span>
                </div>

                <div class="section-version">
                    <h1>Versions:</h1>
                    <div class="version-items item-group">
                        <div class="version-item list-item" [class.selected]="v.selected" (click)="v.selected = !v.selected" *ngFor="let v of versions">
                            {{ v.name }}
                        </div>
                    </div>
                    <div class="clear-all" (click)="clearSelected('version')">Clear All</div>
                </div>

                <div class="section-bpm">
                    <h1>BPM:</h1>
                    <div class="bpm-items item-group">
                        <div class="bpm-item list-item" [class.selected]="b.selected" (click)="b.selected = !b.selected" *ngFor="let b of bpm">
                            {{ b.name }}
                        </div>
                    </div>
                    <div class="clear-all" (click)="clearSelected('bpm')">Clear All</div>
                </div>
            </div>
            <div class="column-right col-lg-6">
                <div class="section-letter">
                    <h1>Artist Begins With:</h1>
                    <div class="letter-items item-group">
                        <div class="letter-item list-item" [class.selected]="l.selected" (click)="l.selected = !l.selected" *ngFor="let l of letters">
                            {{ l.letter }}
                        </div>
                    </div>
                    <div class="clear-all" (click)="clearSelected('letter')">Clear All</div>
                </div>

                <div class="section-date">
                    <h1>Recently Added:</h1>
                    <div class="date-items item-group">
                        <div class="date-item list-item" [class.selected]="d.selected" (click)="selectDate(d.id)" *ngFor="let d of dates">
                            {{ d.name }}
                        </div>
                    </div>
                    <div class="clear-all" (click)="clearSelected('date')">Clear</div>
                </div>

                <div class="section-misc">
                    <div class="throwback-items">
                        <h1>Throwback?</h1>
                        <div class="checkbox" [class.active]="throwback" (click)="throwback = !throwback"></div>
                    </div>

                    <div class="remix-items">
                        <h1>Remix?</h1>
                        <div class="checkbox" [class.active]="remix" (click)="remix = !remix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="genre-params">
        <div class="container">
            <h1>Genres:</h1>
            <div class="selected-genres"></div>
            <div class="genre-column col-lg-4">
                <div class="items genres genre-items">
                    <div class="item genre-item" [class.selected]="g.selected" (click)="selectGenre(g.id)" *ngFor="let g of genres">
                        <div class="icon {{ g.name | concatenate | lowercase }}"></div>
                        <div class="genre-link">{{ g.name }} ({{ g.releases }})</div>
                    </div>
                </div>
            </div>
            <div class="subgenre-column col-lg-8">
                <div class="subgenre-items clearfix" *ngFor="let g of subgenres">
                    <div class="subgenre-container" *ngIf="g.selected">
                        <div class="item subgenre-item" [class.parent-genre]="sg.id === 0" [class.selected]="sg.selected" (click)="sg.selected = !sg.selected" *ngFor="let sg of g.subgenres">
                            <div class="item-text">{{ sg.name }} ({{ sg.releases }})</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <div class="label-params">
        <div class="container">
            <h1>Labels:</h1>
            <div class="labels-container">
                <div class="label-item col-lg-3 col-md-4 col-sm-6 col-xs-12" [class.selected]="l.selected" (click)="l.selected = !l.selected" *ngFor="let l of labels">
                    <div class="label-text">{{ l.name }} ({{ l.total | number:'1.0-0' }})</div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-button">
        <div class="container">
            <button (click)="submitSearch()">Submit Search</button>
        </div>
    </div>
</section>
