<div bsModal #childModal="bs-modal" class="dropbox-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <img class="dropbox-logo" src="assets/img/vendor-dropbox.svg" />
                <h3>Got a Dropbox account?</h3>
                <p>Link it to your LNRP account to download our Zips and MP3s directly to your Dropbox folder!<br /><br />Go to your <a routerLink="/account">account</a> page to link your accounts and start downloading today</p>
                <button class="button button-gold-border" (click)="closeDropboxModal()">Got it!</button>
            </div>
            <div class="modal-overlay"></div>
        </div>
    </div>
</div>
<section class="releases">
    <div class="header">
        <div class="container">
            <div class="col-lg-7">
                <h1>{{ page_title }}</h1>
            </div>
            <div class="sort col-lg-5">
                <div *ngIf="year_months.length > 0">
                    <div class="sort-label hidden-lg">See New Releases From: </div>
                    <ng-select
                        [items]="year_months"
                        (selected)="selectYearMonth($event)"
                        placeholder="Choose Month">
                    </ng-select>
                    <div class="sort-label visible-lg">See New Releases From: </div>
                </div>
            </div>
        </div>
        <div class="release-params container" *ngIf="filter_params.length > 0">
            <div class="col-lg-1">
                <h3>Filters:</h3>
            </div>
            <div class="col-lg-11">
                <div class="param-items">
                    <div class="param-item" *ngFor="let p of filter_params; let i = index">
                        <div class="item-text">{{ p.text }}</div>
                        <div class="item-remove" (click)="removeParam(p.type, p.key, i)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="release-message" *ngIf="none_found">No releases found</h4>
    <app-loader *ngIf="!none_found && release_groups.length == 0"></app-loader>
    <h4 class="release-message" *ngIf="!none_found && release_groups.length == 0">Loading your releases</h4>
    <div class="release-groups" *ngFor="let group of release_groups">
        <div class="release-group-title container">
            <span class="glyphicon" [class.glyphicon-triangle-right]="!group.open" [class.glyphicon-triangle-bottom]="group.open"></span>
            <h6 (click)="openGroup(group)">{{ group.title }}</h6>
        </div>
        <div class="release-group" *ngIf="group.open">
            <div class="release-item" [class.downloaded]="r.downloaded" *ngFor="let r of group.releases">
                <div class="release-info container visible-lg">
                    <div class="image">
                        <div class="image-container">
                            <a href="" class="play-head" (click)="requestPlayRelease($event, r)">Play Song</a>
                            <img *ngIf="r.image "src="{{ r.image }}" width="100" />
                        </div>
                    </div>
                    <div class="info-container">
                        <div class="top-row">
                            <div class="title">{{ r.title }}</div>
                            <div class="links">
                                <span (click)="openRemix(r)" class="release-remix" title="View Remix Detail" *ngIf="r.remix > 0"></span>
                                <span (click)="openDetail(r)" class="release-popup" title="View Release Detail"></span>
                                <span title="Certified Instrumental" class="certified-instrumental-icon" *ngIf="r.certified === 1"></span>
                            </div>
                            <div class="time">{{ r.time }}</div>
                            <div class="year">{{ r.year }}</div>
                            <div class="bpm">{{ r.bpm }} BPM</div>
                        </div>
                        <div class="middle-row">
                            <div class="text">
                                <span class="artist">by <span (click)="artistClick(r.artist)" class="artist-color">{{ r.artist }}</span></span>
                                <span class="throwback" *ngIf="r.throwback == 1">Throwback &bull; </span>
                                <span class="genre">{{ r.genre }} &bull; {{ r.label }}</span>
                                <br />
                                <div style="display:grid;">
                                    <span class="updated" *ngIf="r.updated != 'false'">Updated: {{ r.updated }}</span>
                                    <span class="updated">Added:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ r.added }}</span>
                                </div>
                                <span class="comments" *ngIf="r.comments != ''">{{ r.comments }}</span>
                            </div>
                            <div class="button">
                                <div class="button-group">
                                    <button class="unrated" *ngIf="!r.rated || !isLoggedIn">Rate Song to Download</button>
                                    <button class="rated" *ngIf="isLoggedIn && r.rated && !r.crateq" (click)="requestCrateQRelease(r.id, r.versions, r.crateq)">Add to crateQ</button>
                                    <button class="rated" *ngIf="isLoggedIn && r.rated && r.crateq" (click)="requestCrateQRelease(r.id, r.versions, r.crateq)">Remove crateQ</button>
                                    <button class="rated dropbox" [class.no-dropbox]="!userHasDropbox" *ngIf="isLoggedIn && r.rated" (click)="requestDropboxRelease(r.id)">Add to Dropbox</button>
                                    <button class="rated" *ngIf="isLoggedIn && r.rated" (click)="requestDownloadRelease(r.id)">Download Zip</button>        
                                </div>
                                <div class="ratings" [class.authenticated]="isLoggedIn" [attr.release]="r.id" [attr.score]="r.score" [attr.ratings]="r.ratings">
                                    <div class="score">{{ r.rating }}</div>
                                    <rating
                                        [ngModel]="r.rating"
                                        [readonly]="!isLoggedIn || r.rated"
                                        [max]="5"
                                        [attr.release]="r.id"
                                        iconClass="rating-icon"
                                        fullIcon="&nbsp;"
                                        emptyIcon="&nbsp;"
                                        (onRate)="rateRelease(r.id, $event)"
                                    ></rating>
                                    <div class="votes">{{ r.ratings }} votes</div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-row">
                            <div class="version-container">
                                <div class="version-items">
                                    <div class="version-item" [class.version-downloaded]="v.downloaded" *ngFor="let v of r.versions" (click)="requestPlayVersion($event, v.id, r)">
                                        <span class="play glyphicon glyphicon-play"></span>
                                        <span clsas="title">{{ v.type }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="expand-link">
                                <a href="" class="view-all" (click)="expandRelease($event, r.id);">
                                    <span *ngIf="r.versions.length == 1">Download This Release</span>
                                    <span *ngIf="r.versions.length > 1">See all {{ r.versions.length }} Versions</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="release-info-mini container hidden-lg">
                    <div class="image col-md-1 col-sm-2 col-xs-2">
                        <div class="image-container">
                            <a href="" class="play-head" (click)="requestPlayRelease($event, r)">Play Song</a>
                            <img *ngIf="r.image" src="{{ r.image }}" width="65" />
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-6">
                        <div class="title">{{ r.title }}</div>
                        <div class="text">
                            <span class="artist">by <span (click)="artistClick(r.artist)" class="artist-color">{{ r.artist }}</span></span>
                            <span class="throwback" *ngIf="r.throwback == 1">Throwback &bull; </span>
                            <span class="genre">{{ r.genre }} &bull; {{ r.label }}</span>
                            <br />
                            <span class="updated" *ngIf="r.updated != 'false'">Updated: {{ r.updated }}</span>
                            <span class="updated">Added: {{ r.added }}</span>
                            <span class="comments" *ngIf="r.comments != ''">{{ r.comments }}</span>
                        </div>
                        <div class="info">
                            <div class="time">{{ r.time }}</div>
                            <div class="year">{{ r.year }}</div>
                            <div class="bpm">{{ r.bpm }} BPM</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="links">
                            <span (click)="openRemix(r)" class="release-remix" title="View Remix Detail" *ngIf="r.remix > 0"></span>
                            <span (click)="openDetail(r)" class="release-popup" title="View Release Detail"></span>
                            <span title="Certified Instrumental" class="certified-instrumental-icon" *ngIf="r.certified === 1"></span>
                        </div>
                        <div class="button">
                            <button class="unrated" *ngIf="!r.rated || !isLoggedIn">Rate Song to Download</button>
                            <button class="rated" *ngIf="isLoggedIn && r.rated && !r.crateq" (click)="requestCrateQRelease(r.id, r.versions, r.crateq)">Add to crateQ</button>
                            <button class="rated" *ngIf="isLoggedIn && r.rated && r.crateq" (click)="requestCrateQRelease(r.id, r.versions, r.crateq)">Remove crateQ</button>
                            <button class="rated" *ngIf="isLoggedIn && r.rated" (click)="requestDownloadRelease(r.id)">Download Zip</button>
                            <button class="rated dropbox" [class.no-dropbox]="!userHasDropbox" *ngIf="isLoggedIn && r.rated" (click)="requestDropboxRelease(r.id)">Add to Dropbox</button>
                            <div class="ratings" [class.authenticated]="isLoggedIn" [attr.release]="r.id" [attr.score]="r.score" [attr.ratings]="r.ratings">
                                <div class="score">{{ r.rating }}</div>
                                <rating
                                    [ngModel]="r.rating"
                                    [readonly]="!isLoggedIn || r.rated"
                                    [max]="5"
                                    [attr.release]="r.id"
                                    iconClass="rating-icon"
                                    fullIcon="&nbsp;"
                                    emptyIcon="&nbsp;"
                                    (onRate)="rateRelease(r.id, $event)"
                                ></rating>
                                <div class="votes">{{ r.ratings }} votes</div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-row">
                        <div class="version-container">
                            <div class="version-items">
                                <div class="version-item" [class.version-downloaded]="v.downloaded" *ngFor="let v of r.versions" (click)="requestPlayVersion($event, v.id, r)">
                                    <span class="play glyphicon glyphicon-play"></span>
                                    <span clsas="title">{{ v.type }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="expand-link">
                            <a class="view-all" (click)="expandRelease($event, r.id);">
                                <span *ngIf="r.versions.length == 1">Download This Release</span>
                                <span *ngIf="r.versions.length > 1">See all {{ r.versions.length }} Versions</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="version-links container" *ngIf="open_release == r.id">
                    <div class="image-spacer">&nbsp;</div>
                    <div class="version-container">
                        <div class="version-item" [class.version-downloaded]="v.downloaded" *ngFor="let v of r.versions">
                            <div class="version-play">
                                <a (click)="requestPlayVersion($event, v.id, r)"></a>
                            </div>
                            <div class="version-title">
                                {{ v.type }}
                            </div>
                            <div *ngIf="isLoggedIn && r.rated" class="version-download">
                                <span (click)="requestDownloadVersion(r.id, v.id)"></span>
                            </div>
                            <div *ngIf="isLoggedIn && r.rated" class="version-dropbox">
                                <span (click)="requestDropboxVersion(r.id, v.id)"></span>
                            </div>
                            <div *ngIf="isLoggedIn && r.rated" class="version-crateq" [class.crateq-added]="v.crateq > 0">
                                <span (click)="requestCrateQVersion(r.id, v.id, v.crateq)"></span>
                            </div>
                        </div>
                        <div class="close-link">
                            <a (click)="collapseRelease($event, r.id);">Close</a>
                        </div>
                    </div>
                </div>

                <div class="overlay"></div>
            </div>
        </div>
    </div>
</section>
