<header class="container">
    <!-- show 1200px or more -->
    <div *ngIf="!isBlog" class="clearfix">
        <section class="header-logo col-lg-3 visible-lg">
            <a routerLink="/" class="header-logo-img">Late Night Record Pool</a>
        </section>
        <section class="header-menu col-lg-9 visible-lg">
            <div class="header-menu-top">
                <nav>
                    <a routerLink="/trending" [class.active]="page==='/trending'">Trending</a>
                    <a routerLink="/top" [class.active]="page==='/top'">Top Downloads</a>
                    <a routerLink="/new" [class.active]="page==='/new'">New Music</a>
                    <a routerLink="/releases" [class.active]="page==='/releases'">All Music</a>
                    <a *ngIf="!isLoggedIn" routerLink="/pricing" [class.active]="page==='/pricing'">Pricing</a>
                    <a *ngIf="isLoggedIn" routerLink="/features" [class.active]="page==='/features'">Features</a>
                    <a routerLink="/signup" class="button button-gold-border" *ngIf="!isLoggedIn">Sign Up</a>
                    <a href="" (click)="triggerLoginModal($event)" *ngIf="!isLoggedIn">Login</a>
                    <a routerLink="/account" class="account-link" *ngIf="isLoggedIn">Account</a>
                    <a href="" (click)="logout($event)" *ngIf="isLoggedIn">Logout</a>
                </nav>
            </div>
            <div class="header-menu-main">
                <nav class="clearfix">
                    <div class="header-menu-main-items">
                        <li [class.selected]="show.header_menu.genre" (click)="clickPopupMenu($event, 'genre')">
                            Genre
                            <div class="header-main-menu-item-bg"></div>
                        </li>
                        <li [class.selected]="show.header_menu.decade" (click)="clickPopupMenu($event, 'decade')">
                            Decade
                            <div class="header-main-menu-item-bg"></div>
                        </li>
                        <li [class.selected]="show.header_menu.throwback" (click)="clickPopupMenu($event, 'throwback')">
                            Throwback
                            <div class="header-main-menu-item-bg"></div>
                        </li>
                    </div>
                    <div class="header-search-container">
                        <form (ngSubmit)="onSubmit(searchForm.value)" #searchForm="ngForm">
                            <input type="text" name="searchTerm" class="input header-search-box" placeholder="Search..." [(ngModel)]="searchTerm"/>
                            <button type="submit" class="header-search-btn">Search</button>
                        </form>
                        <span routerLink="/advanced" class="header-adv-search-link">Advanced Search</span>
                    </div>
                </nav>
            </div>
        </section>
        <section class="header-popup header-popup-genre container" *ngIf="show.header_menu.genre">
            <div class="header-popup-close">
                <a (click)="closePopupMenus()">&nbsp;</a>
            </div>
            <div class="header-popup-items genre-items">
                <div class="header-popup-item genre-item" *ngFor="let genre of header_genres">
                    <div class="icon {{ genre.name | concatenate | lowercase }}"></div>
                    <a (click)="setGenre(genre.id, genre.name)">{{ genre.name }} ({{ genre.releases }})</a>
                </div>
            </div>
            <div class="header-advanced-link">
                <a routerLink="/advanced">Advanced Search</a>
            </div>
            <div class="header-genres-overlay"></div>
        </section>
        <section class="header-popup header-popup-decade container" *ngIf="show.header_menu.decade">
            <div class="header-popup-close">
                <a (click)="closePopupMenus()">&nbsp;</a>
            </div>
            <div class="header-popup-items genre-items">
                <div class="header-popup-item genre-item" *ngFor="let decade of header_decades">
                    <div class="icon year-{{ decade.year }}"></div>
                    <a (click)="setDecade(decade.year, decade.name)">{{ decade.name }} ({{ decade.releases }})</a>
                </div>
            </div>
            <div class="header-advanced-link">
                <a routerLink="/advanced">Advanced Search</a>
            </div>
            <div class="header-genres-overlay"></div>
        </section>
        <section class="header-popup header-popup-throwback container" *ngIf="show.header_menu.throwback">
            <div class="header-popup-close">
                <a (click)="closePopupMenus()">&nbsp;</a>
            </div>
            <div class="header-popup-items genre-items">
                <div class="header-popup-item genre-item" *ngFor="let throwback of header_throwbacks">
                    <div class="icon {{ throwback.name | concatenate | lowercase }}"></div>
                    <a (click)="setThrowback(throwback.id, throwback.name)">{{ throwback.name }} ({{ throwback.releases }})</a>
                </div>
            </div>
            <div class="header-advanced-link">
                <a routerLink="/advanced">Advanced Search</a>
            </div>
            <div class="header-genres-overlay"></div>
        </section>
        <section class="header-sticky visible-lg" *ngIf="show.header_sticky">
            <div class="container">
                <div class="header-logo col-lg-3">
                    <a routerLink="/"></a>
                </div>
                <div class="header-menu col-lg-9">
                    <nav class="clearfix">
                        <a routerLink="/trending" [class.active]="page==='/trending'">Trending</a>
                        <a routerLink="/top" [class.active]="page==='/top'">Top Downloads</a>
                        <a routerLink="/new" [class.active]="page==='/new'">New Music</a>
                        <a routerLink="/releases" [class.active]="page==='/releases'">All Music</a>
                        <a  *ngIf="!isLoggedIn" routerLink="/pricing" [class.active]="page==='/pricing'">Pricing</a>
                        <a  *ngIf="isLoggedIn" routerLink="/features" [class.active]="page==='/features'">Features</a>
                        <a routerLink="/signup" class="button button-gold-border" *ngIf="!isLoggedIn">Sign Up</a>
                        <a href="" (click)="triggerLoginModal($event)" *ngIf="!isLoggedIn">Login</a>
                        <a routerLink="/account" class="account-link" *ngIf="isLoggedIn">Account</a>
                        <a href="" (click)="logout($event)" *ngIf="isLoggedIn">Logout</a>
                    </nav>
                </div>
            </div>
    
            <div class="header-menu-buttons">
                <span class="search-button" (click)="show.header_search = !show.header_search; show.header_slideout = false;"></span>
                <span class="menu-button" (click)="show.header_slideout = !show.header_slideout; show.header_search = false;"></span>
            </div>
    
            <div class="header-sticky-search" *ngIf="show.header_sticky && show.header_search">
                <div class="header-sticky-search-close">
                    <a href="" (click)="show.header_search = false">&nbsp;</a>
                </div>
                <div class="main">
                    <div class="container">
                        <div class="container-title row">
                            Search our extensive library, and <a href="/signup">Sign Up</a> today to download
                        </div>
    
                        <div class="container-search row">
                            <form (ngSubmit)="onSubmit(searchForm.value)" #searchForm="ngForm">
                                <input type="text" name="searchTerm" class="text" placeholder="Search..." [(ngModel)]="searchTerm"/>
                                <button type="submit" class="button">Search</button>
                            </form>
                        </div>
    
                        <div class="container-menu row">
                            <nav>
                                <ul>
                                    <li class="menu genre" [class.open]="show.header_search_items.genre" (click)="clickSearchMenu($event, 'genre')">Genre</li>
                                    <li class="menu decade" [class.open]="show.header_search_items.decade" (click)="clickSearchMenu($event, 'decade')">Decade</li>
                                    <li class="menu throwback" [class.open]="show.header_search_items.throwback" (click)="clickSearchMenu($event, 'throwback')">Throwback</li>
                                    <li routerLink="/advanced" class="link advanced">Advanced Search</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="items genres genre-items" *ngIf="show.header_search_items.genre">
                    <div class="container">
                        <div class="item genre-item" *ngFor="let genre of header_genres">
                            <div class="icon {{ genre.name | concatenate | lowercase }}"></div>
                            <a (click)="setGenre(genre.id, genre.name)">{{ genre.name }} ({{ genre.releases }})</a>
                        </div>
                    </div>
                </div>
                <div class="items decades genre-items" *ngIf="show.header_search_items.decade">
                    <div class="container">
                        <div class="item genre-item" *ngFor="let decade of header_decades">
                            <div class="icon various"></div>
                            <a (click)="setDecade(decade.year, decade.name)">{{ decade.name }} ({{ decade.releases }})</a>
                        </div>
                    </div>
                </div>
                <div class="items throwback genre-items" *ngIf="show.header_search_items.throwback">
                    <div class="container">
                        <div class="item genre-item" *ngFor="let throwback of header_throwbacks">
                            <div class="icon {{ throwback.name | concatenate | lowercase }}"></div>
                            <a (click)="setThrowback(throwback.id, throwback.name)">{{ throwback.name }} ({{ throwback.releases }})</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
    </div>

    <div *ngIf="isBlog" class="clearfix">
        <section class="header-sticky visible-lg">
            <div class="container">
                <div class="header-logo col-lg-3">
                    <a routerLink="/"></a>
                </div>
                <div class="header-menu col-lg-9">
                    <nav class="clearfix">
                        <a routerLink="/trending" [class.active]="page==='/trending'">Trending</a>
                        <a routerLink="/top" [class.active]="page==='/top'">Top Downloads</a>
                        <a routerLink="/new" [class.active]="page==='/new'">New Music</a>
                        <a routerLink="/releases" [class.active]="page==='/releases'">All Music</a>
                        <a *ngIf="!isLoggedIn" routerLink="/pricing" [class.active]="page==='/pricing'">Pricing</a>
                        <a *ngIf="isLoggedIn" routerLink="/features" [class.active]="page==='/features'">Features</a>
                        <a routerLink="/signup" class="button button-gold-border" *ngIf="!isLoggedIn">Sign Up</a>
                        <a href="" (click)="triggerLoginModal($event)" *ngIf="!isLoggedIn">Login</a>
                        <a routerLink="/account" class="account-link" *ngIf="isLoggedIn">Account</a>
                        <a href="" (click)="logout($event)" *ngIf="isLoggedIn">Logout</a>
                    </nav>
                </div>
            </div>
    
            <div class="header-menu-buttons">
                <span class="search-button" (click)="show.header_search = !show.header_search; show.header_slideout = false;"></span>
                <span class="menu-button" (click)="show.header_slideout = !show.header_slideout; show.header_search = false;"></span>
            </div>
    
            <div class="header-sticky-search" *ngIf="show.header_search">
                <div class="header-sticky-search-close">
                    <a href="" (click)="show.header_search = false">&nbsp;</a>
                </div>
                <div class="main">
                    <div class="container">
                        <div class="container-title row">
                            Search our extensive library, and <a href="/signup">Sign Up</a> today to download
                        </div>
    
                        <div class="container-search row">
                            <form (ngSubmit)="onSubmit(searchForm.value)" #searchForm="ngForm">
                                <input type="text" name="searchTerm" class="text" placeholder="Search..." [(ngModel)]="searchTerm"/>
                                <button type="submit" class="button">Search</button>
                            </form>
                        </div>
    
                        <div class="container-menu row">
                            <nav>
                                <ul>
                                    <li class="menu genre" [class.open]="show.header_search_items.genre" (click)="clickSearchMenu($event, 'genre')">Genre</li>
                                    <li class="menu decade" [class.open]="show.header_search_items.decade" (click)="clickSearchMenu($event, 'decade')">Decade</li>
                                    <li class="menu throwback" [class.open]="show.header_search_items.throwback" (click)="clickSearchMenu($event, 'throwback')">Throwback</li>
                                    <li routerLink="/advanced" class="link advanced">Advanced Search</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="items genres genre-items" *ngIf="show.header_search_items.genre">
                    <div class="container">
                        <div class="item genre-item" *ngFor="let genre of header_genres">
                            <div class="icon {{ genre.name | concatenate | lowercase }}"></div>
                            <a (click)="setGenre(genre.id, genre.name)">{{ genre.name }} ({{ genre.releases }})</a>
                        </div>
                    </div>
                </div>
                <div class="items decades genre-items" *ngIf="show.header_search_items.decade">
                    <div class="container">
                        <div class="item genre-item" *ngFor="let decade of header_decades">
                            <div class="icon various"></div>
                            <a (click)="setDecade(decade.year, decade.name)">{{ decade.name }} ({{ decade.releases }})</a>
                        </div>
                    </div>
                </div>
                <div class="items throwback genre-items" *ngIf="show.header_search_items.throwback">
                    <div class="container">
                        <div class="item genre-item" *ngFor="let throwback of header_throwbacks">
                            <div class="icon {{ throwback.name | concatenate | lowercase }}"></div>
                            <a (click)="setThrowback(throwback.id, throwback.name)">{{ throwback.name }} ({{ throwback.releases }})</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- show from 768px to 1199px -->
    <section class="header-sticky hidden-lg hidden-xs">
        <div class="container">
            <div class="header-logo col-lg-3">
                <a routerLink="/"></a>
            </div>
            <div class="header-menu text-right col-lg-9">
                <nav>
                    <a routerLink="/signup" class="button button-gold-border" *ngIf="!isLoggedIn">Sign Up</a>
                </nav>
            </div>
        </div>

        <div class="header-menu-buttons">
            <span class="search-button" (click)="show.header_search = !show.header_search; show.header_slideout = false;"></span>
            <span class="menu-button" (click)="show.header_slideout = !show.header_slideout; show.header_search = false;"></span>
        </div>

        <div class="header-sticky-search" *ngIf="show.header_search">
            <div class="header-sticky-search-close">
                <a href="" (click)="show.header_search = false">&nbsp;</a>
            </div>
            <div class="main">
                <div class="container">
                    <div class="container-title row">
                        Search our extensive library, and <a routerLink="/signup" (click)="show.header_search = false">Sign Up</a> today to download
                    </div>
                    <div class="container-search row">
                        <form (ngSubmit)="onSubmit(searchForm.value)" #searchForm="ngForm">
                            <input type="text" name="searchTerm" class="text" placeholder="Search..." [(ngModel)]="searchTerm"/>
                            <button type="submit" class="button">Search</button>
                        </form>
                    </div>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
    </section>

    <!-- show below 767px -->
    <section class="header-mobile visible-xs" [ngClass]="{'header-out': !isScrollUp, 'header-in': isScrollUp}">
        <div class="header-container">
            <div class="header-contents">
                <div class="header-logo">
                    <a routerLink="/"></a>
                </div>
                <div class="header-menu text-right" *ngIf="!isDesktop">
                    <div class="menu-button" (click)="show.header_slideout = !show.header_slideout; show.header_search = false;"></div>
                </div>
                <div class="header-menu-buttons" *ngIf="isDesktop">
                    <span class="search-button" (click)="show.header_search = !show.header_search; show.header_slideout = false;"></span>
                    <span class="menu-button" (click)="show.header_slideout = !show.header_slideout; show.header_search = false;"></span>
                </div>
            </div>
            <div class="header-sticky-search" *ngIf="show.header_search && isDesktop">
                <div class="header-sticky-search-close">
                    <a href="" (click)="show.header_search = false">&nbsp;</a>
                </div>
                <div class="main">
                    <div class="container">
                        <div class="container-title row">
                            Search our extensive library, and <a routerLink="/signup" (click)="show.header_search = false">Sign Up</a> today to download
                        </div>
                        <div class="container-search row">
                            <form (ngSubmit)="onSubmit(searchForm.value)" #searchForm="ngForm">
                                <input type="text" name="searchTerm" class="text" placeholder="Search..." [(ngModel)]="searchTerm"/>
                                <button type="submit" class="button">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="header-sticky-slideout" [ngClass]="{'menu-out': !show.header_slideout, 'menu-in': show.header_slideout}" *ngIf="isDesktop">
        <div class="slideout-close">
            <span class="glyphicon glyphicon-menu-hamburger" (click)="show.header_slideout = false"></span>
        </div>
        <div class="slideout-container">
            <a href="" class="button button-gold-border" (click)="triggerLoginModal($event)" *ngIf="!isLoggedIn">Account Login</a>
            <a href="" class="button button-gold-border" (click)="logout($event)" *ngIf="isLoggedIn">Logout</a>
            <h2>Late Night Record Pool</h2>
            <ul>
                <li><a routerLink="/" (click)="goLink('/')" [class.active]="page==='/'">Home</a></li>
                <li><a routerLink="/pricing" (click)="show.header_slideout = false" [class.active]="page==='/pricing'">Plans &amp; Pricing</a></li>
                <li><a routerLink="/faq" (click)="show.header_slideout = false" [class.active]="page==='/faq'">Frequently Asked Questions</a></li>
                <li><a routerLink="/contact" (click)="show.header_slideout = false" [class.active]="page==='/contact'">Contact Us</a></li>
            </ul>
            <h2>Our Music</h2>
            <ul>
                <li><a routerLink="/trending" (click)="show.header_slideout = false" [class.active]="page==='/trending'">Trending</a></li>
                <li><a routerLink="/top" (click)="show.header_slideout = false" [class.active]="page==='/top'">Top Downloads</a></li>
                <li><a routerLink="/new" (click)="show.header_slideout = false" [class.active]="page==='/new'">New Music</a></li>
                <li><a routerLink="/releases" (click)="show.header_slideout = false" [class.active]="page==='/releases'">All Music</a></li>
                <li><a routerLink="/advanced" (click)="show.header_slideout = false" [class.active]="page==='/advanced'">Search Music</a></li>
            </ul>
            <h2>Account Options</h2>
            <ul>
                <li><a routerLink="/signup" (click)="show.header_slideout = false" *ngIf="!isLoggedIn">Sign Up</a></li>
                <li><a href="" (click)="openRenew($event)" (click)="show.header_slideout = false" *ngIf="!isLoggedIn">Renew Your Account</a></li>
                <li><a routerLink="/account" (click)="show.header_slideout = false" *ngIf="isLoggedIn">My Account</a></li>
                <li><a href="mailto: submissions@latenightrecordpool.com">Submit Music</a></li>
            </ul>
            <div class="social-section clearfix">
                <a href="https://twitter.com/lnrecordpool" target="_blank" class="social-icon twitter">Twitter</a>
                <a href="https://www.instagram.com/latenightrecordpool/" target="_blank" class="social-icon instagram">Instagram</a>
                <a href="https://www.facebook.com/Late-Night-Record-Pool-100690459982566/" target="_blank" class="social-icon facebook">Facebook</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <!-- new style menu -->
    <section class="header-mobile-menu visible-xs" [ngClass]="{'menu-out': !show.header_slideout, 'menu-in': show.header_slideout}" *ngIf="!isDesktop">
        <div class="menu-container">
            <div class="menu-header">
                <div class="menu-logo">
                    <div class="menu-label">
                        MENU
                    </div>
                </div>
                <div class="menu-close" (click)="show.header_slideout = false"></div>
            </div>
            <div class="menu-contents">
                <ul class="menu-list">
                    <li><a routerLink="/" (click)="goLink('/')" [class.active]="page==='/'">Home</a></li>
                    <li><a (click)="goLink('front-features-mobile')">Features & Benefits</a></li>
                    <li><a (click)="goLink('front-plans')">Plans & Pricing</a></li>
                    <li><a routerLink="/signup" (click)="show.header_slideout = false" [class.active]="page==='/signup'">Sign Up</a></li>
                    <li><a (click)="goLink('front-contactus')">Contact Us</a></li>
                    <li><a (click)="toggleDesktop($event)">Desktop Version</a></li>
                </ul>
                <div class="menu-social">
                    <a href="https://twitter.com/lnrecordpool" target="_blank" class="social-icon twitter">Twitter</a>
                    <a href="https://www.instagram.com/latenightrecordpool/" target="_blank" class="social-icon instagram">Instagram</a>
                    <a href="https://www.facebook.com/Late-Night-Record-Pool-100690459982566/" target="_blank" class="social-icon facebook">Facebook</a>
                </div>    
            </div>
        </div>
        <div class="overlay"></div>
    </section>
</header>
<div class="header-sticky-background-overlay" *ngIf="show['header_sticky'] && (show['header_search'] || show['header_slideout'])"></div>
