<section class="dj-profile">
  <div class="container">
    <div class="header">
      <h2 class="title">Complete DJ Profile</h2>
      <p class="info">Fill out the Optional Information below</p>
    </div>
    <form class="contents">
      <div class="column">
        <div class="form-group clearfix equipment">
          <label class="control-label">Equipment Used</label>
          <div class="checkbox col-lg-8 px-0">
            <label class="chk-button w-50">
              <input type="checkbox" name="equipment_mac" value="true" [(ngModel)]="user.equipment_mac" />
              MAC
            </label>
            <label class="chk-button w-50">
              <input type="checkbox" name="equipment_pc" value="true" [(ngModel)]="user.equipment_pc" />
              PC
            </label>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="control-label" for="profile-software">Software Used</label>
          <textarea class="form-control" name="profile-software" id="profile-software" rows="4"
            [(ngModel)]="user.software"></textarea>
        </div>
        <div class="form-group clearfix">
          <label class="control-label" for="profile_controller">Controller Used</label>
          <textarea class="form-control" name="profile_controller" id="profile_controller" rows="4"
            [(ngModel)]="user.controller"></textarea>
        </div>
        <div class="form-group clearfix dj-type">
          <label class="control-label">What type of DJ are you?</label>
          <div class="checkbox">
            <label class="chk-button">
              <input type="checkbox" name="profile_type_radio" [(ngModel)]="user.radiostation" />
              Radio
            </label>
          </div>
          <div class="sub-questions" *ngIf="user.radiostation">
            <div class="form-group">
              <label>BDS Monitored?</label>
              <div class="checkbox">
                <label class="chk-button col-xs-3">
                  <input type="radio" name="profile_radio_bds" value="yes" [(ngModel)]="user.bds" />
                  Yes
                </label>
                <label class="chk-button col-xs-3">
                  <input type="radio" name="profile_radio_bds" value="no" [(ngModel)]="user.bds" />
                  No
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>Mediabase Monitored?</label>
              <div class="checkbox">
                <label class="chk-button col-xs-3">
                  <input type="radio" name="profile_radio_mediabase" value="yes" [(ngModel)]="user.media" />
                  Yes
                </label>
                <label class="chk-button col-xs-3">
                  <input type="radio" name="profile_radio_mediabase" value="no" [(ngModel)]="user.media" />
                  No
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="profile_radio_call">Call Letters</label>
              <input type="text" class="form-control" id="profile_radio_call" name="profile_radio_call"
                [(ngModel)]="user.callletters" />
            </div>
            <div class="form-group">
              <label for="profile_radio_name">Show Name</label>
              <input type="text" class="form-control" id="profile_radio_name" name="profile_radio_name"
                [(ngModel)]="user.showname" />
            </div>
            <div class="form-group">
              <label for="profile_radio_time">Show Time</label>
              <input type="text" class="form-control" id="profile_radio_time" name="profile_radio_time"
                [(ngModel)]="user.showtime" />
            </div>
            <div class="form-group">
              <label for="profile_radio_director">Program Director</label>
              <input type="text" class="form-control" id="profile_radio_director" name="profile_radio_director"
                [(ngModel)]="user.programdirector" />
            </div>
            <div class="form-group">
              <label for="profile_radio_pd_phone">PD/MD Phone Number</label>
              <input type="text" class="form-control" id="profile_radio_pd_phone" name="profile_radio_pd_phone"
                [(ngModel)]="user.pdmdphone" />
            </div>
            <div class="form-group">
              <label for="profile_radio_pd_email">PD/MD Email Address</label>
              <input type="text" class="form-control" id="profile_radio_pd_email" name="profile_radio_pd_email"
                [(ngModel)]="user.pdmdemail" />
            </div>
          </div>

          <div class="checkbox">
            <label class="chk-button">
              <input type="checkbox" name="profile_type_club" [(ngModel)]="user.club" />
              Club
            </label>
          </div>
          <div class="sub-questions" *ngIf="user.club">
            <div class="form-group">
              <label for="profile_club_name">Club Name</label>
              <input type="text" class="form-control" id="profile_club_name" name="profile_club_name"
                [(ngModel)]="user.clubname" />
            </div>
            <div class="form-group">
              <label for="profile_club_nights">Nights You Spin</label>
              <input type="text" class="form-control" id="profile_club_nights" name="profile_club_nights"
                [(ngModel)]="user.clubnights" />
            </div>
            <div class="form-group">
              <label for="profile_club_times">Times You Spin</label>
              <input type="text" class="form-control" id="profile_club_times" name="profile_club_times"
                [(ngModel)]="user.clubtimes" />
            </div>
          </div>

          <div class="checkbox">
            <label class="chk-button">
              <input type="checkbox" name="profile_type_house" [(ngModel)]="user.house" />
              House
            </label>
          </div>

          <div class="checkbox">
            <label class="chk-button">
              <input type="checkbox" name="profile_type_festival" [(ngModel)]="user.festival" />
              Festival
            </label>
          </div>
          <div class="sub-questions" *ngIf="user.festival">
            <div class="form-group">
              <label for="profile_festival_worked">Notable Festivals You've Worked</label>
              <input type="text" class="form-control" id="profile_festival_worked" name="profile_festival_worked"
                [(ngModel)]="user.festivalworked" />
            </div>
          </div>

          <div class="checkbox">
            <label class="chk-button">
              <!-- <input type="checkbox" name="profile_type_bedroom" [(ngModel)]="user.bedroom" /> -->
              <input type="checkbox" name="profile_type_bedroom" />
              Bedroom DJ
            </label>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="form-group clearfix">
          <label class="control-label" for="profile-influence">What has influenced you as a DJ?</label>
          <textarea class="form-control" name="profile-influence" id="profile-influence" rows="4"
            [(ngModel)]="user.influences"></textarea>
        </div>
        <div class="form-group clearfix">
          <label for="profile_top_genres">Top 5 Genres You're Looking For</label>
          <input type="text" class="form-control" id="profile_top_genres" name="profile_top_genres"
            [(ngModel)]="user.topgenres" />
        </div>
        <div class="form-group clearfix">
          <label for="profile_top_artists">Top 5 Artists or Groups</label>
          <input type="text" class="form-control" id="profile_top_artists" name="profile_top_artists"
            [(ngModel)]="user.topartists" />
        </div>
        <div class="form-group clearfix">
          <label for="profile_top_producers">Top 5 Producers</label>
          <input type="text" class="form-control" id="profile_top_producers" name="profile_top_producers"
            [(ngModel)]="user.topproducers" />
        </div>
        <div class="form-group clearfix">
          <label for="profile_top_albums">Top 5 Desert Island Albums</label>
          <input type="text" class="form-control" id="profile_top_albums" name="profile_top_albums"
            [(ngModel)]="user.desertisland" />
        </div>
      </div>
    </form>
    <div class="btn-done">
      <button class="btn-bg-blue btn-opt-out" [disabled]="submitted" (click)="userOptOutOfProfile()">Don't Show Me Again</button>
      <button class="btn-bg-blue" [disabled]="submitted" (click)="updateUser()">Save</button>
    </div>
  </div>
</section>