<section class="pricing hidden-xs">
    <div class="header">
        <div class="container">
            <h1>Plans &amp; Pricing</h1>
            <h3>Sign up today for unlimited access to the best DJ resource on the web</h3>
        </div>
    </div>
    <div class="plans">
        <div class="container">
            <div class="plans-container">
                <div class="plan monthly">
                    <div class="content">
                        <div class="most-popular">Most Popular</div>
                        <h3>Monthly Plan</h3>
                        <div class="price">$47 per month</div>
                        <div class="year-container">
                            <div class="year">$565 total per year</div>
                        </div>
                        <button class="yellow" (click)="onGoSignup(signup, 'monthlySignup')">Sign Up Now</button>
                    </div>
                    <div class="overlay"></div>
                    <div class="background"></div>
                </div>
                <div class="plan quarterly">
                    <div class="content">
                        <h3>Quarterly Plan</h3>
                        <div class="price">$127 every 3 months</div>
                        <div class="year-container">
                            <div class="year">Save 10% over the monthly plan</div>
                        </div>
                        <button class="yellow" (click)="onGoSignup(signup, 'quarterlySignup')">Sign Up Now</button>
                    </div>
                    <div class="overlay"></div>
                    <div class="background"></div>
                </div>
                <div class="plan half">
                    <div class="content">
                        <h3>6 Month Plan</h3>
                        <div class="price">$227 every 6 months</div>
                        <div class="year-container">
                            <div class="year">Save 20% over the monthly plan</div>
                        </div>
                        <button class="yellow" (click)="onGoSignup(signup, '6monthSignup')">Sign Up Now</button>
                    </div>
                    <div class="overlay"></div>
                    <div class="background"></div>
                </div>
                <div class="plan year">
                    <div class="pricing-badge visible-lg">
                        Best Savings
                    </div>
                    <div class="content">
                        <h3>Yearly Plan</h3>
                        <div class="price">$397 every year</div>
                        <div class="year-container">
                            <div class="year">Save 30% over the monthly plan</div>
                        </div>
                        <button class="yellow" (click)="onGoSignup(signup, 'createAccount')">Sign Up Now</button>
                    </div>
                    <div class="overlay"></div>
                    <div class="background"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <h1>Features &amp; Benefits</h1>

            <div class="features-container">
                <div class="feature-item">
                    <div class="icon curated"></div>
                    <h5>Professionally Curated</h5>
                    <p>Our releases contain high quality MP3 downloads with clean, dirty, accapella, and instrumental versions included</p>
                </div>
                <div class="feature-item">
                    <div class="icon variety"></div>
                    <h5>Great Variety</h5>
                    <p>Tons of releases from all over the musical spectrum, from R&amp;B to Reggae to Country</p>
                </div>
                <div class="feature-item">
                    <div class="icon downloads"></div>
                    <h5>ZIP Downloads</h5>
                    <p>Every version for every release is available for download, or you can grab the entire release in on convenient ZIP file</p>
                </div>
                <div class="feature-item">
                    <div class="icon releases"></div>
                    <h5>10,000+ Releases</h5>
                    <p>Our collection of music is huge and keeps growing every day</p>
                </div>
                <div class="feature-item">
                    <div class="icon selection"></div>
                    <h5>Throwbacks</h5>
                    <p>We have the largest collection of Old School Throwback songs of any site out there</p>
                </div>
                <div class="feature-item">
                    <div class="icon search"></div>
                    <h5>Pinpoint Search</h5>
                    <p>Search our extensive library with artist, titles, genres, even labels and BPM</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="front-labels" class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h1>Music by Labels</h1>
                <h6>The LNRP library has official releases from every major label and many<br />of the indie labels you know and love</h6>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <div class="labels-box row">
            <a (click)="setLabel('Atlantic')" class="label-item atlantic">Atlantic Records</a>
            <a (click)="setLabel('Spinnin')" class="label-item spinnin">Spinnin Records</a>
            <a (click)="setLabel('Ultra')" class="label-item ultra">Ultra Records</a>
            <a (click)="setLabel('Republic')" class="label-item republic">Republic Records</a>
            <a (click)="setLabel('RCA')" class="label-item rca">RCA Records</a>
            <a (click)="setLabel('Universal')" class="label-item universal">Universal Records</a>
            <a (click)="setLabel('Sony')" class="label-item sony">Sony Music</a>
            <a (click)="setLabel('Capitol')" class="label-item capitol">Capitol Records</a>
            <a (click)="setLabel('Interscope')" class="label-item interscope">Interscope Records</a>
            <a (click)="setLabel('Jive')" class="label-item jive">Jive Records</a>
            <a (click)="setLabel('Def Jam')" class="label-item def-jam">Def Jam Records</a>
            <a (click)="setLabel('Columbia')" class="label-item columbia">Columbia Records</a>
        </div>
    </div>
</section>
<div style="height: 75px;" #signup [ngClass]="{'hidden-xs': !isDesktop}"></div>
<section class="signup" [ngClass]="{'hidden-xs': !isDesktop}">
    <div class="header">
        <div class="container">
            <h1>Account Signup</h1>
            <h3>Fill out the information below to create an account</h3>
        </div>
    </div>
    <div class="signup-progress visible-lg">
        <div class="container">
            <div
                class="signup-progress-bar"
                [class.progress-1]="current_page == 1"
                [class.progress-2]="current_page == 2"
                [class.progress-3]="current_page == 3"
                [class.progress-4]="current_page >= 4" >
                <div class="signup-title title-1" [class.current]="current_page == 1" [class.complete]="current_page > 1">Account</div>
                <div class="signup-title title-2" [class.current]="current_page == 2" [class.complete]="current_page > 2">DJ Information</div>
                <div class="signup-title title-3" [class.current]="current_page == 3" [class.complete]="current_page > 3">Optional</div>
                <div class="signup-title title-4" [class.current]="current_page == 4" [class.complete]="current_page > 4">Payment</div>
            </div>
        </div>
    </div>
    <div class="form section-1" *ngIf="current_page === 1">
        <form [formGroup]="accountForm" class="form-horizontal">
            <div class="container">
                <div class="alert alert-warning text-center col-xs-6 col-xs-offset-3" role="alert">
                    <p>Do you want to renew your previous account?<br /><a (click)="openRenewModal($event)">Click here</a> to renew your account</p>
                </div>
                <h3 class="text-center hidden-lg">Account Information</h3>
                <div class="col-lg-6">
                    <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['name'].pristine) && accountForm.controls['name'].invalid">
                        <label class="control-label col-lg-3" for="signup_name">
                            Your Name
                        </label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_name" name="signup_name" [(ngModel)]="userAccount.name" [formControl]="accountForm.controls['name']" />
                            <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['name'].pristine) && accountForm.controls['name'].invalid">{{ errors['name.required'] }}</span>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['djname'].pristine) && accountForm.controls['djname'].invalid">
                        <label class="control-label col-lg-3" for="signup_djname">
                            DJ Name
                        </label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_djname" name="signup_djname" [(ngModel)]="userAccount.djname" [formControl]="accountForm.controls['djname']" />
                            <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['djname'].pristine) && accountForm.controls['djname'].invalid">{{ errors['djname.required'] }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_address">Address</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_address" name="signup_address" [(ngModel)]="userAccount.address" [formControl]="accountForm.controls['address']" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_city">City</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_city" name="signup_city" [(ngModel)]="userAccount.city" [formControl]="accountForm.controls['city']" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_name">State</label>
                        <div class="col-lg-9">
                            <select name="signup_state" [(ngModel)]="userAccount.state" [formControl]="accountForm.controls['state']" class="form-control">
                                <option *ngFor="let s of states" [value]="s.abbreviation">{{ s.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_zip">Zip Code</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_zip" name="signup_zip" [(ngModel)]="userAccount.zip" [formControl]="accountForm.controls['zip']" />
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['username'].pristine) && accountForm.controls['username'].invalid">
                        <label class="control-label col-lg-3" for="signup_username">
                            Username
                        </label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_username" name="signup_username" [(ngModel)]="userAccount.username" [formControl]="accountForm.controls['username']" />
                            <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['username'].pristine) && accountForm.controls['username'].invalid">{{ errors['username.required'] }}</span>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['password'].pristine) && accountForm.controls['password'].invalid">
                        <label class="control-label col-lg-3" for="signup_password">
                            Password
                        </label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_password" name="signup_password" [(ngModel)]="userAccount.password" [formControl]="accountForm.controls['password']" />
                            <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['password'].pristine) && accountForm.controls['password'].invalid && accountForm.controls['password'].errors.required">{{ errors['password.required'] }}</span>
                            <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['password'].pristine) && accountForm.controls['password'].invalid && accountForm.controls['password'].errors.minlength">{{ errors['password.minlength'] }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['phone'].pristine) && accountForm.controls['phone'].invalid">
                        <label class="control-label col-lg-3" for="signup_phone">
                            Phone Number
                        </label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_phone" name="signup_phone" [(ngModel)]="userAccount.phone" [formControl]="accountForm.controls['phone']" />
                            <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['phone'].pristine) && accountForm.controls['phone'].invalid">{{ errors['phone.required'] }}</span>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['email'].pristine) && accountForm.controls['email'].invalid">
                        <label class="control-label col-lg-3" for="signup_email">
                            Email
                        </label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_email" name="signup_email" [(ngModel)]="userAccount.email" [formControl]="accountForm.controls['email']" />
                            <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['email'].pristine) && accountForm.controls['email'].invalid && accountForm.controls['email'].errors.required">{{ errors['email.required'] }}</span>
                            <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['email'].pristine) && accountForm.controls['email'].invalid && accountForm.controls['email'].errors.pattern">{{ errors['email.pattern'] }}</span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': social_link_required}">
                        <label class="control-label col-lg-3" for="signup_facebook">Facebook</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_facebook" name="signup_facebook" [(ngModel)]="userAccount.facebook" [formControl]="accountForm.controls['facebook']" (focus)="focusedInputField()" />
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': social_link_required}">
                        <label class="control-label col-lg-3" for="signup_twitter">Twitter</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_twitter" name="signup_twitter" [(ngModel)]="userAccount.twitter" [formControl]="accountForm.controls['twitter']" (focus)="focusedInputField()" />
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': social_link_required}">
                        <label class="control-label col-lg-3" for="signup_youtube">YouTube</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_youtube" name="signup_youtube" [(ngModel)]="userAccount.youtube" [formControl]="accountForm.controls['youtube']" (focus)="focusedInputField()" />
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': social_link_required}">
                        <label class="control-label col-lg-3" for="signup_soundcloud">Soundcloud</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_soundcloud" name="signup_soundcloud" [(ngModel)]="userAccount.soundcloud" [formControl]="accountForm.controls['soundcloud']" (focus)="focusedInputField()" />
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': social_link_required}">
                        <label class="control-label col-lg-3" for="signup_instagram">Instagram</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_instagram" name="signup_instagram" [(ngModel)]="userAccount.instagram" [formControl]="accountForm.controls['instagram']" (focus)="focusedInputField()" />
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': social_link_required}">
                        <label class="control-label col-lg-3" for="signup_website">Website</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_website" name="signup_website" [(ngModel)]="userAccount.website" [formControl]="accountForm.controls['website']" (focus)="focusedInputField()" />
                            <span class="error help-block" *ngIf="social_link_required">{{ errors['social.required'] }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form section-2" *ngIf="current_page === 2">
        <form [formGroup]="djForm" class="form-horizontal">
            <div class="container">
                <h3 class="text-center hidden-lg">DJ Information</h3>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-lg-3">Equipment Used</label>
                        <div class="col-lg-9">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="signup_equipment_mac" value="true" [(ngModel)]="userAccount.equipment_mac" [formControl]="djForm.controls['equipmentMac']" />
                                Mac
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="signup_equipment_pc" value="true" [(ngModel)]="userAccount.equipment_pc" [formControl]="djForm.controls['equipmentPC']" />
                                PC
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="signup_equipment_turntables" value="true" [(ngModel)]="userAccount.equipment_turntables" [formControl]="djForm.controls['equipmentTurntables']" />
                                Turntables
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_software">Software Used</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" name="signup_software" id="signup_software" rows="3" [(ngModel)]="userAccount.software" [formControl]="djForm.controls['software']"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_controller">Controller Used</label>
                        <div class="col-lg-9">
                            <textarea class="form-control" name="signup_controller" id="signup_controller" rows="3" [(ngModel)]="userAccount.controller" [formControl]="djForm.controls['controller']"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3">What type of DJ are you?</label>
                        <div class="col-lg-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="signup_type_radio" [(ngModel)]="userAccount.radiostation" [formControl]="djForm.controls['typeRadio']" />
                                    Radio
                                </label>
                            </div>
                            <div class="sub-questions" *ngIf="djForm.controls['typeRadio'].value">
                                <div class="form-group">
                                    <label class="col-lg-12">BDS Monitored?</label>
                                    <div class="col-lg-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="signup_radio_bds" value="yes" [(ngModel)]="userAccount.bds" [formControl]="djForm.controls['radioBDS']" />
                                            Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="signup_radio_bds" value="no" [(ngModel)]="userAccount.bds" [formControl]="djForm.controls['radioBDS']" />
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-12">Mediabase Monitored?</label>
                                    <div class="col-lg-12">
                                        <label class="radio-inline">
                                            <input type="radio" name="signup_radio_mediabase" value="yes" [(ngModel)]="userAccount.media" [formControl]="djForm.controls['radioMediabase']" />
                                            Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="signup_radio_mediabase" value="no" [(ngModel)]="userAccount.media" [formControl]="djForm.controls['radioMediabase']" />
                                            No
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-12" for="signup_radio_call">Call Letters</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="signup_radio_call" name="signup_radio_call" [(ngModel)]="userAccount.callletters" [formControl]="djForm.controls['radioCall']" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-12" for="signup_radio_name">Show Name</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="signup_radio_name" name="signup_radio_name" [(ngModel)]="userAccount.showname" [formControl]="djForm.controls['radioName']" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-12" for="signup_radio_time">Show Time</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="signup_radio_time" name="signup_radio_time" [(ngModel)]="userAccount.showtime" [formControl]="djForm.controls['radioTime']" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-12" for="signup_radio_director">Program Director</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="signup_radio_director" name="signup_radio_director" [(ngModel)]="userAccount.programdirector" [formControl]="djForm.controls['radioPD']" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-12" for="signup_radio_pd_phone">PD/MD Phone Number</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="signup_radio_pd_phone" name="signup_radio_pd_phone" [(ngModel)]="userAccount.pdmdphone" [formControl]="djForm.controls['radioPDPhone']" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-12" for="signup_radio_pd_email">PD/MD Email Address</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="signup_radio_pd_email" name="signup_radio_pd_email" [(ngModel)]="userAccount.pdmdemail" [formControl]="djForm.controls['radioPDEmail']" />
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="signup_type_club" [(ngModel)]="userAccount.club" [formControl]="djForm.controls['typeClub']" />
                                    Club
                                </label>
                            </div>
                            <div class="sub-questions" *ngIf="djForm.controls['typeClub'].value">
                                <div class="form-group">
                                    <label class="col-lg-12" for="signup_club_name">Club Name</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="signup_club_name" name="signup_club_name" [(ngModel)]="userAccount.clubname" [formControl]="djForm.controls['clubName']" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-12" for="signup_club_nights">Nights You Spin</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="signup_club_nights" name="signup_club_nights" [(ngModel)]="userAccount.clubnights" [formControl]="djForm.controls['clubNights']" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-12" for="signup_club_times">Times You Spin</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="signup_club_times" name="signup_club_times" [(ngModel)]="userAccount.clubtimes" [formControl]="djForm.controls['clubTimes']" />
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="signup_type_house" [(ngModel)]="userAccount.house" [formControl]="djForm.controls['typeHouse']" />
                                    House
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="signup_type_festival" [(ngModel)]="userAccount.festival" [formControl]="djForm.controls['typeFestival']" />
                                    Festival
                                </label>
                            </div>
                            <div class="sub-questions" *ngIf="djForm.controls['typeFestival'].value">
                                <div class="form-group">
                                    <label class="col-lg-12" for="signup_festival_worked">Notable Festivals You've Worked</label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="signup_festival_worked" name="signup_festival_worked" [(ngModel)]="userAccount.festivalworked" [formControl]="djForm.controls['festivalWorked']" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form section-3" *ngIf="current_page === 3">
        <form [formGroup]="optionalForm" class="form-horizontal">
            <div class="container">
                <h3 class="text-center hidden-lg">Optional Information</h3>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_top_genres">Top 5 Genres You're Looking For</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_top_genres" name="signup_top_genres" [(ngModel)]="userAccount.topgenres" [formControl]="optionalForm.controls['top_genres']" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_top_artists">Top 5 Artists or Groups</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_top_artists" name="signup_top_artists" [(ngModel)]="userAccount.topartists" [formControl]="optionalForm.controls['top_artists']" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_top_producers">Top 5 Producers</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_top_producers" name="signup_top_producers" [(ngModel)]="userAccount.topproducers" [formControl]="optionalForm.controls['top_producers']" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_influences">What has influenced you as a DJ?</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_influences" name="signup_influences" [(ngModel)]="userAccount.influences" [formControl]="optionalForm.controls['influences']" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="signup_top_desert_island">Top 5 Desert Island Albums</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="signup_top_desert_island" name="signup_top_desert_island" [(ngModel)]="userAccount.desertisland" [formControl]="optionalForm.controls['top_desert_island']" />
                        </div>
                    </div>
                    <div class="form-group">
                        <h2>How did you hear about us?</h2>
                        <div class="checkbox col-xs-4">
                            <label>
                                <input type="radio" name="signup_find" value="referral" [(ngModel)]="userAccount.referral_type" [formControl]="optionalForm.controls['find']" />
                                Referred By
                            </label>
                        </div>
                        <div class="checkbox col-xs-4">
                            <label>
                                <input type="radio" name="signup_find" value="search" [(ngModel)]="userAccount.referral_type" [formControl]="optionalForm.controls['find']" />
                                Search Engine
                            </label>
                        </div>
                        <div class="checkbox col-xs-4">
                            <label>
                                <input type="radio" name="signup_find" value="facebook" [(ngModel)]="userAccount.referral_type" [formControl]="optionalForm.controls['find']" />
                                Facebook
                            </label>
                        </div>
                        <div class="checkbox col-xs-4">
                            <label>
                                <input type="radio" name="signup_find" value="friend" [(ngModel)]="userAccount.referral_type" [formControl]="optionalForm.controls['find']" />
                                Friend
                            </label>
                        </div>
                        <div class="checkbox col-xs-4">
                            <label>
                                <input type="radio" name="signup_find" value="board" [(ngModel)]="userAccount.referral_type" [formControl]="optionalForm.controls['find']" />
                                Message Board
                            </label>
                        </div>
                        <div class="checkbox col-xs-4">
                            <label>
                                <input type="radio" name="signup_find" value="none" [(ngModel)]="userAccount.referral_type" [formControl]="optionalForm.controls['find']" checked />
                                None
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" *ngIf="optionalForm.controls['find']['value'] === 'referral'">
                        <input type="text" placeholder="Who referred you?" class="form-control" name="signup_find_referral_name" [(ngModel)]="userAccount.referral_value" [formControl]="optionalForm.controls['referral']" />
                    </div>
                    <div class="form-group col-xs-12" *ngIf="optionalForm.controls['find']['value'] === 'board'">
                        <input type="text" placeholder="What message board?" class="form-control" name="signup_find_board_name" [(ngModel)]="userAccount.referral_value" [formControl]="optionalForm.controls['board']" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form section-4" *ngIf="current_page === 4">
        <form [formGroup]="paymentForm">
            <div class="container">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="form-group clearfix">
                        <label class="control-label col-lg-3">Payment Method</label>
                        <div class="col-lg-9">
                            <label class="radio-inline">
                                <input type="radio" name="signup_payment_method" value="Stripe" [(ngModel)]="userAccount.payment_type" [formControl]="paymentForm.controls['paymentType']" />
                                <img src="assets/img/payment-credit.png" />
                            </label>
                        </div>
                        <div class="col-xs-9 col-xs-offset-3">
                            <label class="radio-inline">
                                <input type="radio" name="signup_payment_method" value="Paypal" [(ngModel)]="userAccount.payment_type" [formControl]="paymentForm.controls['paymentType']" />
                                <img src="assets/img/payment-paypal.jpg" />
                            </label>
                        </div>
                    </div>
                    <div *ngIf="userAccount.payment_type === 'Stripe'">
                        <div class="form-group">
                            <label class="control-label" for="payment_subscription">Subscription</label>
                            <select class="form-control" name="subscription" id="payment_subscription" [(ngModel)]="userAccount.subscription" [formControl]="paymentForm.controls['subscription']">
                                <option value="{{customBilling.stripe_id}}" *ngIf="isNewBilling">{{customBilling.stripe_title}}</option>
                                <option value="lnrp_monthly" *ngIf="!isNewBilling">Per Month - $47 every month</option>
                                <option value="lnrp_quarterly" *ngIf="!isNewBilling">Quarter - $127 every 3 months</option>
                                <option value="lnrp_halfyear" *ngIf="!isNewBilling">Half-Year - $227 every 6 months</option>
                                <option value="lnrp_yearly" *ngIf="!isNewBilling">Full-Year - $397 every year</option>
                            </select>
                        </div>
                        <div class="form-group" [class.has-error]="(page_submitted || !paymentForm.controls['cardNumber'].pristine) && paymentForm.controls['cardNumber'].invalid">
                            <label class="control-label" for="signup_card_number">Card Number</label>
                            <input type="text" class="form-control" id="signup_card_number" name="signup_card_number" [(ngModel)]="creditCard.cardNumber" [formControl]="paymentForm.controls['cardNumber']" />
                            <span class="error help-block" *ngIf="(page_submitted || !paymentForm.controls['cardNumber'].pristine) && paymentForm.controls['cardNumber'].invalid">{{ errors['card.number.required'] }}</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 no-padding-left no-padding-right" for="payment_expiration">Card Expiration</label>
                            <div class="col-lg-6 no-padding-left">
                                <select id="signup_payment_expiration_month" name="signup_payment_expiration_month" class="form-control" [(ngModel)]="creditCard.cardExpMonth" [formControl]="paymentForm.controls['cardExpMonth']">
                                    <option value="01">Jan</option>
                                    <option value="02">Feb</option>
                                    <option value="03">Mar</option>
                                    <option value="04">Apr</option>
                                    <option value="05">May</option>
                                    <option value="06">Jun</option>
                                    <option value="07">Jul</option>
                                    <option value="08">Aug</option>
                                    <option value="09">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                            </div>
                            <div class="col-lg-6 no-padding-right">
                                <select name="signup_payment_expiration_year" id="signup_payment_expiration_year" class="form-control" [(ngModel)]="creditCard.cardExpYear" [formControl]="paymentForm.controls['cardExpYear']">
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                    <option>2022</option>
                                    <option>2023</option>
                                    <option>2024</option>
                                    <option>2025</option>
                                    <option>2026</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" [class.has-error]="(page_submitted || !paymentForm.controls['cardCVV'].pristine) && paymentForm.controls['cardCVV'].invalid">
                            <label class="control-label" for="signup_card_cvv">CVV Number</label>
                            <input type="text" class="form-control" id="signup_card_cvv" name="signup_card_cvv" [(ngModel)]="creditCard.cardCVV" [formControl]="paymentForm.controls['cardCVV']" />
                            <span class="error help-block" *ngIf="(page_submitted || !paymentForm.controls['cardCVV'].pristine) && paymentForm.controls['cardCVV'].invalid">{{ errors['card.cvv.required'] }}</span>
                            <span class="help-block">(On the back of your card)</span>
                        </div>
                        <div class="form-group" [class.has-error]="(page_submitted || !paymentForm.controls['cardZip'].pristine) && paymentForm.controls['cardZip'].invalid">
                            <label class="control-label" for="signup_card_zip">Zip Code</label>
                            <input type="text" class="form-control" id="signup_card_zip" name="signup_card_zip" [(ngModel)]="creditCard.cardZip" [formControl]="paymentForm.controls['cardZip']" />
                            <span class="error help-block" *ngIf="(page_submitted || !paymentForm.controls['cardZip'].pristine) && paymentForm.controls['cardZip'].invalid">{{ errors['card.zip.required'] }}</span>
                        </div>
                    </div>

                    <div class="form-group paypal-group" *ngIf="userAccount.payment_type === 'Paypal'">
                        <h3 class="text-center">Choose a subscription plan</h3>
                        <h5 class="text-center">Once your subscription is set up, your account will be approved and ready</h5>

                        <div class="row paypal-subscriptons">
                            <div class="subscription-plan col-lg-3 text-center" *ngIf="isNewBilling && customBilling.paypal_code === ''">
                                <h4>{{customBilling.paypal_title}}</h4>
                                <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                    <input type="hidden" name="cmd" value="_s-xclick" />
                                    <input type="hidden" name="hosted_button_id" value="{{customBilling.paypal_id}}" />
                                    <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                                </form>
                            </div>

                            <div class="subscription-plan col-lg-3 text-center" *ngIf="isNewBilling && customBilling.paypal_code != ''">
                                <h4>{{customBilling.paypal_title}}</h4>
                                {{customBilling.paypal_code}}
                            </div>

                            <div class="subscription-plan col-lg-3 text-center" *ngIf="!isNewBilling">
                                <h4>1 Month<br />$47</h4>
                                <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                    <input type="hidden" name="cmd" value="_s-xclick" />
                                    <input type="hidden" name="hosted_button_id" value="ZFMN3VGSUVPUQ" />
                                    <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                                </form>
                            </div>

                            <div class="subscription-plan col-lg-3 text-center" *ngIf="!isNewBilling">
                                <h4>3 Months<br />$127</h4>
                                <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                    <input type="hidden" name="cmd" value="_s-xclick" />
                                    <input type="hidden" name="hosted_button_id" value="ZF466PS8HK6Z6" />
                                    <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                                </form>
                            </div>

                            <div class="subscription-plan col-lg-3 text-center" *ngIf="!isNewBilling">
                                <h4>6 Months<br />$227</h4>
                                <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                    <input type="hidden" name="cmd" value="_s-xclick" />
                                    <input type="hidden" name="hosted_button_id" value="GSPPYFBJPC5A6" />
                                    <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                                </form>
                            </div>

                            <div class="subscription-plan col-lg-3 text-center" *ngIf="!isNewBilling">
                                <h4>1 Year<br />$397</h4>
                                <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                    <input type="hidden" name="cmd" value="_s-xclick" />
                                    <input type="hidden" name="hosted_button_id" value="KLPWRU55BNQ7G" />
                                    <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="buttons form-horizontal">
        <div class="container" *ngIf="current_page === 1">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-lg-3" for="promo_code">
                        Promo Code
                    </label>
                    <div class="col-lg-9">
                        <input type="text" id="promo_code" name="promo_code" [(ngModel)]="promoCode" class="promo-code"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <button class="button-blue-background" *ngIf="current_page < 4" (click)="nextPage()">Next</button><br *ngIf="current_page < 4" />
            <button class="button-gold" *ngIf="current_page >= 4 && userAccount.payment_type !== 'Paypal'" (click)="completeSignup()">Create Account</button><br *ngIf="current_page >= 4" />
            <br />
            <a (click)="previousPage($event)" *ngIf="current_page > 1">Back</a>
        </div>
    </div>
</section>

<section class="signup visible-xs signup-mobile" [ngClass]="{'hidden': isDesktop}">
    <div class="header">
        <div class="container">
            <h1 *ngIf="current_page === 1">Account Signup - Step 1 of 2</h1>
            <h1 *ngIf="current_page === 2">Payment Information - Step 2 of 2</h1>
            <h1 *ngIf="current_page === 3">Complete DJ Profile</h1>
            <h3 *ngIf="current_page === 1">Fill out the information below to create an account</h3>
            <h3 *ngIf="current_page === 2">Fill out the payment information</h3>
            <h3 *ngIf="current_page === 3">Fill out the information below</h3>
        </div>
    </div>
    <div class="signup-form">
        <form [formGroup]="accountForm" class="form-horizontal" *ngIf="current_page === 1">
            <div class="container">
                <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['username'].pristine) && accountForm.controls['username'].invalid">
                    <label class="control-label" for="mobile_username">
                        Username
                    </label>
                    <input type="text" class="form-control" id="mobile_username" name="mobile_username" [(ngModel)]="userAccount.username" [formControl]="accountForm.controls['username']" />
                    <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['username'].pristine) && accountForm.controls['username'].invalid">{{ errors['username.required'] }}</span>
                </div>
                <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['password'].pristine) && accountForm.controls['password'].invalid">
                    <label class="control-label" for="mobile_password">
                        Password
                    </label>
                    <input type="text" class="form-control" id="mobile_password" name="mobile_password" [(ngModel)]="userAccount.password" [formControl]="accountForm.controls['password']" />
                    <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['password'].pristine) && accountForm.controls['password'].invalid && accountForm.controls['password'].errors.required">{{ errors['password.required'] }}</span>
                    <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['password'].pristine) && accountForm.controls['password'].invalid && accountForm.controls['password'].errors.minlength">{{ errors['password.minlength'] }}</span>
                </div>
                <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['email'].pristine) && accountForm.controls['email'].invalid">
                    <label class="control-label" for="mobile_email">
                        Email
                    </label>
                    <input type="text" class="form-control" id="mobile_email" name="mobile_email" [(ngModel)]="userAccount.email" [formControl]="accountForm.controls['email']" />
                    <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['email'].pristine) && accountForm.controls['email'].invalid && accountForm.controls['email'].errors.required">{{ errors['email.required'] }}</span>
                    <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['email'].pristine) && accountForm.controls['email'].invalid && accountForm.controls['email'].errors.pattern">{{ errors['email.pattern'] }}</span>
                </div>
                <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['name'].pristine) && accountForm.controls['name'].invalid">
                    <label class="control-label" for="mobile_name">
                        Legal Name
                    </label>
                    <input type="text" class="form-control" id="mobile_name" name="mobile_name" [(ngModel)]="userAccount.name" [formControl]="accountForm.controls['name']" />
                    <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['name'].pristine) && accountForm.controls['name'].invalid">{{ errors['name.required'] }}</span>
                </div>
                <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['djname'].pristine) && accountForm.controls['djname'].invalid">
                    <label class="control-label" for="mobile_djname">
                        DJ Name
                    </label>
                    <input type="text" class="form-control" id="mobile_djname" name="mobile_djname" [(ngModel)]="userAccount.djname" [formControl]="accountForm.controls['djname']" />
                    <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['djname'].pristine) && accountForm.controls['djname'].invalid">{{ errors['djname.required'] }}</span>
                </div>
                <div class="form-group" [class.has-error]="(page_submitted || !accountForm.controls['phone'].pristine) && accountForm.controls['phone'].invalid">
                    <label class="control-label" for="mobile_phone">
                        Phone Number
                    </label>
                    <input type="text" class="form-control" id="mobile_phone" name="mobile_phone" [(ngModel)]="userAccount.phone" [formControl]="accountForm.controls['phone']" />
                    <span class="error help-block" *ngIf="(page_submitted || !accountForm.controls['phone'].pristine) && accountForm.controls['phone'].invalid">{{ errors['phone.required'] }}</span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="mobile_address">Address</label>
                    <input type="text" class="form-control" id="mobile_address" name="mobile_address" [(ngModel)]="userAccount.address" [formControl]="accountForm.controls['address']" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="mobile_city">City</label>
                    <input type="text" class="form-control" id="mobile_city" name="mobile_city" [(ngModel)]="userAccount.city" [formControl]="accountForm.controls['city']" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="mobile_state">State</label>
                    <div class="select-group">
                        <select name="mobile_state" id="mobile_state" [(ngModel)]="userAccount.state" [formControl]="accountForm.controls['state']" class="form-control">
                            <option *ngFor="let s of states" [value]="s.abbreviation">{{ s.name }}</option>
                        </select>
                        <div class="select-arrow"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="mobile_zip">Zip</label>
                    <input type="text" class="form-control" id="mobile_zip" name="mobile_zip" [(ngModel)]="userAccount.zip" [formControl]="accountForm.controls['zip']" />
                </div>
                <div class="form-group">
                    <label class="info-label mb-0">At least one of the social fields below are required, otherwise it's very likely that your registration will be declined.</label>
                </div>
                <div class="form-group" [ngClass]="{'has-error': social_link_required}">
                    <label class="control-label" for="mobile_instagram">Instagram</label>
                    <input type="text" class="form-control" id="mobile_instagram" name="mobile_instagram" [(ngModel)]="userAccount.instagram" [formControl]="accountForm.controls['instagram']" (focus)="focusedInputField()" />
                </div>
                <div class="form-group" [ngClass]="{'has-error': social_link_required}">
                    <label class="control-label" for="mobile_facebook">Facebook</label>
                    <input type="text" class="form-control" id="mobile_facebook" name="mobile_facebook" [(ngModel)]="userAccount.facebook" [formControl]="accountForm.controls['facebook']" (focus)="focusedInputField()" />
                </div>
                <div class="form-group" [ngClass]="{'has-error': social_link_required}">
                    <label class="control-label" for="mobile_twitter">Twitter</label>
                    <input type="text" class="form-control" id="mobile_twitter" name="mobile_twitter" [(ngModel)]="userAccount.twitter" [formControl]="accountForm.controls['twitter']" (focus)="focusedInputField()" />
                </div>
                <div class="form-group" [ngClass]="{'has-error': social_link_required}">
                    <label class="control-label" for="mobile_website">Website / Other</label>
                    <input type="text" class="form-control" id="mobile_website" name="mobile_website" [(ngModel)]="userAccount.website" [formControl]="accountForm.controls['website']" (focus)="focusedInputField()" />
                    <span class="error help-block" *ngIf="social_link_required">{{ errors['social.required'] }}</span>
                </div>
                <div class="form-group row">
                    <label class="control-label" *ngIf="!referral_type_required">How did you hear about us?</label>
                    <label class="control-label label-error" *ngIf="referral_type_required">How did you hear about us? *</label>
                    <div class="checkbox col-xs-6">
                        <label class="chk-button" (click)="focusedReferral()">
                            <input type="radio" name="mobile_find" value="referral" [(ngModel)]="userAccount.referral_type" [formControl]="accountForm.controls['find']"/>
                            Referred By
                        </label>
                    </div>
                    <div class="checkbox col-xs-6">
                        <label class="chk-button" (click)="focusedReferral()">
                            <input type="radio" name="mobile_find" value="search" [(ngModel)]="userAccount.referral_type" [formControl]="accountForm.controls['find']"/>
                            Search Engine
                        </label>
                    </div>
                    <div class="checkbox col-xs-6">
                        <label class="chk-button" (click)="focusedReferral()">
                            <input type="radio" name="mobile_find" value="friend" [(ngModel)]="userAccount.referral_type" [formControl]="accountForm.controls['find']"/>
                            Friend
                        </label>
                    </div>
                    <div class="checkbox col-xs-6">
                        <label class="chk-button" (click)="focusedReferral()">
                            <input type="radio" name="mobile_find" value="board" [(ngModel)]="userAccount.referral_type" [formControl]="accountForm.controls['find']"/>
                            Message Board
                        </label>
                    </div>    
                    <div class="checkbox col-xs-6">
                        <label class="chk-button" (click)="focusedReferral()">
                            <input type="radio" name="mobile_find" value="facebook" [(ngModel)]="userAccount.referral_type" [formControl]="accountForm.controls['find']"/>
                            Facebook
                        </label>
                    </div>
                    <div class="checkbox col-xs-6">
                        <label class="chk-button" (click)="focusedReferral()">
                            <input type="radio" name="mobile_find" value="instagram" [(ngModel)]="userAccount.referral_type" [formControl]="accountForm.controls['find']"/>
                            Instagram
                        </label>
                    </div>
                    <div class="checkbox col-xs-6">
                        <label class="chk-button" (click)="focusedReferral()">
                            <input type="radio" name="mobile_find" value="twitter" [(ngModel)]="userAccount.referral_type" [formControl]="accountForm.controls['find']"/>
                            Twitter
                        </label>
                    </div>
                    <div class="checkbox col-xs-6">
                        <label class="chk-button" (click)="focusedReferral()">
                            <input type="radio" name="mobile_find" value="none" [(ngModel)]="userAccount.referral_type" [formControl]="accountForm.controls['find']"/>
                            None
                        </label>
                    </div>
                </div>
                <div class="form-group" *ngIf="accountForm.controls['find']['value'] === 'referral'">
                    <input type="text" placeholder="Who referred you?" class="form-control" name="mobile_find_referral_name" [(ngModel)]="userAccount.referral_value" [formControl]="accountForm.controls['referral']" (focus)="focusedReferral()"/>
                </div>
                <div class="form-group" *ngIf="accountForm.controls['find']['value'] === 'board'">
                    <input type="text" placeholder="What message board?" class="form-control" name="mobile_find_board_name" [(ngModel)]="userAccount.referral_value" [formControl]="accountForm.controls['board']" (focus)="focusedReferral()"/>
                </div>
            </div>
        </form>
        <form [formGroup]="paymentForm" *ngIf="current_page === 2">
            <div class="container payment-form">
                <div class="form-group mb-0 clearfix">
                    <label class="control-label w-100">Payment Method</label>
                    <div class="checkbox col-xs-6 pr-0">
                        <label class="chk-button">
                            <input type="radio" name="mobile_payment_method" value="Stripe" [(ngModel)]="userAccount.payment_type" [formControl]="paymentForm.controls['paymentType']" />
                            Credit Card
                        </label>
                    </div>
                    <div class="checkbox col-xs-6">
                        <label class="chk-button">
                            <input type="radio" name="mobile_payment_method" value="Paypal" [(ngModel)]="userAccount.payment_type" [formControl]="paymentForm.controls['paymentType']" />
                            Paypal
                        </label>
                    </div>
                </div>
                <div *ngIf="userAccount.payment_type === 'Stripe'">
                    <div class="form-group">
                        <label class="control-label" for="payment_subscription">Subscription</label>
                        <div class="select-group">
                            <select class="form-control" name="subscription" id="payment_subscription" [(ngModel)]="userAccount.subscription" [formControl]="paymentForm.controls['subscription']">
                                <option value="lnrp_monthly" *ngIf="!isNewBilling">Per Month - $47 every month</option>
                                <option value="lnrp_quarterly" *ngIf="!isNewBilling">Quarter - $127 every 3 months</option>
                                <option value="lnrp_halfyear" *ngIf="!isNewBilling">Half-Year - $227 every 6 months</option>
                                <option value="lnrp_yearly" *ngIf="!isNewBilling">Full-Year - $397 every year</option>
                            </select>
                            <div class="select-arrow"></div>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="(page_submitted || !paymentForm.controls['cardNumber'].pristine) && paymentForm.controls['cardNumber'].invalid">
                        <label class="control-label" for="mobile_card_number">Card Number</label>
                        <input type="text" class="form-control" id="mobile_card_number" name="mobile_card_number" [(ngModel)]="creditCard.cardNumber" [formControl]="paymentForm.controls['cardNumber']" />
                        <span class="error help-block" *ngIf="(page_submitted || !paymentForm.controls['cardNumber'].pristine) && paymentForm.controls['cardNumber'].invalid">{{ errors['card.number.required'] }}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label w-100 no-padding-left no-padding-right" for="payment_expiration">Card Expiration</label>
                        <div class="select-group">
                            <select id="mobile_payment_expiration_month" name="mobile_payment_expiration_month" class="form-control" [(ngModel)]="creditCard.cardExpMonth" [formControl]="paymentForm.controls['cardExpMonth']">
                                <option value="01">Jan</option>
                                <option value="02">Feb</option>
                                <option value="03">Mar</option>
                                <option value="04">Apr</option>
                                <option value="05">May</option>
                                <option value="06">Jun</option>
                                <option value="07">Jul</option>
                                <option value="08">Aug</option>
                                <option value="09">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                            <div class="select-arrow"></div>
                        </div>
                        <div class="select-group">
                            <select name="mobile_payment_expiration_year" id="mobile_payment_expiration_year" class="form-control" [(ngModel)]="creditCard.cardExpYear" [formControl]="paymentForm.controls['cardExpYear']">
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                            </select>
                            <div class="select-arrow"></div>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="(page_submitted || !paymentForm.controls['cardCVV'].pristine) && paymentForm.controls['cardCVV'].invalid">
                        <label class="control-label" for="mobile_card_cvv">CVV Number</label>
                        <input type="text" class="form-control" id="mobile_card_cvv" name="mobile_card_cvv" [(ngModel)]="creditCard.cardCVV" [formControl]="paymentForm.controls['cardCVV']" />
                        <span class="error help-block" *ngIf="(page_submitted || !paymentForm.controls['cardCVV'].pristine) && paymentForm.controls['cardCVV'].invalid">{{ errors['card.cvv.required'] }}</span>
                        <span class="help-block">(On the back of your card)</span>
                    </div>
                    <div class="form-group" [class.has-error]="(page_submitted || !paymentForm.controls['cardZip'].pristine) && paymentForm.controls['cardZip'].invalid">
                        <label class="control-label" for="mobile_card_zip">Zip Code</label>
                        <input type="text" class="form-control" id="mobile_card_zip" name="mobile_card_zip" [(ngModel)]="creditCard.cardZip" [formControl]="paymentForm.controls['cardZip']" />
                        <span class="error help-block" *ngIf="(page_submitted || !paymentForm.controls['cardZip'].pristine) && paymentForm.controls['cardZip'].invalid">{{ errors['card.zip.required'] }}</span>
                    </div>
                </div>

                <div class="form-group paypal-group" *ngIf="userAccount.payment_type === 'Paypal'">
                    <h3 class="text-center">Choose a subscription plan</h3>
                    <h5 class="text-center">Once your subscription is set up, your account will be approved and ready</h5>

                    <div class="paypal-subscriptons">
                        <div class="subscription-plan text-center" *ngIf="!isNewBilling">
                            <h4>1 Month<br />$47</h4>
                            <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick" />
                                <input type="hidden" name="hosted_button_id" value="ZFMN3VGSUVPUQ" />
                                <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                        </div>

                        <div class="subscription-plan text-center" *ngIf="!isNewBilling">
                            <h4>3 Months<br />$127</h4>
                            <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick" />
                                <input type="hidden" name="hosted_button_id" value="ZF466PS8HK6Z6" />
                                <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                        </div>

                        <div class="subscription-plan text-center" *ngIf="!isNewBilling">
                            <h4>6 Months<br />$227</h4>
                            <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick" />
                                <input type="hidden" name="hosted_button_id" value="GSPPYFBJPC5A6" />
                                <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                        </div>

                        <div class="subscription-plan text-center" *ngIf="!isNewBilling">
                            <h4>1 Year<br />$397</h4>
                            <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick" />
                                <input type="hidden" name="hosted_button_id" value="KLPWRU55BNQ7G" />
                                <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="djForm" *ngIf="current_page === 3">
            <div class="container dj-form">
                <div class="form-group mb-0">
                    <label class="info-label">Further completing these fields below will greatly expedite your registration process.</label>
                </div>

                <div class="form-group">
                    <label class="control-label">What type of DJ are you?</label>
                    <div class="checkbox">
                        <label class="chk-button">
                            <input type="checkbox" name="signup_type_radio" [(ngModel)]="userAccount.radiostation" [formControl]="djForm.controls['typeRadio']" />
                            Radio
                        </label>
                    </div>
                    <div class="sub-questions" *ngIf="djForm.controls['typeRadio'].value">
                        <div class="form-group">
                            <label>BDS Monitored?</label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="signup_radio_bds" value="yes" [(ngModel)]="userAccount.bds" [formControl]="djForm.controls['radioBDS']" />
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="signup_radio_bds" value="no" [(ngModel)]="userAccount.bds" [formControl]="djForm.controls['radioBDS']" />
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mediabase Monitored?</label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" name="signup_radio_mediabase" value="yes" [(ngModel)]="userAccount.media" [formControl]="djForm.controls['radioMediabase']" />
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="signup_radio_mediabase" value="no" [(ngModel)]="userAccount.media" [formControl]="djForm.controls['radioMediabase']" />
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobile_radio_call">Call Letters</label>
                            <input type="text" class="form-control" id="mobile_radio_call" name="mobile_radio_call" [(ngModel)]="userAccount.callletters" [formControl]="djForm.controls['radioCall']" />
                        </div>
                        <div class="form-group">
                            <label for="mobile_radio_name">Show Name</label>
                            <input type="text" class="form-control" id="mobile_radio_name" name="mobile_radio_name" [(ngModel)]="userAccount.showname" [formControl]="djForm.controls['radioName']" />
                        </div>
                        <div class="form-group">
                            <label for="mobile_radio_time">Show Time</label>
                            <input type="text" class="form-control" id="mobile_radio_time" name="mobile_radio_time" [(ngModel)]="userAccount.showtime" [formControl]="djForm.controls['radioTime']" />
                        </div>
                        <div class="form-group">
                            <label for="mobile_radio_director">Program Director</label>
                            <input type="text" class="form-control" id="mobile_radio_director" name="mobile_radio_director" [(ngModel)]="userAccount.programdirector" [formControl]="djForm.controls['radioPD']" />
                        </div>
                        <div class="form-group">
                            <label for="mobile_radio_pd_phone">PD/MD Phone Number</label>
                            <input type="text" class="form-control" id="mobile_radio_pd_phone" name="mobile_radio_pd_phone" [(ngModel)]="userAccount.pdmdphone" [formControl]="djForm.controls['radioPDPhone']" />
                        </div>
                        <div class="form-group">
                            <label for="mobile_radio_pd_email">PD/MD Email Address</label>
                            <input type="text" class="form-control" id="mobile_radio_pd_email" name="mobile_radio_pd_email" [(ngModel)]="userAccount.pdmdemail" [formControl]="djForm.controls['radioPDEmail']" />
                        </div>
                    </div>

                    <div class="checkbox">
                        <label class="chk-button">
                            <input type="checkbox" name="signup_type_club" [(ngModel)]="userAccount.club" [formControl]="djForm.controls['typeClub']" />
                            Club
                        </label>
                    </div>
                    <div class="sub-questions" *ngIf="djForm.controls['typeClub'].value">
                        <div class="form-group">
                            <label for="mobile_club_name">Club Name</label>
                            <input type="text" class="form-control" id="mobile_club_name" name="mobile_club_name" [(ngModel)]="userAccount.clubname" [formControl]="djForm.controls['clubName']" />
                        </div>
                        <div class="form-group">
                            <label for="mobile_club_nights">Nights You Spin</label>
                            <input type="text" class="form-control" id="mobile_club_nights" name="mobile_club_nights" [(ngModel)]="userAccount.clubnights" [formControl]="djForm.controls['clubNights']" />
                        </div>
                        <div class="form-group">
                            <label for="mobile_club_times">Times You Spin</label>
                            <input type="text" class="form-control" id="mobile_club_times" name="mobile_club_times" [(ngModel)]="userAccount.clubtimes" [formControl]="djForm.controls['clubTimes']" />
                        </div>
                    </div>

                    <div class="checkbox">
                        <label class="chk-button">
                            <input type="checkbox" name="signup_type_house" [(ngModel)]="userAccount.house" [formControl]="djForm.controls['typeHouse']" />
                            House
                        </label>
                    </div>
                    <div class="checkbox">
                        <label class="chk-button">
                            <input type="checkbox" name="signup_type_festival" [(ngModel)]="userAccount.festival" [formControl]="djForm.controls['typeFestival']" />
                            Festival
                        </label>
                    </div>
                    <div class="sub-questions" *ngIf="djForm.controls['typeFestival'].value">
                        <div class="form-group">
                            <label for="mobile_festival_worked">Notable Festivals You've Worked</label>
                            <input type="text" class="form-control" id="mobile_festival_worked" name="mobile_festival_worked" [(ngModel)]="userAccount.festivalworked" [formControl]="djForm.controls['festivalWorked']" />
                        </div>
                    </div>
                </div>
            </div>
        </form>    
    </div>
    <div class="buttons">
        <div class="container">
            <button class="button-blue-background" *ngIf="current_page == 1" (click)="nextPage()">Next</button>
            <button class="button-blue-background button-back" *ngIf="current_page == 2" (click)="previousPage($event)">Back</button>
            <button class="button-blue-background" *ngIf="current_page == 2 && userAccount.payment_type !== 'Paypal'" (click)="completeSignup()">Done</button>
            <button class="button-blue-background" *ngIf="current_page == 3" (click)="updateUser()">Done</button>
        </div>
    </div>
</section>
