<section id="front-hero" #frontpageHero>
    <div class="container" [ngClass]="{'hidden-xs': !isDesktop}">
        <div class="masthead col-lg-5">
            <h1>The largest selection of digital downloads for Professional DJS</h1>
            <h6>From Top 40 to your favorite Throwbacks,<br />from Future House to Trap to Twerk,<br />LNRP has you
                covered.</h6>
        </div>
        <div class="options col-lg-7">
            <button class="button-gold" routerLink="/pricing">View Plans &amp; Pricing</button>
            <p *ngIf="!isLoggedIn"><a href="" (click)="openLogin($event)">or Login</a></p>
        </div>
    </div>
    <div class="releases-container" [ngClass]="{'hidden-xs': !isDesktop}">
        <div class="releases-cover-blue"></div>
        <div class="releases-cover-diagonal"></div>
        <div class="release-image" *ngFor="let img of primary_hero_images">
            <img class="overlay" src="assets/img/overlay-release-image.png" />
            <div class="release" [style.background-image]="'url(\'' + img.image + '\')' | safe"></div>
            <!-- <img class="release" src="" /> -->
        </div>
    </div>
    <div class="container hero-mobile visible-xs" [ngClass]="{'hidden': isDesktop}">
        <p class="title-mobile">The best selection of digital downloads for DJs on the web</p>
        <p class="detail-mobile">Curated by professional DJs,<br />for the best set you’ve ever
            performed.<br /><br />From Top 40 to your favorite Throwbacks, from Future House to Trap to Twerk,<br />LNRP has
            you covered.</p>
        <div class="hero-buttons">
            <button class="start-button" routerLink="/signup">SIGN UP NOW</button>
        </div>
    </div>
</section>

<div [ngClass]="{'hidden-xs': !isDesktop}">
    <section id="front-whats-hot" #frontpageWhatsHot>
        <div class="releases-container">
            <div class="release-image" *ngFor="let img of top_download_images">
                <img *ngIf="img.image" class="release" [src]="img.image" />
            </div>
        </div>
        <div class="container">
            <div class="top-download col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <h1 class="hidden-lg">Find out what's hot from the best in the business</h1>
                <div class="top-download-play">
                    <a href="" class="top-download-play-head" (click)="requestRelease($event, most_downloaded)">Play
                        Song</a>
                    <img *ngIf="most_downloaded?.image" [src]="most_downloaded?.image" />
                </div>
                <p><a (click)="openDetail(most_downloaded)">See all versions of this release</a></p>
            </div>
            <div class="content col-lg-7 visible-lg">
                <h1>Find out what's hot from the best in the business</h1>
                <h6>Join a network of some of best DJs in the world. Be a taste maker and trendsetter<br />in your
                    market. Take them from yesterday to today and get it all in one place.</h6>
                <button class="button-gold" routerLink="/top">Top Downloads</button>
            </div>
        </div>
    </section>

    <section id="front-new" [style.background-image]="always_new_url | safe">
        <div class="container">
            <div class="col-lg-3"></div>
            <div class="content col-lg-6">
                <h1>Always Something New</h1>
                <h6>We are always adding new music &mdash; from the latest Top-40 hits, to Old School classics and
                    obscure breakouts, all hand-selected by our resident DJs</h6>

                <button class="button-gold" routerLink="/new">View New Releases</button>

                <p *ngIf="!isLoggedIn"><a href="" (click)="openLogin($event)">Sign In</a> to see what's new for you.</p>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <div class="releases-container">
            <div class="overlay"></div>
            <div class="releases-background"></div>
        </div>
    </section>

    <section id="front-genres">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <h1>Every Genre You Need</h1>
                    <h6>In every decade from the 70's classics to today's hits.</h6>
                </div>
                <div class="col-lg-3"></div>
            </div>

            <div class="genres-container row">
                <a (click)="setGenre(6, 'Pop')" class="genre-item pop">Pop</a>
                <a (click)="setGenre(3, 'Hip-Hop')" class="genre-item hip-hop">Hip Hop</a>
                <a (click)="setGenre(10, 'Rock')" class="genre-item rock">Rock</a>
                <a (click)="setGenre(8, 'Rap')" class="genre-item rap">Rap</a>
                <a (click)="setGenre(2, 'EDM')" class="genre-item edm">EDM</a>
                <a (click)="setGenre(1, 'DJ Edits')" class="genre-item dj-edits">DJ Edits</a>
                <a (click)="setGenre(17, 'Seasonal')" class="genre-item seasonal">Seasonal</a>
                <a (click)="setGenre(16, 'Reggae')" class="genre-item reggae">Reggae</a>
                <a (click)="setGenre(9, 'Remix')" class="genre-item remix">Remix</a>
                <a (click)="setGenre(7, 'R&B')" class="genre-item r-and-b">R&amp;B</a>
                <a (click)="setGenre(21, 'Disco')" class="genre-item disco">Disco</a>
                <a (click)="setGenre(22, 'Soul')" class="genre-item soul">Soul</a>
                <a (click)="setGenre(13, 'Country')" class="genre-item country">Country</a>
                <a (click)="setGenre(12, 'Various')" class="genre-item various">Various</a>
            </div>

            <p class="much-more">And much more. View our <a routerLink="/releases">full catalog</a>.</p>
        </div>
    </section>

    <section id="front-features">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <h1>Designed for Professional DJs</h1>
                    <h6 class="visible-lg">With all of our releases available as quick, high-quality downloads<br />as
                        bundled zip files, and a huge variety of searchable and filterable genres,<br />we are the best
                        digital record pool on the web.</h6>
                    <h6 class="hidden-lg">With all of our releases available as quick, high-quality downloads as bundled
                        zip files, and a huge variety of searchable and filterable genres, we are the best digital
                        record pool on the web.</h6>
                </div>
                <div class="col-lg-3"></div>
            </div>

            <div class="features-container row">
                <div class="feature-item">
                    <span href="">Curated by Professional DJs</span>
                    <div class="bg curated"></div>
                </div>
                <div class="feature-item">
                    <span href="">Dropbox Connected</span>
                    <div class="bg dropbox"></div>
                </div>
                <div class="feature-item">
                    <span href="">Convenient ZIP Downloads</span>
                    <div class="bg downloads"></div>
                </div>
                <div class="feature-item">
                    <span href="">{{ total_releases | number:'1.0-0' }} Releases And Counting</span>
                    <div class="bg variety"></div>
                </div>
                <div class="feature-item">
                    <span href="">Throwback Selection</span>
                    <div class="bg selection"></div>
                </div>
                <div class="feature-item">
                    <span href="">Pinpoint Search</span>
                    <div class="bg search"></div>
                </div>
            </div>

            <button class="button-gold" routerLink="/pricing">More Features</button>
        </div>
        <div class="background-overlay"></div>
    </section>

    <section id="front-testimonials">
    </section>

    <section id="front-signup-blue" *ngIf="!isLoggedIn">
        <div class="container">
            <p><a routerLink="/signup">Sign Up</a> for unlimited access to our catalog</p>
        </div>
    </section>

    <section id="front-currently-playing">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <h1>Currently Playing</h1>
                    <h6>LNRP users are currently listening to these releases</h6>
                </div>
                <div class="col-lg-3"></div>
            </div>

            <div class="row">
                <div class="currently-playing-release col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="currently-playing">
                        <a href="" class="currently-playing-head"
                            (click)="requestRelease($event, currently_playing_now)">Play Song</a>
                        <img *ngIf="currently_playing_now?.image" [src]="currently_playing_now?.image" />
                    </div>
                    <div class="currently-playing-info clearfix">
                        <p class="artist">{{ currently_playing_now?.artist }}</p>
                        <p class="title"><a
                                (click)="openDetail(currently_playing_now)">{{ currently_playing_now?.title }}</a></p>
                        <p class="release-label">{{ currently_playing_now?.label }}</p>
                        <p class="versions"><a (click)="openDetail(currently_playing_now)">View all versions</a></p>
                    </div>
                </div>

                <div class="all-currently-playing col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <h4>Other releases currently being played</h4>
                    <div class="other-currently-playing-release" *ngFor="let release of currently_playing">
                        <a href="" class="play-head" (click)="requestRelease($event, release)"></a>
                        <a (click)="openDetail(release)" class="release-link">{{ release.artist }} -
                            {{ release.title }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="front-labels">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <h1>Music by Labels</h1>
                    <h6>The LNRP library has official releases from every major label and many<br />of the indie labels
                        you know and love</h6>
                </div>
                <div class="col-lg-3"></div>
            </div>

            <div class="labels-box row">
                <a (click)="setLabel('Atlantic')" class="label-item atlantic">Atlantic Records</a>
                <a (click)="setLabel('Spinnin')" class="label-item spinnin">Spinnin Records</a>
                <a (click)="setLabel('Ultra')" class="label-item ultra">Ultra Records</a>
                <a (click)="setLabel('Republic')" class="label-item republic">Republic Records</a>
                <a (click)="setLabel('RCA')" class="label-item rca">RCA Records</a>
                <a (click)="setLabel('Universal')" class="label-item universal">Universal Records</a>
                <a (click)="setLabel('Sony')" class="label-item sony">Sony Music</a>
                <a (click)="setLabel('Capitol')" class="label-item capitol">Capitol Records</a>
                <a (click)="setLabel('Interscope')" class="label-item interscope">Interscope Records</a>
                <a (click)="setLabel('Jive')" class="label-item jive">Jive Records</a>
                <a (click)="setLabel('Def Jam')" class="label-item def-jam">Def Jam Records</a>
                <a (click)="setLabel('Columbia')" class="label-item columbia">Columbia Records</a>
            </div>
        </div>
        <div style="width: 100%; height: 40px;"></div>
    </section>

    <section id="front-newsletter">
        <div class="container">
            <div class="text row">
                <p>Follow us to find out more about the music we love</p>
            </div>
            <div class="social-icons row">
                <a href="https://twitter.com/lnrecordpool" target="_blank" class="social-icon twitter">Twitter</a>
                <a href="https://www.instagram.com/latenightrecordpool/" target="_blank"
                    class="social-icon instagram">Instagram</a>
                <a href="https://www.facebook.com/Late-Night-Record-Pool-100690459982566/" target="_blank"
                    class="social-icon facebook">Facebook</a>
            </div>
        </div>
    </section>

    <section id="front-signup-gold" *ngIf="!isLoggedIn">
        <div class="container">
            <p>Sign Up Now &mdash; View our <a routerLink="/pricing">Plans &amp; Pricing</a></p>
        </div>
    </section>
</div>

<div class="visible-xs" [ngClass]="{'hidden': isDesktop}">
    <section id="front-features-mobile">
        <div class="container">
            <div>
                <p class="title-mobile">Features & Benefits</p>
                <p class="detail-mobile">100,000+ songs. Comprehensive genres (and subgenres). Advanced search. Dropbox integration. crateQ desktop downloader. And the highest quality mp3s in the game... (and more!) 👇</p>
            </div>

            <div class="features-container">
                <div class="align-items-center" *ngFor="let item of features">
                    <div class="image-container">
                        <img *ngIf="item.img" class="feature-image" [src]="item.img" />
                    </div>
                    <div class="label-container">
                        <span class="feature-label">{{item.label}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="opacity-background"></div>
    </section>

    <section id="front-quality">
        <div class="container">
            <p class="title-mobile">Our Quality vs. Others</p>
            <img class="front-quality-image" src="assets/img/front-quality-mobile.png" />
            <div class="quality-description">
                <p class="detail-mobile">Unlike other record pools, we don't upsample mp3s and provide you with fake 320 mp3s or YouTube rips. We provide the highest-quality files available, straight from the source.</p>
                <p class="detail-mobile">Check the true quality of your current music source at <a href="https://fakinthefunk.net" target="_blank" class="other-link">Fakin' The Funk</a> or <a href="http://spek.cc" target="_blank" class="other-link">spek</a>.</p>
            </div>
        </div>
    </section>

    <section id="front-genres" class="genres-mobile">
        <div class="container">
            <p class="title-mobile">Every Genre You Need</p>
            <p class="detail-mobile">No matter the venue, party, or crowd --<br />our content has you covered.</p>

            <div class="genres-container">
                <!-- <a (click)="setGenre(item.id, item.value)" class="genre-item" [style.background]="'url(assets/img/front-genre-' + item.id + '.png)'" *ngFor="let item of genres">{{item.value}}</a> -->
                <a class="genre-item" [style.background]="'url(assets/img/front-genre-' + item.id + '.png)'" *ngFor="let item of genres">{{item.value}}</a>
            </div>
        </div>
    </section>

    <section id="front-labels" class="labels-mobile">
        <div class="container">
            <p class="title-mobile">Music by Labels</p>
            <p class="detail-mobile">The LNRP library has official releases from every major label and many of the indie labels you know and love.</p>
            <div class="labels-box">
                <a (click)="setLabel(item)" class="label-item" [style.background-image]="'url(assets/img/front-label-' + item + '.png)'" *ngFor="let item of labels">{{item}}</a>
            </div>
        </div>
    </section>

    <section id="front-plans">
        <div class="plans-info">
            <p class="title-mobile">Plans & Pricing</p>
        </div>
        <div class="plans-detail">
            <div class="plan-item monthly">
                <div class="plan-info">
                    <p class="plan-label small">MOST POPULAR</p>
                    <p class="plan-label">Monthly Plan</p>
                </div>
                <div class="plan-detail">
                    <div class="plan-name">
                        <p class="plan-value">$47</p>
                        <p class="plan-unit">per month</p>
                    </div>
                    <button class="plan-button" routerLink="/signup">Sign Up Now</button>
                </div>
            </div>
            <div class="plan-item quarterly">
                <div class="plan-info">
                    <p class="plan-label">Quarterly Plan</p>
                </div>
                <div class="plan-detail">
                    <div class="plan-name">
                        <p class="plan-value">$127</p>
                        <p class="plan-unit">per quarter<br /><em>3 months</em></p>
                    </div>
                    <p class="plan-description">Save 10%<br />over the Monthly Plan</p>
                    <button class="plan-button" routerLink="/signup">Sign Up Now</button>
                </div>
            </div>
            <div class="plan-item yearly">
                <div class="plan-info">
                    <p class="plan-label">Yearly Plan</p>
                </div>
                <div class="plan-detail">
                    <div class="plan-name">
                        <p class="plan-value">$397</p>
                        <p class="plan-unit">per year</p>
                    </div>
                    <p class="plan-description">Save 30%<br />over the Monthly Plan</p>
                    <button class="plan-button" routerLink="/signup">Sign Up Now</button>
                    <div class="pricing-badge">
                        BEST SAVINGS
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="front-contactus">
        <div class="container">
            <p class="title-mobile">Contact Us</p>
            <div class="alert alert-danger" role="alert" *ngIf="showError">
                <p *ngIf="contactForm.controls['name'].errors?.required && fieldModified('name')">A name is required to send the contact form!</p>
                <p *ngIf="contactForm.controls['email'].errors?.required && fieldModified('email')">An email address is required to send the contact form!</p>
                <p *ngIf="contactForm.controls['email'].errors?.pattern && fieldModified('email')">A valid email address is required to send the contact form!</p>
                <p *ngIf="contactForm.controls['message'].errors?.required && fieldModified('message')">A message is required to send the contact form!</p>
            </div>
            <form [formGroup]="contactForm" (submit)="submitForm($event)">
                <div class="form-group" [class.has-error]="!contactForm.controls['name'].valid && fieldModified('name')">
                    <label>Name</label>
                    <input type="text" class="form-control" required [formControl]="contactForm.controls['name']" />
                </div>
                <div class="form-group" [class.has-error]="!contactForm.controls['email'].valid && fieldModified('email')">
                    <label>Email</label>
                    <input type="text" class="form-control" required [formControl]="contactForm.controls['email']" />
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" [formControl]="contactForm.controls['phone']" />
                </div>
                <div class="form-group" [class.has-error]="!contactForm.controls['message'].valid && fieldModified('message')">
                    <label>Message</label>
                    <textarea class="form-control" rows="5" required [formControl]="contactForm.controls['message']"></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="send-button" [class.disabled]="!contactForm.valid" [disabled]="!contactForm.valid">Send Message</button>
                </div>
            </form>
        </div>
    </section>
</div>