<section class="music-player-instruction hidden-sm hidden-lg hidden-md" *ngIf="isLoaded && display_message < 1">
    <div class="container">
        Apple prevents us from playing your song automatically.<br />Please click the play button to start your song.
    </div>
</section>
<section class="music-player" *ngIf="isLoaded" #musicPlayer>
    <div #playerContainer class="wave-container clearfix">
        <div class="play-pause" [class.playing]="isPlaying" [class.stopped]="!isPlaying" (click)="clickPlayPause()"></div>
        <div class="title">
            <span>{{ playingInfo.title }}</span>
            <a (click)="openDetail()" title="View Release Detail"></a>
        </div>
        <div class="artist">{{ playingInfo.artist }}</div>
        <div class="trackbar hidden-xs">
            <div class="time-current">{{ playingInfo.current_time | time }}</div>
            <waveform
                [waveimageSrc]="this.waveImgUrl"
                [playheadPosition]="getPlayheadPosition()"
                [timelineFill]="getTimelineFill()"
                (onSeeking)="seekingTrack()"
                (onSeek)="seekTrack($event)"
            ></waveform>
            <div class="time-total">{{ playingInfo.total_time | time }}</div>
        </div>
        <volume-control
            class="hidden-xs"
            [muted]="muted"
            [volume]="volume"
            (onVolumeChange)="changeVolume($event)"
            (onMuteClick)="clickMute()"
        ></volume-control>
        <div class="player-close" (click)="clickClose()"></div>
    </div>
</section>
