.signup-disclaimer-modal {
    button {
        color: #fff;
        background-color: #999;
        border-color: #888;
        font-size: 16px;
        font-weight: 400;
    }
    .button-group {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .contents {
        .disclaimer-contents {
            font-size: 16px;
        }
    }

    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}

.signup-disclaimer-modal.modal-body {
    padding: 20px;
}