<section>
  <div class='modal-body signup-disclaimer-modal'>
    <div class='contents'>
      <h3>Advisory</h3>
      <div class="disclaimer-contents">
        Late Night Record Pool is a resource for radio programmers and djs, club djs, festival djs, touring djs and other music driven
        professionals. Late Night Record Pool is a service for djs for promotional use only.
        <br> <br> Late Night Record Pool is NOT a consumer resource for musical works and the assets described herein are NOT made
        available to the general public under any circumstance or condition. By pressing the "I Agree" button below and proceeding,
        you warrant and represent without condition or reservation, that you are a media professional as per the definitions
        above and seek access to this site strictly within such capacity.
      </div>
    </div>
    <div class='button-group'>
      <button class='button button-gold-border' (click)='onAgree()'>I Agree</button>
    </div>
  </div>
  <div class='modal-overlay'></div>
</section>