<div class="old-site-bar hidden-xs" *ngIf="pages_loaded < 2 && !isBlog">
    <div class="container">Looking for the Old LNRP?&nbsp;&nbsp;<a href="http://oldschool.latenightrecordpool.com/" target="_blank">Check out http://oldschool.latenightrecordpool.com/</a></div>
</div>
<login></login>
<site-header></site-header>
<router-outlet></router-outlet>
<site-footer></site-footer>
<waveplayer></waveplayer>
<ng2-slim-loading-bar [color]="'#FFD887'" [height]="'4px'"></ng2-slim-loading-bar>
<iframe id="download_container" style="display: none;"></iframe>
<div class="return-top" [ngClass]="{'show-return-top': isReturnTop}" (click)="scrollToTop()"></div>
