<section class="signup">
    <div class="header">
        <div class="container">
            <h1>Renew Your Account</h1>
            <h3>Fill out the payment information below to renew your account</h3>
        </div>
    </div>

    <div class="promo-section">
        <div class="container">
            <div class="col-xs-8 col-xs-offset-2">
                Do you have a promo code?
                <button class="open-modal" (click)="openPromoModal()">Promo Code</button>                
            </div>
        </div>
    </div>

    <form [formGroup]="paymentForm">
        <div class="container">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row form-group">
                    <label class="control-label col-xs-3">Payment Method</label>
                    <div class="col-xs-9">
                        <label class="radio-inline">
                            <input type="radio" name="signup_payment_method" value="Stripe" [(ngModel)]="userAccount.payment_type" [formControl]="paymentForm.controls['paymentType']" />
                            <img src="assets/img/payment-credit.png" />
                        </label>
                    </div>
                    <div class="col-xs-9 col-xs-offset-3">
                        <label class="radio-inline">
                            <input type="radio" name="signup_payment_method" value="Paypal" [(ngModel)]="userAccount.payment_type" [formControl]="paymentForm.controls['paymentType']" />
                            <img src="assets/img/payment-paypal.jpg" />
                        </label>
                    </div>
                </div>
                <div *ngIf="userAccount.payment_type === 'Stripe'">
                    <div class="form-group">
                        <label class="control-label" for="payment_subscription">Subscription</label>
                        <select class="form-control" name="subscription" id="payment_subscription" [(ngModel)]="userAccount.subscription" [formControl]="paymentForm.controls['subscription']">
                            <option value="{{customBilling.stripe_id}}" *ngIf="customBilling.enabled">{{customBilling.stripe_title}}</option>
                            <option value="lnrp_monthly" *ngIf="!customBilling.enabled">Per Month - $47 every month</option>
                            <option value="lnrp_quarterly" *ngIf="!customBilling.enabled">Quarter - $127 every 3 months</option>
                            <option value="lnrp_halfyear" *ngIf="!customBilling.enabled">Half-Year - $227 every 6 months</option>
                            <option value="lnrp_yearly" *ngIf="!customBilling.enabled">Full-Year - $397 every year</option>
                        </select>
                    </div>
                    <div class="form-group" [class.has-error]="(page_submitted || !paymentForm.controls['cardNumber'].pristine) && paymentForm.controls['cardNumber'].invalid">
                        <label class="control-label" for="signup_card_number">Card Number</label>
                        <input type="text" class="form-control" id="signup_card_number" name="signup_card_number" [(ngModel)]="creditCard.cardNumber" [formControl]="paymentForm.controls['cardNumber']" />
                        <span class="error help-block" *ngIf="(page_submitted || !paymentForm.controls['cardNumber'].pristine) && paymentForm.controls['cardNumber'].invalid">{{ errors['card.number.required'] }}</span>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-xs-12 no-padding-left no-padding-right" for="payment_expiration">Card Expiration</label>
                        <div class="col-lg-6 no-padding-side expiration_month">
                            <select id="signup_payment_expiration_month" name="signup_payment_expiration_month" class="form-control" [(ngModel)]="creditCard.cardExpMonth" [formControl]="paymentForm.controls['cardExpMonth']">
                                <option value="01">Jan</option>
                                <option value="02">Feb</option>
                                <option value="03">Mar</option>
                                <option value="04">Apr</option>
                                <option value="05">May</option>
                                <option value="06">Jun</option>
                                <option value="07">Jul</option>
                                <option value="08">Aug</option>
                                <option value="09">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                        </div>
                        <div class="col-lg-6 no-padding-side expiration_year">
                            <select name="signup_payment_expiration_year" id="signup_payment_expiration_year" class="form-control" [(ngModel)]="creditCard.cardExpYear" [formControl]="paymentForm.controls['cardExpYear']">
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                                <option>2026</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" [class.has-error]="(page_submitted || !paymentForm.controls['cardCVV'].pristine) && paymentForm.controls['cardCVV'].invalid">
                        <label class="control-label" for="signup_card_cvv">CVV Number</label>
                        <input type="text" class="form-control" id="signup_card_cvv" name="signup_card_cvv" [(ngModel)]="creditCard.cardCVV" [formControl]="paymentForm.controls['cardCVV']" />
                        <span class="error help-block" *ngIf="(page_submitted || !paymentForm.controls['cardCVV'].pristine) && paymentForm.controls['cardCVV'].invalid">{{ errors['card.cvv.required'] }}</span>
                        <span class="help-block">(On the back of your card)</span>
                    </div>
                    <div class="form-group" [class.has-error]="(page_submitted || !paymentForm.controls['cardZip'].pristine) && paymentForm.controls['cardZip'].invalid">
                        <label class="control-label" for="signup_card_zip">Zip Code</label>
                        <input type="text" class="form-control" id="signup_card_zip" name="signup_card_zip" [(ngModel)]="creditCard.cardZip" [formControl]="paymentForm.controls['cardZip']" />
                        <span class="error help-block" *ngIf="(page_submitted || !paymentForm.controls['cardZip'].pristine) && paymentForm.controls['cardZip'].invalid">{{ errors['card.zip.required'] }}</span>
                    </div>
                </div>
                <div class="form-group paypal-group" *ngIf="userAccount.payment_type === 'Paypal'">
                    <h3 class="text-center">Choose a subscription plan</h3>
                    <h5 class="text-center">Once your subscription is set up, your account will be approved by our staff and you'll receive an email letting you know when you can log in.</h5>

                    <div class="row paypal-subscriptons">
                        <div class="subscription-plan col-lg-3 text-center" *ngIf="customBilling.enabled && customBilling.paypal_code === ''">
                            <h4>{{customBilling.paypal_title}}</h4>
                            <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick" />
                                <input type="hidden" name="hosted_button_id" value="{{customBilling.paypal_id}}" />
                                <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                <input type="image" src="assets/img/btn_paymentCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                        </div>
    
                        <div class="subscription-plan col-lg-3 text-center" *ngIf="customBilling.enabled && customBilling.paypal_code != ''">
                            <h4>{{customBilling.paypal_title}}</h4>
                            {{customBilling.paypal_code}}
                        </div>
    
                        <div class="subscription-plan col-lg-3 text-center" *ngIf="!customBilling.enabled">
                            <h4>1 Month<br />$47</h4>
                            <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick" />
                                <input type="hidden" name="hosted_button_id" value="ZFMN3VGSUVPUQ" />
                                <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                        </div>
    
                        <div class="subscription-plan col-lg-3 text-center" *ngIf="!customBilling.enabled">
                            <h4>3 Months<br />$127</h4>
                            <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick" />
                                <input type="hidden" name="hosted_button_id" value="ZF466PS8HK6Z6" />
                                <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                        </div>
    
                        <div class="subscription-plan col-lg-3 text-center" *ngIf="!customBilling.enabled">
                            <h4>6 Months<br />$227</h4>
                            <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick" />
                                <input type="hidden" name="hosted_button_id" value="GSPPYFBJPC5A6" />
                                <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                        </div>
    
                        <div class="subscription-plan col-lg-3 text-center" *ngIf="!customBilling.enabled">
                            <h4>1 Year<br />$397</h4>
                            <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <input type="hidden" name="cmd" value="_s-xclick" />
                                <input type="hidden" name="hosted_button_id" value="KLPWRU55BNQ7G" />
                                <input type="hidden" name="custom" value="userID={{ userAccount.id }}&account_type=Regular" />
                                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="buttons">
        <div class="container text-center">
            <button class="button-gold" *ngIf="userAccount.payment_type !== 'Paypal'" (click)="completeRenew()">Renew My Account</button>
        </div>
    </div>
</section>
