<section>
    <div class='modal-body promo-modal-body'>
        <div class='contents'>
            <div class='form-group clearfix'>
                <label class='col-lg-4 no-padding-left m-0' for='promo-code'>Promo Code</label>
                <div class='col-lg-8 no-padding-right'>
                    <input type='text' class='form-control' id='promo-code' name='promo-code' [(ngModel)]='promoCode' />
                </div>
            </div>
        </div>
        <div class='button-group'>
            <button class='button button-gold-border' (click)='onSubmit()'>Submit</button>
            <button class='button button-gold-border' (click)='onClose()'>Cancel</button>
        </div>
    </div>
    <div class='modal-overlay'></div>
</section>
