<div bsModal #childModal="bs-modal" class="dropbox-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <img class="dropbox-logo" src="assets/img/vendor-dropbox.svg" />
                <h3>Got a Dropbox account?</h3>
                <p>Link it to your LNRP account to download our Zips and MP3s directly to your Dropbox folder!<br /><br />Go to your <a routerLink="/account" (click)="closeModal()">account</a> page to link your accounts and start downloading today</p>
                <button class="button button-gold-border" (click)="closeDropboxModal()">Got it!</button>
            </div>
            <div class="modal-overlay"></div>
        </div>
    </div>
</div>
<section class="modal-detail">
    <div class="modal-info">
        <div class="modal-header">
            <span (click)="closeModal()" class="modal-close-button" title="Close Release Detail"></span>
        </div>
        <div class="modal-container clearfix">
            <div class="col-sm-5">
                <div class="release-image">
                    <img *ngIf="img_src" src="{{ img_src }}" width="250" />
                </div>
            </div>
            <div class="col-sm-7">
                <div class="title">{{ release_detail?.title }}</div>
                <div class="artist">By <em>{{ release_detail?.artist }}</em></div>
                <div class="genre clearfix">
                    <div class="col-lg-7">
                        <span class="throwback" *ngIf="release_detail?.throwback == 1">Throwback &bull; </span>
                        <span class="genre">{{ release_detail?.genre }} &bull; {{ release_detail?.label }}</span>
                    </div>
                </div>
                <div class="misc">
                    <div class="time">Length: <strong>{{ release_detail?.time }}</strong></div>
                    <div class="year">Year Released: <strong>{{ release_detail?.year }}</strong></div>
                    <div class="bpm">BPM: <strong>{{ release_detail?.bpm }}</strong></div>
                    <br />
                    <div class="misc-container" style="padding-left:0px;">
                        <div class="updated" *ngIf="release_detail?.updated != 'false'">Updated: <strong>{{ release_detail?.updated }}</strong></div>
                        <div class="updated">Added:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ release_detail?.added }}</strong></div>
                    </div>
                    <div class="comments" *ngIf="release_detail?.comments != ''">Comments: <strong>{{ release_detail?.comments }}</strong></div>
                </div>
                <div class="ratings clearfix" [class.authenticated]="isLoggedIn" [attr.release]="release_detail?.id" [attr.score]="release_detail?.score" [attr.ratings]="release_detail?.ratings">
                    <div class="score">{{ release_detail?.rating }}</div>
                    <rating
                        [ngModel]="release_detail?.rating"
                        [readonly]="!isLoggedIn || release_detail?.rated"
                        [max]="5"
                        [attr.release]="release_detail?.id"
                        iconClass="rating-icon"
                        fullIcon="&nbsp;"
                        emptyIcon="&nbsp;"
                        (onRate)="rateRelease(release_detail?.id, $event)"
                    ></rating>
                    <div class="votes">{{ release_detail?.ratings }} votes</div>
                </div>
                <div class="links">
                    <span (click)="openRemix(release_detail)" class="release-remix" title="View Remix Detail" *ngIf="release_detail.remix > 0"></span>
                    <span title="Certified Instrumental" class="certified-instrumental-icon" *ngIf="release_detail.certified === 1"></span>
                    <!-- <span (click)="openDetail(release_detail)" class="release-external" title="View Release Detail"></span> -->
                </div>
                <div class="zip-crateq">
                    <button
                        class="rated"
                        *ngIf="isLoggedIn && release_detail?.rated && !release_detail?.crateq"
                        (click)="requestCrateQRelease(release_detail?.id, release_detail?.versions, release_detail?.crateq)"
                    >
                        Add to crateQ
                    </button>
                    <button
                        class="rated"
                        *ngIf="isLoggedIn && release_detail?.rated && release_detail?.crateq"
                        (click)="requestCrateQRelease(release_detail?.id, release_detail?.versions, release_detail?.crateq)"
                    >
                        Remove crateQ
                    </button>
                </div>
                <div class="zip-dropbox">
                    <button class="rated" *ngIf="isLoggedIn && release_detail?.rated" (click)="requestDropboxRelease(release_detail?.id)">Add to Dropbox</button>
                </div>
                <div class="zip-download">
                    <button class="unrated" *ngIf="!isLoggedIn || !release_detail?.rated">Rate Song to Download</button>
                    <button class="rated" *ngIf="isLoggedIn && release_detail?.rated" (click)="requestDownloadRelease(release_detail?.id)">Download Zip</button>
                </div>
                <div class="version-container clearfix">
                    <div class="version-item" *ngFor="let v of release_detail?.versions">
                        <div class="version-play">
                            <a href="" (click)="requestPlayVersion($event, v.id)"></a>
                        </div>
                        <div class="version-title">
                            {{ v.type }}
                        </div>
                        <div *ngIf="isLoggedIn && release_detail?.rated" class="version-download">
                            <span (click)="requestDownloadVersion(release_detail?.id, v.id)"></span>
                        </div>
                        <div *ngIf="isLoggedIn && release_detail?.rated" class="version-dropbox">
                            <span (click)="requestDropboxVersion(release_detail?.id, v.id)"></span>
                        </div>
                        <div *ngIf="isLoggedIn && release_detail?.rated" class="version-crateq" [class.crateq-added]="v.crateq > 0">
                            <span (click)="requestCrateQVersion(release_detail?.id, v.id, v.crateq)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
