<section class="modal-detail crateq-popup">
    <div class="modal-info">
        <div class="modal-header">
            <div (click)="closeModal()" class="modal-close-button" title="Close CrateQ Popup"></div>
        </div>
        <div class="modal-container clearfix">
            <div class="col-sm-5">
                <div class="release-image">
                    <img src="assets/img/bg-crateQ-logo.png" width="250" />
                </div>
                <a [href]="'http://www.crateq.com/lnrp'" target="_blank">
                    <div class="release-image">
                        <img src="assets/img/features-crateQ.png" width="250" />
                    </div>
                </a>
            </div>
            <div class="col-sm-7">
                <div class="title">Introducing crateQ</div>
                <div class="content">
                    <div>We have integrated our content into a cross-platform desktop app that will not only serve as a
                        "desktop downloader", but one that you can use interactively alongside your DJ software.</div>
                    <br />
                    <div>When you click on the “Q” icon for any Late Night release, that track will be sent to the
                        crateQ desktop app. Here you can enable auto downloading on the work station/computer crateQ is
                        installed on, or download the tracks when you’re ready to.</div>
                    <br />
                </div>
                <div>crateQ features:</div>
                <div class="feature-content">
                    <p>* Search, preview, queue, and download</p>
                    <p>* Batch download files automatically</p>
                    <p>* Drag and drop any downloaded file from crateQ directly into your DJ software of choice</p>
                    <p>* Widget mode allows you to float the app on top of your DJ software so no more minimizing and
                        downloading from a web browser</p>
                </div>
                <div class="crateq-download-buttons zip-download">
                    <button class="rated btn-mac" (click)="download()">DOWNLOAD crateQ</button>
                </div>
                <div class="text-right">
                    <label class="cursor-pointer">
                        <input type="checkbox" name="isChecked" [(ngModel)]="isChecked">
                        Don't show this again
                    </label>
                </div>
            </div>
        </div>
    </div>
</section>