<section class="password-reset">
    <div class="header">
        <div class="container">
            <h1>Reset Your Password</h1>
            <h3>Use the form below to reset your password.</h3>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-4 col-lg-offset-4">
            <form (ngSubmit)="sendResetForm(passwordForm.value)" #passwordForm="ngForm">
                <div class="form-group">
                    <input ngModel type="hidden" name="code" [(ngModel)]="reset_code" />
                    <input ngModel type="text" name="password" id="password" placeholder="New Password" class="form-control input-lg" />
                </div>
                <button type="submit" class="button button-gold-border">Reset</button>
            </form>
        </div>
    </div>
</section>
