<section>
    <div class="modal-body">
        <div class="contents">
            <h3>{{title}}</h3>
            <p class="font-weight-light">{{message}}</p>        
        </div>
        <div class="button-group">
            <button class="button button-gold-border" (click)="modalClose(true)">Continue To Late Night Record Pool</button>
            <button routerLink="/contact" class="button button-gold-border" (click)="modalClose(false)">Leave Us A Message</button>
        </div>
        <div class="text-right">
            <label class="cursor-pointer text-white">
                <input type="checkbox" name="isChecked" [(ngModel)]="isChecked" class="mt-0" >
                Don't show this again
            </label>
        </div>
    </div>
    <div class="modal-overlay"></div>
</section>
