<footer class="container" [ngClass]="{'display-none': isBlog}">
    <!-- 768px or more -->
    <div [ngClass]="{'hidden-xs': !isDesktop}">
        <section class="footer-top-section row visible-lg">
            <div class="footer-logo col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <a routerLink="/" class="footer-logo-img">Late Night Record Pool</a>
            </div>
            <div class="footer-search-container col-lg-9">
                <form (ngSubmit)="onSubmit(searchForm.value)" #searchForm="ngForm">
                    <input type="text" name="searchTerm" class="input footer-search-box" placeholder="Search..." [(ngModel)]="searchTerm"/>
                    <button type="submit" class="footer-search-btn">Search</button>
                </form>
                <a routerLink="/advanced" class="footer-adv-search-link">Advanced Search</a>
            </div>
        </section>
        <section class="footer-main-section row">
            <div class="col-lg-3">
                <a routerLink="/pricing" class="button button-gold-background">Plans &amp; Pricing</a>
                <ul>
                    <li><a routerLink="/trending">Trending</a></li>
                    <li><a routerLink="/top">Top Downloads</a></li>
                    <li><a routerLink="/new">New Music</a></li>
                    <li><a routerLink="/releases">All Music</a></li>
                    <li><a routerLink="/advanced">Search Music</a></li>
                    <li><a routerLink="/pricing">About &amp; Policies</a></li>
                    <li><a routerLink="/faq">Frequently Asked Questions</a></li>
                    <li><a routerLink="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Account</h4>
                <ul>
                    <li><a routerLink="/signup" *ngIf="!isLoggedIn">Sign Up</a></li>
                    <li><a href="" (click)="openRenew($event)" *ngIf="!isLoggedIn">Renew Your Account</a></li>
                    <li><a href="" *ngIf="!isLoggedIn" (click)="openLogin($event)">Login</a></li>
                    <li><a routerLink="/account" *ngIf="isLoggedIn">My Account</a></li>
                    <li><a href="mailto: submissions@latenightrecordpool.com">Submit Music</a></li>
                    <li><a (click)="toggleDesktop($event)">Desktop Version</a></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h4>Genres</h4>
                <ul class="footer-genres">
                    <li class="footer-genre-item" *ngFor="let genre of parent_genres">
                        <a (click)="setGenre(genre.id, genre.name)">{{ genre.name }}</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="footer-social-section row">
            <a href="https://twitter.com/lnrecordpool" target="_blank" class="social-icon twitter">Twitter</a>
            <a href="https://www.instagram.com/latenightrecordpool/" target="_blank" class="social-icon instagram">Instagram</a>
            <a href="https://www.facebook.com/Late-Night-Record-Pool-100690459982566/" target="_blank" class="social-icon facebook">Facebook</a>
        </section>
        <section class="footer-copyright-section row">
            <p class="copyright">All content copyright &copy;2016-2020 Late Night Record Pool, and/or the respective artists</p>
        </section>
    </div>
    <!-- below 767px -->
    <div class="visible-xs footer-mobile" [ngClass]="{'hidden': isDesktop}">
        <section class="footer-top-section">
            <a routerLink="/" class="footer-logo-img">Late Night Record Pool</a>
            <a href="https://twitter.com/lnrecordpool" target="_blank" class="social-icon twitter">Twitter</a>
            <a href="https://www.instagram.com/latenightrecordpool/" target="_blank" class="social-icon instagram">Instagram</a>
            <a href="https://www.facebook.com/Late-Night-Record-Pool-100690459982566/" target="_blank" class="social-icon facebook">Facebook</a>
        </section>
        <section class="footer-main-section">
            <ul>
                <li><a routerLink="/signup" *ngIf="!isLoggedIn">Sign Up</a></li>
                <li><a (click)="moveToScroll('front-features-mobile')">Features & Benefits</a></li>
                <li><a (click)="moveToScroll('front-plans')">Plans & Pricing</a></li>
                <li><a (click)="moveToScroll('front-contactus')">Contact Us</a></li>
                <li><a (click)="toggleDesktop($event)">Desktop Version</a></li>
                <!-- <li><a>Submit Music</a></li> -->
            </ul>
        </section>
        <section class="footer-copyright-section">
            <p class="copyright">All Content Copyright © 2019 Late Night Record Pool LLC, and/or respective artists.</p>
        </section>
    </div>
</footer>
