<section class="faq">
    <div class="header">
        <div class="container">
            <h1>{{ pageTitle }}</h1>
        </div>
    </div>
    <div class="container" [innerHTML]="pageContent | safeHTML"></div>
</section>
